azure/repind-ri-ws/src/webservices/Individu/NormalizePhoneNumberWS/src/main/webapp/WEB-INF/wsdl/V1/passenger_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="NormalizePhoneNumberRequestElement" type="tns:NormalizePhoneNumberRequest"/>
  <xsd:element name="NormalizePhoneNumberResponseElement" type="tns:NormalizePhoneNumberResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="NormalizePhoneNumberRequest">
    <xsd:sequence>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode">
        <xsd:annotation>
          <xsd:documentation>&lt;p>International dialing codes&lt;/p>&lt;p>For instance: 33 for FR&lt;/p>&lt;p>+33 or (33) are also authorized&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="phoneNumber" type="xsd1:DTypePhoneNumber">
        <xsd:annotation>
          <xsd:documentation>&lt;p>National phone number&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestor" type="xsd2:Requestor"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NormalizePhoneNumberResponse">
    <xsd:sequence>
      <xsd:element name="normalizedInternationalCountryCode" type="xsd1:DTypeInternationalCountryCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Normalized international dialing codes&lt;/p>&lt;p>For instance: 33 for FR&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="normalizedNationalPhoneNumber" type="xsd1:DTypeNationalPhoneNumber" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Normalized national phone number&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="normalizedInternationalPhoneNumber" type="xsd1:DTypeInternationalPhoneNumber" minOccurs="0"/>
      <xsd:element name="normalizedTerminalType" type="xsd1:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="normalizedTerminalTypeDetail" type="xsd1:DTypeNormalizedTerminalTypeDetail" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v01.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
