azure/repind-ri-ws/src/webservices/Individu/NormalizePhoneNumberWS/src/main/webapp/WEB-INF/wsdl/V1/passenger_response-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/response-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/response-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="BusinessErrorBlocElement" type="tns:BusinessErrorBloc"/>

  <!-- types declarations -->
  <xsd:complexType name="BusinessError">
    <xsd:complexContent>
      <xsd:extension base="xsd1:BusinessErrorCommon">
        <xsd:sequence>
      <xsd:element name="errorCode" type="tns:BusinessErrorCodeEnum" minOccurs="0"/>
      <xsd:element name="otherErrorCode" type="xsd2:DTypeErrorCode" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessErrorBloc">
    <xsd:sequence>
      <xsd:element name="businessError" type="tns:BusinessError"/>
      <xsd:element name="internalBusinessError" type="xsd1:InternalBusinessError" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorCodeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERROR_131"/>
      <xsd:enumeration value="ERROR_701"/>
      <xsd:enumeration value="ERROR_702"/>
      <xsd:enumeration value="ERROR_703"/>
      <xsd:enumeration value="ERROR_705"/>
      <xsd:enumeration value="ERROR_905"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.responseV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
