repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/notifysecurityeventforindividual/V1/passenger_securityevent-v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/securityevent-v5/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/securityevent-v5/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="5.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="DetailsBlockElement" type="tns:DetailsBlock"/>

  <!-- types declarations -->
  <xsd:complexType name="DetailsBlock">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypeEventDetailsKey"/>
      <xsd:element name="value" type="xsd1:DTypeEventDetailsValue"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.securityeventV5.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
