repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/notifysecurityeventforindividual/V1/passenger_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/securityevent-v5/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/securityevent-v5/xsd" schemaLocation="passenger_securityevent-v5.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="EventBlockElement" type="tns:EventBlock"/>
  <xsd:element name="NotifySecurityEventForIndividualMsgElement" type="tns:NotifySecurityEventForIndividualMsg"/>

  <!-- types declarations -->
  <xsd:complexType name="EventBlock">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin"/>
      <xsd:element name="date" type="xsd:dateTime"/>
      <xsd:element name="type" type="xsd1:DTypeEventType"/>
      <xsd:element name="eventDetails" type="xsd2:DetailsBlock" minOccurs="0" maxOccurs="20"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotifySecurityEventForIndividualMsg">
    <xsd:sequence>
      <xsd:element name="eventBlock" type="tns:EventBlock"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v01.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
