azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/provideIndividualReferenceTable/V2/passenger_ProvideIndividualReferenceTableService-v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<wsdl:definitions name="ProvideIndividualReferenceTableService-v2"

targetNamespace="http://www.af-klm.com/services/passenger/ProvideIndividualReferenceTableService-v2/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/ProvideIndividualReferenceTableService-v2/wsdl"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v2/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v2/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/data-v2/xsd" schemaLocation="passenger_data-v2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v2/xsd" schemaLocation="passenger_response-v2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgProvideIndividualReferenceTableRequest">
    <wsdl:part name="request" element="xsd1:ProvideIndividualReferenceTableRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualReferenceTableResponse">
    <wsdl:part name="response" element="xsd1:ProvideIndividualReferenceTableResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessErrorBlocBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd2:BusinessErrorBlocElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="ProvideIndividualReferenceTableService-v2">
    <wsdl:operation name="provideIndividualReferenceTable">
      <wsdl:input message="tns:msgProvideIndividualReferenceTableRequest"/>
      <wsdl:output message="tns:msgProvideIndividualReferenceTableResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessErrorBlocBusinessFault" message="tns:msgBusinessErrorBlocBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ProvideIndividualReferenceTableService-v2-soap11http" type="tns:ProvideIndividualReferenceTableService-v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="provideIndividualReferenceTable">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualReferenceTableService-v2/provideIndividualReferenceTable" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessErrorBlocBusinessFault">
        <soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ProvideIndividualReferenceTableServiceService-v2">
    <wsdl:port name="ProvideIndividualReferenceTableService-v2-soap11http" binding="tns:ProvideIndividualReferenceTableService-v2-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(ProvideIndividualReferenceTableServiceV2.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
