azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/provideIndividualReferenceTable/V2/passenger_request-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/request-v2/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/request-v2/xsd" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="2.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->
  <xsd:element name="PaginationElement" type="tns:Pagination"/>
  <xsd:element name="FilterElement" type="tns:Filter"/>
  <xsd:element name="FiltersElement" type="tns:Filters"/>

  <!-- types declarations -->
  <xsd:complexType name="Pagination">
    <xsd:sequence>
      <xsd:element name="index" type="xsd:int"/>
      <xsd:element name="maxResults" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Filter">
    <xsd:sequence>
      <xsd:element name="key" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Filters">
    <xsd:sequence>
      <xsd:element name="filter" type="tns:Filter" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.requestV2.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
