azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/provideIndividualReferenceTable/V2/passenger_response-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/response-v2/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/response-v2/xsd" 
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="2.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="BusinessErrorBlocElement" type="tns:BusinessErrorBloc"/>
  <xsd:element name="SubRefTableElement" type="tns:SubRefTable"/>
  <xsd:element name="RowElement" type="tns:Row"/>
  <xsd:element name="ColumnElement" type="tns:Column"/>

  <!-- types declarations -->
  <xsd:complexType name="BusinessError">
    <xsd:complexContent>
      <xsd:extension base="xsd2:BusinessErrorCommon">
        <xsd:sequence>
      <xsd:element name="errorCode" type="tns:BusinessErrorCodeEnum" minOccurs="0"/>
      <xsd:element name="otherErrorCode" type="xsd1:DTypeErrorCode" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessErrorBloc">
    <xsd:sequence>
      <xsd:element name="businessError" type="tns:BusinessError"/>
      <xsd:element name="internalBusinessError" type="xsd2:InternalBusinessError" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubRefTable">
    <xsd:sequence>
      <xsd:element name="subRefTableName" type="xsd:string"/>
      <xsd:element name="row" type="tns:Row" maxOccurs="200"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Row">
    <xsd:sequence>
      <xsd:element name="column" type="tns:Column" maxOccurs="30"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Column">
    <xsd:sequence>
      <xsd:element name="key" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorCodeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERROR_001"/>
      <xsd:enumeration value="ERROR_003"/>
      <xsd:enumeration value="ERROR_120"/>
      <xsd:enumeration value="ERROR_131"/>
      <xsd:enumeration value="ERROR_133"/>
      <xsd:enumeration value="ERROR_134"/>
      <xsd:enumeration value="ERROR_135"/>
      <xsd:enumeration value="ERROR_140"/>
      <xsd:enumeration value="ERROR_209"/>
      <xsd:enumeration value="ERROR_212"/>
      <xsd:enumeration value="ERROR_277"/>
      <xsd:enumeration value="ERROR_382"/>
      <xsd:enumeration value="ERROR_384"/>
      <xsd:enumeration value="ERROR_385"/>
      <xsd:enumeration value="ERROR_387"/>
      <xsd:enumeration value="ERROR_538"/>
      <xsd:enumeration value="ERROR_551"/>
      <xsd:enumeration value="ERROR_701"/>
      <xsd:enumeration value="ERROR_702"/>
      <xsd:enumeration value="ERROR_703"/>
      <xsd:enumeration value="ERROR_705"/>
      <xsd:enumeration value="ERROR_706"/>
      <xsd:enumeration value="ERROR_707"/>
      <xsd:enumeration value="ERROR_708"/>
      <xsd:enumeration value="ERROR_709"/>
      <xsd:enumeration value="ERROR_710"/>
      <xsd:enumeration value="ERROR_711"/>
      <xsd:enumeration value="ERROR_712"/>
      <xsd:enumeration value="ERROR_713"/>
      <xsd:enumeration value="ERROR_714"/>
      <xsd:enumeration value="ERROR_715"/>
      <xsd:enumeration value="ERROR_716"/>
      <xsd:enumeration value="ERROR_717"/>
      <xsd:enumeration value="ERROR_718"/>
      <xsd:enumeration value="ERROR_730"/>
      <xsd:enumeration value="ERROR_731"/>
      <xsd:enumeration value="ERROR_732"/>
      <xsd:enumeration value="ERROR_902"/>
      <xsd:enumeration value="ERROR_905"/>
      <xsd:enumeration value="ERROR_932"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.responseV2.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
