azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/provideIndividualReferenceTable/V2/passenger_data-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v2/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v2/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/request-v2/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd4="http://www.af-klm.com/services/passenger/response-v2/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="2.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/request-v2/xsd" schemaLocation="passenger_request-v2.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v2/xsd" schemaLocation="passenger_response-v2.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideIndividualReferenceTableRequestElement" type="tns:ProvideIndividualReferenceTableRequest"/>
  <xsd:element name="ProvideIndividualReferenceTableResponseElement" type="tns:ProvideIndividualReferenceTableResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideIndividualReferenceTableRequest">
    <xsd:sequence>
      <xsd:element name="tableName" type="xsd1:DTypeTableName"/>
      <xsd:element name="market" type="xsd1:DTypeMarketCode" minOccurs="0"/>
      <xsd:element name="domain" type="xsd1:DTypeDomainCode" minOccurs="0"/>
      <xsd:element name="language" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="country" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="filters" type="xsd2:Filters" minOccurs="0"/>
      <xsd:element name="pagination" type="xsd2:Pagination" minOccurs="0"/>
      <xsd:element name="requestor" type="xsd3:Requestor"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideIndividualReferenceTableResponse">
    <xsd:sequence>
      <xsd:element name="tableName" type="xsd1:DTypeTableName"/>
      <xsd:element name="subRefTable" type="xsd4:SubRefTable" minOccurs="0" maxOccurs="20"/>
      <xsd:element name="totalResults" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v02.dataV2.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
