azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V2/passenger_SicIndividuType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd" schemaLocation="passenger_SicDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd" schemaLocation="passenger_SoftComputingType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="HabilitationElement" type="tns:Habilitation"/>
  <xsd:element name="IndividualInformationExceptionElement" type="tns:IndividualInformationException"/>
  <xsd:element name="IndividualElement" type="tns:Individual"/>
  <xsd:element name="IndividualInformationsElement" type="tns:IndividualInformations"/>
  <xsd:element name="AliasElement" type="tns:Alias"/>
  <xsd:element name="CivilianElement" type="tns:Civilian"/>
  <xsd:element name="ClientUsesElement" type="tns:ClientUses"/>
  <xsd:element name="AirFranceProfilElement" type="tns:AirFranceProfil"/>
  <xsd:element name="IndividualProfilElement" type="tns:IndividualProfil"/>
  <xsd:element name="SignatureElement" type="tns:Signature"/>
  <xsd:element name="PostalAddressTypeElement" type="tns:PostalAddressType"/>
  <xsd:element name="MediumUsageElement" type="tns:MediumUsage"/>
  <xsd:element name="AddressRoleElement" type="tns:AddressRole"/>
  <xsd:element name="TelecomTypeElement" type="tns:TelecomType"/>
  <xsd:element name="EmailTypeElement" type="tns:EmailType"/>
  <xsd:element name="ContractTypeElement" type="tns:ContractType"/>
  <xsd:element name="PostalAddressSICElement" type="tns:PostalAddressSIC"/>
  <xsd:element name="SignatureLightElement" type="tns:SignatureLight"/>
  <xsd:element name="PostalAddressSICResponseElement" type="tns:PostalAddressSICResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="Habilitation">
    <xsd:sequence>
      <xsd:element name="userId" type="xsd1:DTypeUserId" minOccurs="0"/>
      <xsd:element name="pwd" type="xsd1:DTypePwd" minOccurs="0"/>
      <xsd:element name="qalPwd" type="xsd1:DTypeQalPwd" minOccurs="0"/>
      <xsd:element name="keyCrypt" type="xsd1:DTypeKeyCrypt" minOccurs="0"/>
      <xsd:element name="newPwd" type="xsd1:DTypePwd" minOccurs="0"/>
      <xsd:element name="role" type="xsd1:DTypeRole" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformationException">
    <xsd:sequence>
      <xsd:element name="NoErr" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LibErr" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Individual">
    <xsd:sequence>
      <xsd:element name="civilian" type="tns:Civilian" minOccurs="0"/>
      <xsd:element name="individualInformations" type="tns:IndividualInformations"/>
      <xsd:element name="alias" type="tns:Alias" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="clientUses" type="tns:ClientUses" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="signature" type="tns:Signature" minOccurs="0" maxOccurs="4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformations">
    <xsd:sequence>
      <xsd:element name="clientNumber" type="xsd2:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="lastName" type="xsd2:DTypeSurname" minOccurs="0"/>
      <xsd:element name="gender" type="xsd2:DTypeGender" minOccurs="0"/>
      <xsd:element name="personnalIdentity" type="xsd2:DTypePersonalIdent" minOccurs="0"/>
      <xsd:element name="dateOfBirth" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd2:DTypeNationality" minOccurs="0"/>
      <xsd:element name="otherNationality" type="xsd2:DTypeNationality" minOccurs="0"/>
      <xsd:element name="secondFirstName" type="xsd2:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd2:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="flagNoFusion" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="status" type="xsd2:DTypeStatus" minOccurs="0"/>
      <xsd:element name="flagBankFraud" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="flagThirdTrap" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="civility" type="xsd2:CivilityEnum" minOccurs="0"/>
      <xsd:element name="lastNamePseudonym" type="xsd2:DTypeSurnameAlias" minOccurs="0"/>
      <xsd:element name="firstNamePseudonym" type="xsd2:DTypeFirstNameAlias" minOccurs="0"/>
      <xsd:element name="ginFusion" type="xsd2:DTypeGinMerged" minOccurs="0"/>
      <xsd:element name="dateFusion" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="password" type="xsd2:DTypePassword" minOccurs="0"/>
      <xsd:element name="managingCompany" type="xsd2:DTypeCompanyManager" minOccurs="0"/>
      <xsd:element name="lastNameSC" type="xsd2:DTypeSurname" minOccurs="0"/>
      <xsd:element name="firstNameSC" type="xsd2:DTypeFirstName" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Alias">
    <xsd:sequence>
      <xsd:element name="lastName" type="xsd1:DTypeNom" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypePrenom" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:CiviliteEnum" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Civilian">
    <xsd:sequence>
      <xsd:element name="titleCode" type="xsd2:TitleCodeEnum" minOccurs="0"/>
      <xsd:element name="frenchWording" type="xsd2:DTypeLabelFR" minOccurs="0"/>
      <xsd:element name="englishWording" type="xsd2:DTypeLabelGB" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClientUses">
    <xsd:sequence>
      <xsd:element name="srin" type="xsd1:DTypeSrin" minOccurs="0"/>
      <xsd:element name="work" type="xsd1:DTypeMetier" minOccurs="0"/>
      <xsd:element name="authorizedModification" type="xsd1:DTypeModifAutorisee" minOccurs="0"/>
      <xsd:element name="dateOfModification" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AirFranceProfil">
    <xsd:sequence>
      <xsd:element name="regimental" type="xsd1:DTypeMatricule" minOccurs="0"/>
      <xsd:element name="rank" type="xsd1:DTypeRang" minOccurs="0"/>
      <xsd:element name="notesAddress" type="xsd1:DTypeAdresseNotes" minOccurs="0"/>
      <xsd:element name="password" type="xsd1:DTypeMotDePasse" minOccurs="0"/>
      <xsd:element name="function" type="xsd1:DTypeFonction" minOccurs="0"/>
      <xsd:element name="rReference" type="xsd1:DTypeReferenceR" minOccurs="0"/>
      <xsd:element name="typology" type="xsd1:DTypeTypologie" minOccurs="0"/>
      <xsd:element name="originCode" type="xsd1:DTypeCodeOrigine" minOccurs="0"/>
      <xsd:element name="compagnyCode" type="xsd1:DTypeCodeCompagnie" minOccurs="0"/>
      <xsd:element name="statusCode" type="xsd1:DTypeCodeStatut" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualProfil">
    <xsd:sequence>
      <xsd:element name="profilKey" type="xsd2:DTypeProfileKey" minOccurs="0"/>
      <xsd:element name="fbOptin" type="xsd2:DTypeMailingAuthorisation" minOccurs="0"/>
      <xsd:element name="flagSolvency" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="proAreaCode" type="xsd2:DTypeDomainProCode" minOccurs="0"/>
      <xsd:element name="proAreaWording" type="xsd2:DTypeLabelDomainPro" minOccurs="0"/>
      <xsd:element name="civilianCode" type="xsd2:DTypeMaritalCode" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd2:LanguageCodesEnum" minOccurs="0"/>
      <xsd:element name="proFunctionCode" type="xsd2:ProfessionalCodesEnum" minOccurs="0"/>
      <xsd:element name="proFunctionWording" type="xsd2:DTypeLabelFunctionPro" minOccurs="0"/>
      <xsd:element name="childrenNumber" type="xsd2:DTypeChildrenNb" minOccurs="0"/>
      <xsd:element name="customerSegment" type="xsd2:DTypeCustomerSegment" minOccurs="0"/>
      <xsd:element name="studentCode" type="xsd2:DTypeStudentCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:sequence>
      <xsd:element name="signatureType" type="xsd2:DTypeTypeSignature" minOccurs="0"/>
      <xsd:element name="site" type="xsd2:DTypeSite" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:DTypeSignature" minOccurs="0"/>
      <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="hour" type="xsd2:DTypeHour" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressType">
    <xsd:sequence>
      <xsd:element name="addressKey" type="xsd1:DTypeCleAdresse" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeCodeMedium" minOccurs="0"/>
      <xsd:element name="flagNormAddress" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeStatutMedium" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeRaisonSociale" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeVille" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeNumeroRue" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeCodePostal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
      <xsd:element name="cityLineFormat" type="xsd1:DTypeCityLineFormat" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MediumUsage">
    <xsd:sequence>
      <xsd:element name="workCode" type="xsd1:DTypeCodeAppliMetier" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressRole">
    <xsd:sequence>
      <xsd:element name="addressRoleCode" type="xsd2:DTypeCodeRoleAddress" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomType">
    <xsd:sequence>
      <xsd:element name="telecomKey" type="xsd2:DTypePhoneKey" minOccurs="0"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd2:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd2:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryId" minOccurs="0"/>
      <xsd:element name="regionCode" type="xsd2:DTypeRegionId" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="normalizedPhoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="normalizedCountryCode" type="xsd2:DTypeCountryId" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailType">
    <xsd:sequence>
      <xsd:element name="emailKey" type="xsd2:DTypeEmailKey" minOccurs="0"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd2:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="email" type="xsd2:DTypeEmail" minOccurs="0"/>
      <xsd:element name="fbOptin" type="xsd2:DTypeMailingAuthorisation" minOccurs="0"/>
      <xsd:element name="additionalInformations" type="xsd2:DTypeInfosCompl" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractType">
    <xsd:sequence>
      <xsd:element name="contractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="contractType" type="xsd1:TypeContratEnum" minOccurs="0"/>
      <xsd:element name="productType" type="xsd1:DTypeTypeProduit" minOccurs="0"/>
      <xsd:element name="productSubType" type="xsd1:DTypeSousTypeProduit" minOccurs="0"/>
      <xsd:element name="companyContractType" type="xsd1:DTypeCodeCieContrat" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersionProduit" minOccurs="0"/>
      <xsd:element name="contractStatus" type="xsd1:DTypeEtatContrat" minOccurs="0"/>
      <xsd:element name="validityStartDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="validityEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="tierLevel" type="xsd1:DTypeNiveauTiers" minOccurs="0"/>
      <xsd:element name="productFamilly" type="xsd1:DTypeFamilleProduit" minOccurs="0"/>
      <xsd:element name="iata" type="xsd1:DTypeIata" minOccurs="0"/>
      <xsd:element name="originCompany" type="xsd1:DTypeOrganismeOrigine" minOccurs="0"/>
      <xsd:element name="adhesionSource" type="xsd1:DTypeSourceAdhesion" minOccurs="0"/>
      <xsd:element name="primePermission" type="xsd1:DTypePermissionPriseDePrime" minOccurs="0"/>
      <xsd:element name="milesBalance" type="xsd1:DTypeSoldeMiles" minOccurs="0"/>
      <xsd:element name="qualifyingMiles" type="xsd1:DTypeMilesQualifiant" minOccurs="0"/>
      <xsd:element name="qualifyingHistMiles" type="xsd1:DTypeMilesQualifiantHist" minOccurs="0"/>
      <xsd:element name="qualifyingFlights" type="xsd1:DTypeSegmentsQualifiant" minOccurs="0"/>
      <xsd:element name="qualifyingHistFlights" type="xsd1:DTypeSegmentsQualifiantHist" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressSIC">
    <xsd:sequence>
      <xsd:element name="indicAdrNorm" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="adresseKey" type="xsd2:DTypeAddressKey" minOccurs="0"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd2:DTypeUsageNumber" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd2:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd2:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="city" type="xsd2:DTypeCity" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd2:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd2:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="district" type="xsd2:DTypeLocality" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd2:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd2:DTypeProvinceCode" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignatureLight">
    <xsd:sequence>
      <xsd:element name="site" type="xsd1:DTypeSite"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature"/>
      <xsd:element name="ipAddress" type="xsd1:DTypeIpAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressSICResponse">
    <xsd:sequence>
      <xsd:element name="indicAdrNorm" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="adresseKey" type="xsd2:DTypeAddressKey" minOccurs="0"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd2:DTypeUsageNumber" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd2:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd2:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="city" type="xsd2:DTypeCity" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd2:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd2:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="district" type="xsd2:DTypeLocality" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd2:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd2:DTypeProvinceCode" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="softComputingResponse" type="xsd3:SoftComputingResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sicwscreateupdateindividualuml.SicIndividuTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
