azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V2/SystemFault-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<xsd:schema 
  targetNamespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  version="1.0">
   <xsd:element name="SystemFault">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string"/>
            <xsd:element name="OriginatingError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ErrorTrace" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FaultDescription" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
