azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/passenger_CreateUpdateIndividualService-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<wsdl:definitions name="CreateUpdateIndividualService-v1"

targetNamespace="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v1/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v1/wsdl"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/CreateUpdateIndividualType-v1/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/CreateUpdateIndividualType-v1/xsd" schemaLocation="passenger_CreateUpdateIndividualType-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgCreateIndividualRequest">
    <wsdl:part name="request" element="xsd1:CreateIndividualRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgCreateIndividualResponse">
    <wsdl:part name="response" element="xsd1:CreateIndividualResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgUpdateIndividualRequest">
    <wsdl:part name="request" element="xsd1:UpdateIndividualRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgUpdateIndividualResponse">
    <wsdl:part name="response" element="xsd1:UpdateIndividualResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd1:BusinessFaultElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="CreateUpdateIndividualService-v1">
    <wsdl:operation name="createIndividual">
      <wsdl:input message="tns:msgCreateIndividualRequest"/>
      <wsdl:output message="tns:msgCreateIndividualResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="updateIndividual">
      <wsdl:input message="tns:msgUpdateIndividualRequest"/>
      <wsdl:output message="tns:msgUpdateIndividualResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CreateUpdateIndividualService-v1-soap11http" type="tns:CreateUpdateIndividualService-v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createIndividual">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v1/createIndividual" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateIndividual">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v1/updateIndividual" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CreateUpdateIndividualServiceService-v1">
    <wsdl:port name="CreateUpdateIndividualService-v1-soap11http" binding="tns:CreateUpdateIndividualService-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(CreateUpdateIndividualServiceV1.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
