azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/passenger_CreateUpdateIndividualType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/CreateUpdateIndividualType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/CreateUpdateIndividualType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" schemaLocation="passenger_SicIndividuType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd" schemaLocation="passenger_SicDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CreateUpdateIndividualRequestElement" type="tns:CreateUpdateIndividualRequest"/>
  <xsd:element name="CreateUpdateIndividualResponseElement" type="tns:CreateUpdateIndividualResponse"/>
  <xsd:element name="RequestElement" type="tns:Request"/>
  <xsd:element name="CreateIndividualRequestElement" type="tns:CreateIndividualRequest"/>
  <xsd:element name="CreateIndividualResponseElement" type="tns:CreateIndividualResponse"/>
  <xsd:element name="UpdateIndividualRequestElement" type="tns:UpdateIndividualRequest"/>
  <xsd:element name="UpdateIndividualResponseElement" type="tns:UpdateIndividualResponse"/>
  <xsd:element name="BusinessFaultElement" type="tns:BusinessFault"/>

  <!-- types declarations -->
  <xsd:complexType name="CreateUpdateIndividualRequest">
    <xsd:sequence>
      <xsd:element name="individual" type="xsd1:IndividualInformations"/>
      <xsd:element name="habilitation" type="xsd1:Habilitation" minOccurs="0"/>
      <xsd:element name="request" type="tns:Request"/>
      <xsd:element name="signature" type="xsd1:Signature"/>
      <xsd:element name="lstTelecoms" type="xsd1:TelecomType" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="civilian" type="xsd1:Civilian" minOccurs="0"/>
      <xsd:element name="lstEmails" type="xsd1:EmailType" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="profil" type="xsd1:IndividualProfil" minOccurs="0"/>
      <xsd:element name="lstPostalAddress" type="xsd1:PostalAddressSIC" minOccurs="0" maxOccurs="3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateUpdateIndividualResponse">
    <xsd:sequence>
      <xsd:element name="civilian" type="xsd1:Civilian" minOccurs="0"/>
      <xsd:element name="lstEmails" type="xsd1:EmailType" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="profil" type="xsd1:IndividualProfil" minOccurs="0"/>
      <xsd:element name="lstPostalAddress" type="xsd1:PostalAddressSIC" minOccurs="0" maxOccurs="3"/>
      <xsd:element name="individual" type="xsd1:IndividualInformations"/>
      <xsd:element name="lstTelecoms" type="xsd1:TelecomType" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Request">
    <xsd:sequence>
      <xsd:element name="ApplicationCode" type="xsd2:DTypeCodeAppliMetier"/>
      <xsd:element name="visaKey" type="xsd2:DTypeCleVisa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateIndividualRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:CreateUpdateIndividualRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateIndividualResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:CreateUpdateIndividualResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpdateIndividualRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:CreateUpdateIndividualRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpdateIndividualResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:CreateUpdateIndividualResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BusinessError"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ADH_ERROR"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sicwscreateupdateindividualuml.CreateUpdateIndividualTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
