azure/repind-ri-ws/src/test/bamboo/resources/wsdl/CreateOrUpdateAnIndividual-v6.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2015-02-20 15:50:25.735--><!--SOA repository reference: W000442-v6.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<!-- Uploaded in SOA repository on 2015-02-20 15:50:25.735 -->
<!-- SOA repository reference: W000442-v6.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd4="http://www.af-klm.com/services/passenger/data-v6/xsd" xmlns:xsd5="http://www.af-klm.com/services/passenger/response-v6/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v6/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateUpdateIndividualService-v6" targetNamespace="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v6/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_data-v6.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/data-v6/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1254258"/>
</xsd:schema>
<xsd:schema>
<!-- previous value passenger_response-v6.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/response-v6/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1254262"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1254250"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgCreateIndividualRequest">
<wsdl:part element="xsd4:CreateUpdateIndividualRequestElement" name="request"/>
</wsdl:message>
<wsdl:message name="msgCreateIndividualResponse">
<wsdl:part element="xsd4:CreateUpdateIndividualResponseElement" name="response"/>
</wsdl:message>
<wsdl:message name="msgBusinessErrorBlocBusinessFault">
<wsdl:part element="xsd5:BusinessErrorBlocElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="CreateUpdateIndividualService-v6">
<wsdl:operation name="createIndividual">
<wsdl:input message="tns:msgCreateIndividualRequest"/>
<wsdl:output message="tns:msgCreateIndividualResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessErrorBlocBusinessFault" name="BusinessErrorBlocBusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CreateUpdateIndividualService-v6-soap11http" type="tns:CreateUpdateIndividualService-v6">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createIndividual">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v6/createIndividual" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessErrorBlocBusinessFault">
<soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CreateUpdateIndividualServiceService-v6">
<wsdl:port binding="tns:CreateUpdateIndividualService-v6-soap11http" name="CreateUpdateIndividualService-v6-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(CreateUpdateIndividualServiceV6.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>