azure/repind-ri-ws/src/test/bamboo/resources/wsdl/CreateOrUpdateComPrefBasedOnPermission-v1.0.0_2.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2018-03-13 08:55:16.762--><!--SOA repository reference: W001950-v1.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<!-- Uploaded in SOA repository on 2018-03-13 08:55:16.762 -->
<!-- SOA repository reference: W001950-v1.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v1/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/CreateOrUpdateComPrefBasedOnPermission-v1/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateOrUpdateComPrefBasedOnPermission-v1" targetNamespace="http://www.af-klm.com/services/passenger/CreateOrUpdateComPrefBasedOnPermission-v1/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_data-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/data-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1660516"/>
</xsd:schema>
<xsd:schema>
<!-- previous value passenger_response-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1660508"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1660507"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgCreateOrUpdateComPrefBasedOnPermissionRequest">
<wsdl:part element="xsd1:CreateOrUpdateComPrefBasedOnPermissionRequestElement" name="request"/>
</wsdl:message>
<wsdl:message name="msgCreateOrUpdateComPrefBasedOnPermissionResponse">
<wsdl:part element="xsd1:CreateOrUpdateComPrefBasedOnPermissionResponseElement" name="response"/>
</wsdl:message>
<wsdl:message name="msgBusinessErrorBlocBusinessFault">
<wsdl:part element="xsd2:BusinessErrorBlocElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="CreateOrUpdateComPrefBasedOnPermission-v1">
<wsdl:operation name="createOrUpdateComPrefBasedOnPermission">
<wsdl:input message="tns:msgCreateOrUpdateComPrefBasedOnPermissionRequest"/>
<wsdl:output message="tns:msgCreateOrUpdateComPrefBasedOnPermissionResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessErrorBlocBusinessFault" name="BusinessErrorBlocBusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CreateOrUpdateComPrefBasedOnPermission-v1-soap11http" type="tns:CreateOrUpdateComPrefBasedOnPermission-v1">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createOrUpdateComPrefBasedOnPermission">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateOrUpdateComPrefBasedOnPermission-v1/createOrUpdateComPrefBasedOnPermission" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessErrorBlocBusinessFault">
<soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CreateOrUpdateComPrefBasedOnPermissionService-v1">
<wsdl:port binding="tns:CreateOrUpdateComPrefBasedOnPermission-v1-soap11http" name="CreateOrUpdateComPrefBasedOnPermission-v1-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(CreateOrUpdateComPrefBasedOnPermissionV1.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>