azure/repind-ri-ws/src/test/bamboo/resources/wsdl/CreateOrUpdateRoleContract-v1.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2016-09-14 08:40:07.878--><!--SOA repository reference: W001567-v1.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<!-- Uploaded in SOA repository on 2016-09-14 08:40:07.878 -->
<!-- SOA repository reference: W001567-v1.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v1/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/CreateOrUpdateRoleContractService-v1/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateOrUpdateRoleContractService-v1" targetNamespace="http://www.af-klm.com/services/passenger/CreateOrUpdateRoleContractService-v1/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_data-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/data-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1445362"/>
</xsd:schema>
<xsd:schema>
<!-- previous value passenger_response-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1445371"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1445353"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgCreateRoleContractRequest">
<wsdl:part element="xsd1:CreateUpdateRoleContractRequestElement" name="request"/>
</wsdl:message>
<wsdl:message name="msgCreateRoleContractResponse">
<wsdl:part element="xsd1:CreateUpdateRoleContractResponseElement" name="response"/>
</wsdl:message>
<wsdl:message name="msgBusinessErrorBlocBusinessFault">
<wsdl:part element="xsd2:BusinessErrorBlocElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="CreateOrUpdateRoleContractService-v1">
<wsdl:operation name="createRoleContract">
<wsdl:input message="tns:msgCreateRoleContractRequest"/>
<wsdl:output message="tns:msgCreateRoleContractResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessErrorBlocBusinessFault" name="BusinessErrorBlocBusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CreateOrUpdateRoleContractService-v1-soap11http" type="tns:CreateOrUpdateRoleContractService-v1">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createRoleContract">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateOrUpdateRoleContractService-v1/createRoleContract" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessErrorBlocBusinessFault">
<soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CreateOrUpdateRoleContractServiceService-v1">
<wsdl:port binding="tns:CreateOrUpdateRoleContractService-v1-soap11http" name="CreateOrUpdateRoleContractService-v1-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(CreateOrUpdateRoleContractServiceV1.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>