azure/repind-ri-ws/src/test/bamboo/resources/wsdl/CreateOrUpdateAnIndividual-v8.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2017-09-28 08:32:42.558--><!--SOA repository reference: W000442-v8.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<!-- Uploaded in SOA repository on 2017-09-28 08:32:42.558 -->
<!-- SOA repository reference: W000442-v8.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd8="http://www.af-klm.com/services/passenger/data-v8/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v8/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd9="http://www.af-klm.com/services/passenger/response-v8/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateUpdateIndividualService-v8" targetNamespace="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v8/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_data-v8.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/data-v8/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1601365"/>
</xsd:schema>
<xsd:schema>
<!-- previous value passenger_response-v8.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/response-v8/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1601374"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1601356"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgCreateIndividualRequest">
<wsdl:part element="xsd8:CreateUpdateIndividualRequestElement" name="request"/>
</wsdl:message>
<wsdl:message name="msgCreateIndividualResponse">
<wsdl:part element="xsd8:CreateUpdateIndividualResponseElement" name="response"/>
</wsdl:message>
<wsdl:message name="msgBusinessErrorBlocBusinessFault">
<wsdl:part element="xsd9:BusinessErrorBlocElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="CreateUpdateIndividualService-v8">
<wsdl:operation name="createIndividual">
<wsdl:input message="tns:msgCreateIndividualRequest"/>
<wsdl:output message="tns:msgCreateIndividualResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessErrorBlocBusinessFault" name="BusinessErrorBlocBusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CreateUpdateIndividualService-v8-soap11http" type="tns:CreateUpdateIndividualService-v8">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createIndividual">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateUpdateIndividualService-v8/createIndividual" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessErrorBlocBusinessFault">
<soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CreateUpdateIndividualServiceService-v8">
<wsdl:port binding="tns:CreateUpdateIndividualService-v8-soap11http" name="CreateUpdateIndividualService-v8-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(CreateUpdateIndividualServiceV8.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>