azure/repind-ri-ws/src/test/bamboo/resources/wsdl/CreateAProspect-v2.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2014-07-28 08:25:30.225--><!--SOA repository reference: W000842-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<!-- Uploaded in SOA repository on 2013-04-15 15:41:48.711 -->
<!-- SOA repository reference: W000842-v1.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/createAProspectDataType-v1/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/CreateAProspectService-v1/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreateAProspectService-v1" targetNamespace="http://www.af-klm.com/services/passenger/CreateAProspectService-v1/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_createAProspectDataType-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/createAProspectDataType-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1069927"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1069926"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgCreateAProspectRequest">
<wsdl:part element="xsd1:CreateAProspectRequestElement" name="Request"/>
</wsdl:message>
<wsdl:message name="msgCreateAProspectResponse">
<wsdl:part element="xsd1:CreateAProspectResponseElement" name="Response"/>
</wsdl:message>
<wsdl:message name="msgBusinessFault">
<wsdl:part element="xsd1:BusinessErrorElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="CreateAProspectService-v1">
<wsdl:operation name="createAProspect">
<wsdl:input message="tns:msgCreateAProspectRequest"/>
<wsdl:output message="tns:msgCreateAProspectResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessFault" name="BusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CreateAProspectService-v1-soap11http" type="tns:CreateAProspectService-v1">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="createAProspect">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateAProspectService-v1/createAProspect" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessFault">
<soap:fault name="BusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CreateAProspectServiceService-v1">
<wsdl:port binding="tns:CreateAProspectService-v1-soap11http" name="CreateAProspectService-v1-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(CreateAProspectServiceV1.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>