azure/repind-ri-ws/src/test/bamboo/resources/wsdl/EnrollMyAccountCustomer-v3.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2018-07-24 08:15:21.429--><!--SOA repository reference: W000431-v3.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201410130840 -->
<!-- Uploaded in SOA repository on 2018-07-24 08:15:21.429 -->
<!-- SOA repository reference: W000431-v3.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201410130840  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/data-v3/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/EnrollMyAccountCustomerService-v3/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EnrollMyAccountCustomerService-v3" targetNamespace="http://www.af-klm.com/services/passenger/EnrollMyAccountCustomerService-v3/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_data-v3.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/data-v3/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1694410"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1694409"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgEnrollMyAccountCustomerRequest">
<wsdl:part element="xsd2:EnrollMyAccountCustomerRequestElement" name="request"/>
</wsdl:message>
<wsdl:message name="msgEnrollMyAccountCustomerResponse">
<wsdl:part element="xsd2:EnrollMyAccountCustomerResponseElement" name="response"/>
</wsdl:message>
<wsdl:message name="msgBusinessFault">
<wsdl:part element="xsd2:BusinessErrorElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="EnrollMyAccountCustomerService-v3">
<wsdl:operation name="enrollMyAccountCustomer">
<wsdl:input message="tns:msgEnrollMyAccountCustomerRequest"/>
<wsdl:output message="tns:msgEnrollMyAccountCustomerResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessFault" name="BusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="EnrollMyAccountCustomerService-v3-soap11http" type="tns:EnrollMyAccountCustomerService-v3">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="enrollMyAccountCustomer">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/EnrollMyAccountCustomerService-v3/enrollMyAccountCustomer" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessFault">
<soap:fault name="BusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EnrollMyAccountCustomerServiceService-v3">
<wsdl:port binding="tns:EnrollMyAccountCustomerService-v3-soap11http" name="EnrollMyAccountCustomerService-v3-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(EnrollMyAccountCustomerServiceV3.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>