azure/repind-ri-ws/src/test/bamboo/resources/wsdl/IdentifyCustomerCrossReferential-v1.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2015-11-27 10:32:07.312--><!--SOA repository reference: W001345-v1.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<!-- Uploaded in SOA repository on 2015-11-27 10:32:07.312 -->
<!-- SOA repository reference: W001345-v1.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/request-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v1/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/IdentifyCustomerCrossReferentialService-v1/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="IdentifyCustomerCrossReferentialService-v1" targetNamespace="http://www.af-klm.com/services/passenger/IdentifyCustomerCrossReferentialService-v1/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_request-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/request-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1359336"/>
</xsd:schema>
<xsd:schema>
<!-- previous value passenger_response-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1359328"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1359327"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgSearchRequest">
<wsdl:part element="xsd1:IdentifyCustomerCrossReferentialRequestElement" name="identifyCustomerCrossReferentialRequest"/>
</wsdl:message>
<wsdl:message name="msgSearchResponse">
<wsdl:part element="xsd2:IdentifyCustomerCrossReferentialResponseElement" name="identifyCustomerCrossReferentialResponse"/>
</wsdl:message>
<wsdl:message name="msgBusinessFault">
<wsdl:part element="xsd2:BusinessErrorElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="IdentifyCustomerCrossReferentialService-v1">
<wsdl:operation name="search">
<wsdl:input message="tns:msgSearchRequest"/>
<wsdl:output message="tns:msgSearchResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessFault" name="BusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IdentifyCustomerCrossReferentialService-v1-soap11http" type="tns:IdentifyCustomerCrossReferentialService-v1">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="search">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/IdentifyCustomerCrossReferentialService-v1/search" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessFault">
<soap:fault name="BusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IdentifyCustomerCrossReferentialServiceService-v1">
<wsdl:port binding="tns:IdentifyCustomerCrossReferentialService-v1-soap11http" name="IdentifyCustomerCrossReferentialService-v1-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(IdentifyCustomerCrossReferentialServiceV1.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>