azure/repind-ri-ws/src/test/bamboo/resources/wsdl/ProvideInfoOnAProspect-v1.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2013-05-13 15:45:54.64--><!--SOA repository reference: W000844-v1.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 --><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.af-klm.com/services/passenger/ProvideInfoOnAProspectService-v1/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.af-klm.com/services/passenger/provideInfoOnAProspectDataType-v1/xsd" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProvideInfoOnAProspectService-v1" targetNamespace="http://www.af-klm.com/services/passenger/ProvideInfoOnAProspectService-v1/wsdl">
	
  <wsdl:types>
    <xsd:schema>
      <!--previous value passenger_provideInfoOnAProspectDataType-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/provideInfoOnAProspectDataType-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/repository/jcr/view/schema/ServiceSchemaContent-1075927"/>
    </xsd:schema>
    <xsd:schema>
      <!--previous value SystemFault-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/repository/jcr/view/schema/ServiceSchemaContent-1075926"/>
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgProvideInfoOnAProspectRequest">
    <wsdl:part element="xsd1:ProvideInfoOnAProspectRequestElement" name="request"/>
  </wsdl:message>
  <wsdl:message name="msgProvideInfoOnAProspectResponse">
    <wsdl:part element="xsd1:ProvideInfoOnAProspectResponseElement" name="response"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
  	<wsdl:part element="xsd1:BusinessErrorElement" name="faultInfo"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part element="sft:SystemFault" name="faultInfo"/>
  </wsdl:message> 

  <wsdl:portType name="ProvideInfoOnAProspectService-v1">
    <wsdl:operation name="provideInfoOnAProspect">
      <wsdl:input message="tns:msgProvideInfoOnAProspectRequest"/>
      <wsdl:output message="tns:msgProvideInfoOnAProspectResponse"/>
      <wsdl:fault message="tns:systemFault" name="SystemFault"/>
      <wsdl:fault message="tns:msgBusinessFault" name="BusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ProvideInfoOnAProspectService-v1-soap11http" type="tns:ProvideInfoOnAProspectService-v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="provideInfoOnAProspect">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideInfoOnAProspectService-v1/provideInfoOnAProspect" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ProvideInfoOnAProspectServiceService-v1">
    <wsdl:port binding="tns:ProvideInfoOnAProspectService-v1-soap11http" name="ProvideInfoOnAProspectService-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(ProvideInfoOnAProspectServiceV1.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>