azure/repind-ri-ws/src/test/bamboo/resources/wsdl/ProvideIndividualData-v7.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2017-09-28 07:45:17.09--><!--SOA repository reference: W000418-v7.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<!-- Uploaded in SOA repository on 2019-06-27 15:56:49.712 -->
<!-- SOA repository reference: W000418-v7.0.1 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v7/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v7/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v7/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProvideIndividualDataService-v7" targetNamespace="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v7/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_data-v7.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/data-v7/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1758222"/>
</xsd:schema>
<xsd:schema>
<!-- previous value passenger_response-v7.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/response-v7/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1758214"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1758213"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgProvideIndividualDataByIdentifierRequest">
<wsdl:part element="xsd1:ProvideIndividualInformationRequestElement" name="provideIndividualInformationRequest"/>
</wsdl:message>
<wsdl:message name="msgProvideIndividualDataByIdentifierResponse">
<wsdl:part element="xsd1:ProvideIndividualInformationResponseElement" name="provideIndividualInformationResponse"/>
</wsdl:message>
<wsdl:message name="msgBusinessErrorBlocBusinessFault">
<wsdl:part element="xsd2:BusinessErrorBlocElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="ProvideIndividualDataService-v7">
<wsdl:operation name="provideIndividualDataByIdentifier">
<wsdl:documentation>Get all datas.</wsdl:documentation>
<wsdl:input message="tns:msgProvideIndividualDataByIdentifierRequest"/>
<wsdl:output message="tns:msgProvideIndividualDataByIdentifierResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessErrorBlocBusinessFault" name="BusinessErrorBlocBusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ProvideIndividualDataService-v7-soap11http" type="tns:ProvideIndividualDataService-v7">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="provideIndividualDataByIdentifier">
<wsdl:documentation>Get all datas.</wsdl:documentation>
<soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v7/provideIndividualDataByIdentifier" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessErrorBlocBusinessFault">
<soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ProvideIndividualDataServiceService-v7">
<wsdl:port binding="tns:ProvideIndividualDataService-v7-soap11http" name="ProvideIndividualDataService-v7-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(ProvideIndividualDataServiceV7.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>