azure/repind-ri-ws/src/test/bamboo/resources/wsdl/ProvideIndividualReferenceTable-v2.0.0_1.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2018-04-09 13:56:07.426--><!--SOA repository reference: W001588-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<!-- Uploaded in SOA repository on 2018-04-09 13:56:07.426 -->
<!-- SOA repository reference: W001588-v2.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v2/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v2/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/ProvideIndividualReferenceTableService-v2/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProvideIndividualReferenceTableService-v2" targetNamespace="http://www.af-klm.com/services/passenger/ProvideIndividualReferenceTableService-v2/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_data-v2.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/data-v2/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1666417"/>
</xsd:schema>
<xsd:schema>
<!-- previous value passenger_response-v2.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/response-v2/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1666413"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1666412"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgProvideIndividualReferenceTableRequest">
<wsdl:part element="xsd1:ProvideIndividualReferenceTableRequestElement" name="request"/>
</wsdl:message>
<wsdl:message name="msgProvideIndividualReferenceTableResponse">
<wsdl:part element="xsd1:ProvideIndividualReferenceTableResponseElement" name="response"/>
</wsdl:message>
<wsdl:message name="msgBusinessErrorBlocBusinessFault">
<wsdl:part element="xsd2:BusinessErrorBlocElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="ProvideIndividualReferenceTableService-v2">
<wsdl:operation name="provideIndividualReferenceTable">
<wsdl:input message="tns:msgProvideIndividualReferenceTableRequest"/>
<wsdl:output message="tns:msgProvideIndividualReferenceTableResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessErrorBlocBusinessFault" name="BusinessErrorBlocBusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ProvideIndividualReferenceTableService-v2-soap11http" type="tns:ProvideIndividualReferenceTableService-v2">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="provideIndividualReferenceTable">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualReferenceTableService-v2/provideIndividualReferenceTable" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessErrorBlocBusinessFault">
<soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ProvideIndividualReferenceTableServiceService-v2">
<wsdl:port binding="tns:ProvideIndividualReferenceTableService-v2-soap11http" name="ProvideIndividualReferenceTableService-v2-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(ProvideIndividualReferenceTableServiceV2.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>