azure/repind-ri-ws/src/test/bamboo/resources/wsdl/ProvideGINForUserID-v1.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2011-07-29 06:25:51.526--><!--SOA repository reference: W000422-v1.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<!-- Uploaded in SOA repository on 2011-07-29 06:25:51.526 -->
<!-- SOA repository reference: W000422-v1.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/ProvideGinForUserIdType-v1/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/ProvideGinForUserIdService-v1/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProvideGinForUserIdService-v1" targetNamespace="http://www.af-klm.com/services/passenger/ProvideGinForUserIdService-v1/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_ProvideGinForUserIdType-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/ProvideGinForUserIdType-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-14472"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-14471"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgProvideGinForUserIdRequest">
<wsdl:part element="xsd1:ProvideGinForUserIdRequestElement" name="Request"/>
</wsdl:message>
<wsdl:message name="msgProvideGinForUserIdResponse">
<wsdl:part element="xsd1:ProvideGinForUserIdResponseElement" name="Response"/>
</wsdl:message>
<wsdl:message name="msgBusinessFault">
<wsdl:part element="xsd1:BusinessErrorElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="ProvideGinForUserIdService-v1">
<wsdl:operation name="provideGinForUserId">
<wsdl:input message="tns:msgProvideGinForUserIdRequest"/>
<wsdl:output message="tns:msgProvideGinForUserIdResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessFault" name="BusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ProvideGinForUserIdService-v1-soap11http" type="tns:ProvideGinForUserIdService-v1">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="provideGinForUserId">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideGinForUserIdService-v1/provideGinForUserId" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessFault">
<soap:fault name="BusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ProvideGinForUserIdServiceService-v1">
<wsdl:port binding="tns:ProvideGinForUserIdService-v1-soap11http" name="ProvideGinForUserIdService-v1-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(ProvideGinForUserIdServiceV1.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>