azure/repind-ri-ws/src/test/bamboo/resources/wsdl/SearchIndividualByMulticriteria-v2.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2015-02-26 16:06:02.585--><!--SOA repository reference: W001271-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<!-- Uploaded in SOA repository on 2015-02-26 16:06:02.585 -->
<!-- SOA repository reference: W001271-v2.0.0 -->
<!--  generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v1/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/SearchIndividualByMulticriteriaService-v2/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SearchIndividualByMulticriteriaService-v2" targetNamespace="http://www.af-klm.com/services/passenger/SearchIndividualByMulticriteriaService-v2/wsdl">
<wsdl:types>
<xsd:schema>
<!-- previous value passenger_data-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/data-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1257275"/>
</xsd:schema>
<xsd:schema>
<!-- previous value passenger_response-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1257280"/>
</xsd:schema>
<xsd:schema>
<!-- previous value SystemFault-v1.xsd updated -->
<xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/jcr/view/schema/ServiceSchemaContent-1257267"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="msgSearchIndividualRequest">
<wsdl:part element="xsd1:SearchIndividualByMulticriteriaRequestElement" name="searchIndividualByMulticriteriaRequest"/>
</wsdl:message>
<wsdl:message name="msgSearchIndividualResponse">
<wsdl:part element="xsd1:SearchIndividualByMulticriteriaResponseElement" name="searchIndividualByMulticriteriaResponse"/>
</wsdl:message>
<wsdl:message name="msgBusinessErrorBlocBusinessFault">
<wsdl:part element="xsd2:BusinessErrorBlocElement" name="faultInfo"/>
</wsdl:message>
<wsdl:message name="systemFault">
<wsdl:part element="sft:SystemFault" name="faultInfo"/>
</wsdl:message>
<wsdl:portType name="SearchIndividualByMulticriteriaService-v2">
<wsdl:operation name="searchIndividual">
<wsdl:input message="tns:msgSearchIndividualRequest"/>
<wsdl:output message="tns:msgSearchIndividualResponse"/>
<wsdl:fault message="tns:systemFault" name="SystemFault"/>
<wsdl:fault message="tns:msgBusinessErrorBlocBusinessFault" name="BusinessErrorBlocBusinessFault"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SearchIndividualByMulticriteriaService-v2-soap11http" type="tns:SearchIndividualByMulticriteriaService-v2">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="searchIndividual">
<soap:operation soapAction="http://www.af-klm.com/services/passenger/SearchIndividualByMulticriteriaService-v2/searchIndividual" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="SystemFault">
<soap:fault name="SystemFault" use="literal"/>
</wsdl:fault>
<wsdl:fault name="BusinessErrorBlocBusinessFault">
<soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="SearchIndividualByMulticriteriaServiceService-v2">
<wsdl:port binding="tns:SearchIndividualByMulticriteriaService-v2-soap11http" name="SearchIndividualByMulticriteriaService-v2-soap11http">
<!--  location value is computed by the SOAREPO application  -->
<soap:address location="ToBeSpecified"/>
</wsdl:port>
</wsdl:service>
<!-- PROTECTED REGION ID(SearchIndividualByMulticriteriaServiceV2.0) ENABLED START -->
<!--  include older services versions here  -->
<!-- PROTECTED REGION END -->
</wsdl:definitions>