azure/repind-ri-ws/src/test/bamboo/resources/wsdl/UpdateDataOnAProspect-v2.0.0.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2014-07-28 08:26:05.538--><!--SOA repository reference: W000843-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 --><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.af-klm.com/services/passenger/UpdateDataOnAProspectService-v2/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v1/xsd" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UpdateDataOnAProspectService-v2" targetNamespace="http://www.af-klm.com/services/passenger/UpdateDataOnAProspectService-v2/wsdl">
	
  <wsdl:types>
    <xsd:schema>
      <!--previous value passenger_data-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/data-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/repository/jcr/view/schema/ServiceSchemaContent-1150287"/>
    </xsd:schema>
    <xsd:schema>
      <!--previous value SystemFault-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="https://soarepo.airfrance.fr/repository/jcr/view/schema/ServiceSchemaContent-1150286"/>
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgUpdateDataOnAProspectRequest">
    <wsdl:part element="xsd1:UpdateDataOnAProspectRequestElement" name="request"/>
  </wsdl:message>
  <wsdl:message name="msgUpdateDataOnAProspectResponse">
    <wsdl:part element="xsd1:UpdateDataOnAProspectResponseElement" name="response"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
  	<wsdl:part element="xsd1:BusinessErrorElement" name="faultInfo"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part element="sft:SystemFault" name="faultInfo"/>
  </wsdl:message> 

  <wsdl:portType name="UpdateDataOnAProspectService-v2">
    <wsdl:operation name="updateDataOnAProspect">
      <wsdl:input message="tns:msgUpdateDataOnAProspectRequest"/>
      <wsdl:output message="tns:msgUpdateDataOnAProspectResponse"/>
      <wsdl:fault message="tns:systemFault" name="SystemFault"/>
      <wsdl:fault message="tns:msgBusinessFault" name="BusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="UpdateDataOnAProspectService-v2-soap11http" type="tns:UpdateDataOnAProspectService-v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateDataOnAProspect">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/UpdateDataOnAProspectService-v2/updateDataOnAProspect" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="UpdateDataOnAProspectServiceService-v2">
    <wsdl:port binding="tns:UpdateDataOnAProspectService-v2-soap11http" name="UpdateDataOnAProspectService-v2-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(UpdateDataOnAProspectServiceV2.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>