azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/V4/passenger_data-v4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v4/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v4/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd5="http://www.af-klm.com/services/passenger/response-v4/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="4.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v4/xsd" schemaLocation="passenger_response-v4.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideIndividualInformationRequestElement" type="tns:ProvideIndividualInformationRequest"/>
  <xsd:element name="ProvideIndividualInformationResponseElement" type="tns:ProvideIndividualInformationResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideIndividualInformationRequest">
    <xsd:sequence>
      <xsd:element name="identificationNumber" type="xsd1:DTypeGenericIdentifier">
        <xsd:annotation>
          <xsd:documentation>&lt;p>&lt;b>Mandatory&lt;/b>&lt;/p>&lt;p>Id of the individual &lt;b>&lt;/b>&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="option" type="xsd1:DTypeOption">
        <xsd:annotation>
           <xsd:documentation>&lt;p>Values :&lt;/p>&lt;p>GIN (Generic identifier), &lt;/p>&lt;p>FP (Flying Blue), &lt;/p>&lt;p>RP (Subscriber),&lt;/p>&lt;p>S (Saphir),&lt;/p>&lt;p>AX (Amex)&lt;/p>&lt;p>AC (All contracts),&lt;/p>&lt;p>AI (Any myAccount identifier),&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requestor" type="xsd2:Requestor"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideIndividualInformationResponse">
    <xsd:sequence>
      <xsd:element name="telecomResponse" type="xsd5:TelecomResponse" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="emailResponse" type="xsd5:EmailResponse" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="postalAddressResponse" type="xsd5:PostalAddressResponse" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="individualResponse" type="xsd5:IndividualResponse" minOccurs="0"/>
      <xsd:element name="contractResponse" type="xsd5:ContractResponse" minOccurs="0" maxOccurs="25"/>
      <xsd:element name="externalIdentifierResponse" type="xsd5:ExternalIdentifierResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="accountDataResponse" type="xsd5:AccountDataResponse" minOccurs="0"/>
      <xsd:element name="prefilledNumbersResponse" type="xsd5:PrefilledNumbersResponse" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="marketingDataResponse" type="xsd5:MarketingDataResponse" minOccurs="0"/>
      <xsd:element name="flyingBlueContractDataResponse" type="xsd5:FlyingBlueContractDataResponse" minOccurs="0"/>
      <xsd:element name="socialNetworkDataResponse" type="xsd5:SocialNetworkDataResponse" minOccurs="0"/>
      <xsd:element name="communicationPreferencesResponse" type="xsd5:CommunicationPreferencesResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegationDataResponse" type="xsd5:DelegationDataResponse" minOccurs="0"/>
      <xsd:element name="warningResponse" type="xsd5:WarningResponse" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v04.dataV4.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
