repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/marketingdata/marketingdata_common-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2011-05-13 15:45:06.128--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.5.0, Build 201001071402 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/marketingdata/common-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/bdm/types-v1/xsd" targetNamespace="http://www.af-klm.com/services/marketingdata/common-v1/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value bdm_types-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/bdm/types-v1/xsd" schemaLocation="bdm_types-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="MarketingDataElement" type="tns:MarketingData"/>
  <xsd:element name="PersonalInformationElement" type="tns:PersonalInformation"/>
  <xsd:element name="TravelCompanionElement" type="tns:TravelCompanion"/>
  <xsd:element name="TravelPreferencesElement" type="tns:TravelPreferences"/>
  <xsd:element name="TravelDocumentElement" type="tns:TravelDocument"/>
  <xsd:element name="ApisDataElement" type="tns:ApisData"/>
  <xsd:element name="EmergencyContactElement" type="tns:EmergencyContact"/>
  <xsd:element name="TravelCompanionsElement" type="tns:TravelCompanions"/>
  <xsd:element name="TravelDocumentsElement" type="tns:TravelDocuments"/>
  <xsd:element name="EmergencyContactsElement" type="tns:EmergencyContacts"/>
  <xsd:element name="MarketingDataBusinessFaultElement" type="tns:MarketingDataBusinessFault"/>

  <!-- types declarations -->
  <xsd:complexType name="MarketingData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="myAccountId" type="xsd:string"/>
      <xsd:element name="GIN" type="xsd1:GinType">
        <xsd:annotation>
          <xsd:documentation>Individual identification number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="personalInformation" type="tns:PersonalInformation"/>
      <xsd:element minOccurs="0" name="travelPreferences" type="tns:TravelPreferences"/>
      <xsd:element minOccurs="0" name="apisData" type="tns:ApisData"/>
      <xsd:element minOccurs="0" name="travelCompanions" type="tns:TravelCompanions"/>
      <xsd:element minOccurs="0" name="travelDocuments" type="tns:TravelDocuments"/>
      <xsd:element minOccurs="0" name="emergencyContacts" type="tns:EmergencyContacts"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonalInformation">
    <xsd:annotation>
      <xsd:documentation>information about airline partner Frequent Flyer programs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="blueBizNumber" type="xsd1:BlueBizNumber">
        <xsd:annotation>
          <xsd:documentation>BlueBiz number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FFPNumber" type="xsd1:FFPnumberType">
        <xsd:annotation>
          <xsd:documentation>Contract number except for BlueBiz</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FFPProgram" type="xsd1:FFProgramType">
        <xsd:annotation>
          <xsd:documentation>Frequent Flyer Program on other airline partner (code)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TravelCompanion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="civility" type="xsd1:CivilityType">
        <xsd:annotation>
          <xsd:documentation>Civility of the customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="firstName" type="xsd1:NameType">
        <xsd:annotation>
          <xsd:documentation>First name </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="lastName" type="xsd1:NameType">
        <xsd:annotation>
          <xsd:documentation>Last name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dateOfBirth" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Date of birth</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="email" type="xsd1:EmailType">
        <xsd:annotation>
          <xsd:documentation>Email address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TCPersonalInformation" type="tns:PersonalInformation"/>
      <xsd:element minOccurs="0" name="TCApisData" type="tns:ApisData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TravelPreferences">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="departureCity" type="xsd1:AirportCodeType">
        <xsd:annotation>
          <xsd:documentation>Usual departure city entered by the customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="departureAirport" type="xsd1:AirportCodeType">
        <xsd:annotation>
          <xsd:documentation>Usual departure airport entered by the customer </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arrivalCity" type="xsd1:AirportCodeType">
        <xsd:annotation>
          <xsd:documentation>Usual arrival city entered by the customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arrivalAirport" type="xsd1:AirportCodeType">
        <xsd:annotation>
          <xsd:documentation>Usual arrival airport entered by the customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="meal" type="xsd1:MealCodeType">
        <xsd:annotation>
          <xsd:documentation>Preferred meal</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="seat" type="xsd1:SeatType">
        <xsd:annotation>
          <xsd:documentation>Preferred seat </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="travelClass" type="xsd1:TravelClassType">
        <xsd:annotation>
          <xsd:documentation>Preferred travel class. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boardingPass" type="xsd1:BoardingPassType">
        <xsd:annotation>
          <xsd:documentation>Preferred delivery option of boarding pass</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="customerLeisure" type="xsd1:LeisureCodeType">
        <xsd:annotation>
          <xsd:documentation>Customer leisure preferences</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TravelDocument">
    <xsd:annotation>
      <xsd:documentation>Nationality</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="xsd1:DocumentCodeType">
        <xsd:annotation>
          <xsd:documentation>Could be :&#xD;
- Passport&#xD;
- ID card&#xD;
- Driver’s license&#xD;
- Other&#xD;
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="number" type="xsd1:DocumentNumberType">
        <xsd:annotation>
          <xsd:documentation>Document number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Expiration date of the document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="nationality" type="xsd1:NationalityCodeType">
        <xsd:annotation>
          <xsd:documentation>nationality</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="issueDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="countryIssued" type="xsd1:CountryCodeType">
        <xsd:annotation>
          <xsd:documentation>Country that issued document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ApisData">
    <xsd:annotation>
      <xsd:documentation>Required information that must be provided when travelling to certain countries as a security measure. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="lastName" type="xsd1:NameType">
        <xsd:annotation>
          <xsd:documentation>Last name (as it appears on the passport)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="firstName" type="xsd1:NameType">
        <xsd:annotation>
          <xsd:documentation>First name and middle name (as they appear on the passport)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dateOfBirth" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Date of birth</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gender" type="xsd1:GenderType">
        <xsd:annotation>
          <xsd:documentation>Gender (Deduced from customer civility)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="greenCardNumber" type="xsd1:GreenCardNumberType">
        <xsd:annotation>
          <xsd:documentation>Green card number (Alien Registration Number)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="greenCardExpiryDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Green card expiry date</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="countryOfResidence" type="xsd1:CountryCodeType">
        <xsd:annotation>
          <xsd:documentation>Country of residence</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="adressUS" type="xsd1:AdressType">
        <xsd:annotation>
          <xsd:documentation>Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="postCodeUS" type="xsd1:PostCodeType">
        <xsd:annotation>
          <xsd:documentation>Postcode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="cityUS" type="xsd1:CityType">
        <xsd:annotation>
          <xsd:documentation>City</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stateUS" type="xsd1:StateType">
        <xsd:annotation>
          <xsd:documentation>State</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="redressControlNumber" type="xsd1:RedressControlType">
        <xsd:annotation>
          <xsd:documentation>Number given to passengers whose names are/have been confused with names of suspects on terrorist watch list</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="apisTravelDocument" type="tns:TravelDocument"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmergencyContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="email" type="xsd1:EmailType"/>
      <xsd:element minOccurs="0" name="phoneNumber" type="xsd1:PhoneType"/>
      <xsd:element minOccurs="0" name="lastName" type="xsd1:NameType"/>
      <xsd:element minOccurs="0" name="firstName" type="xsd1:NameType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TravelCompanions">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="travelCompanionList" type="tns:TravelCompanion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TravelDocuments">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="travelDocumentList" type="tns:TravelDocument"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmergencyContacts">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="emergencyContactList" type="tns:EmergencyContact"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarketingDataBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:MarketingDataError"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="MarketingDataError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BAD_INPUT_FORMAT">
        <xsd:annotation>
          <xsd:documentation>Bad input parameter format</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MISSING_MANDATORY_INPUT">
        <xsd:annotation>
          <xsd:documentation>Missing mandatory input parameters.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RETURN_ERROR">
        <xsd:annotation>
          <xsd:documentation>a technical error occurred during the execution of service.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GIN_NOT_FOUND">
        <xsd:annotation>
          <xsd:documentation>GIN not found in the BDM</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.commonV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>