repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/marketingdata/marketingdata_store-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2011-05-13 15:46:04.572--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.5.0, Build 201001071402 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/marketingdata/store-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/marketingdata/common-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/bdm/types-v1/xsd" targetNamespace="http://www.af-klm.com/services/marketingdata/store-v1/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value bdm_types-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/bdm/types-v1/xsd" schemaLocation="bdm_types-v1.xsd"/>
  <!--previous value marketingdata_common-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/marketingdata/common-v1/xsd" schemaLocation="marketingdata_common-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="DeleteMDRequestElement" type="tns:DeleteMDRequest"/>
  <xsd:element name="DeleteMDResponseElement" type="tns:DeleteMDResponse"/>
  <xsd:element name="StoreMDRequestElement" type="tns:StoreMDRequest"/>
  <xsd:element name="StoreMDResponseElement" type="tns:StoreMDResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="DeleteMDRequest">
    <xsd:annotation>
      <xsd:documentation>delete all the marketing data of an individual in the BDM.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GIN" type="xsd1:GinType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteMDResponse">
    <xsd:sequence>
      <xsd:element name="success" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>true if the marketing data has been deleted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StoreMDRequest">
    <xsd:annotation>
      <xsd:documentation>update the marketing data of an individual in the BDM.&#xD;
for an individual you can update 5 types of components:&#xD;
  - Personal information &#xD;
  - TravelCompanions&#xD;
  - TravelDocument&#xD;
  - APIS data&#xD;
  - TravelPreference. &#xD;
Any modifcation component will follow the rule cancel/replace.&#xD;
A null component will remain unchanged.&#xD;
&#xD;
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="marketingData" type="xsd2:MarketingData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StoreMDResponse">
    <xsd:sequence>
      <xsd:element name="success" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>true  if the service is well done.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.storeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>