repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/marketingdata/SystemFault-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2009-12-01 08:51:43.514--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.5.0, Build 200911161116 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" version="1.0">
   <xsd:element name="SystemFault">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OriginatingError" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ErrorTrace" type="xsd:string"/>
            <xsd:element name="FaultDescription" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>