azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/WebContent/WEB-INF/wsdl/V5/passenger_data-v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v5/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v5/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/response-v5/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="5.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v5/xsd" schemaLocation="passenger_response-v5.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideIndividualInformationResponseElement" type="tns:ProvideIndividualInformationResponse"/>
  <xsd:element name="ProvideIndividualInformationRequestElement" type="tns:ProvideIndividualInformationRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideIndividualInformationResponse">
    <xsd:sequence>
      <xsd:element name="telecomResponse" type="xsd1:TelecomResponse" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="emailResponse" type="xsd1:EmailResponse" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="postalAddressResponse" type="xsd1:PostalAddressResponse" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="individualResponse" type="xsd1:IndividualResponse" minOccurs="0"/>
      <xsd:element name="contractResponse" type="xsd1:ContractResponse" minOccurs="0" maxOccurs="25"/>
      <xsd:element name="externalIdentifierResponse" type="xsd1:ExternalIdentifierResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="accountDataResponse" type="xsd1:AccountDataResponse" minOccurs="0"/>
      <xsd:element name="prefilledNumbersResponse" type="xsd1:PrefilledNumbersResponse" minOccurs="0" maxOccurs="50"/>
      <xsd:element name="marketingDataResponse" type="xsd1:MarketingDataResponse" minOccurs="0"/>
      <xsd:element name="flyingBlueContractDataResponse" type="xsd1:FlyingBlueContractDataResponse" minOccurs="0"/>
      <xsd:element name="socialNetworkDataResponse" type="xsd1:SocialNetworkDataResponse" minOccurs="0"/>
      <xsd:element name="communicationPreferencesResponse" type="xsd1:CommunicationPreferencesResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegationDataResponse" type="xsd1:DelegationDataResponse" minOccurs="0"/>
      <xsd:element name="warningResponse" type="xsd1:WarningResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="preferencesResponse" type="xsd1:PreferencesResponse" minOccurs="0"/>
      <xsd:element name="localizationResponse" type="xsd1:LocalizationResponse" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideIndividualInformationRequest">
    <xsd:sequence>
      <xsd:element name="identificationNumber" type="xsd2:DTypeGenericIdentifierV2"/>
      <xsd:element name="option" type="xsd2:DTypeOption"/>
      <xsd:element name="populationTargeted" type="xsd2:DTypePopulationTargeted" minOccurs="0"/>
      <xsd:element name="scopeToProvide" type="xsd2:DTypeScope" minOccurs="0" maxOccurs="15"/>
      <xsd:element name="requestor" type="xsd3:Requestor"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v05.dataV5.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
