azure/repind-ri-ws/src/webservices/Individu/IdentifyCustomerCrossReferentialWS/src/main/webapp/WEB-INF/wsdl/GEN/passenger_request-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/request-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/request-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd" schemaLocation="passenger_ProspectDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideIdentifierElement" type="tns:ProvideIdentifier"/>
  <xsd:element name="EmailElement" type="tns:Email"/>
  <xsd:element name="TelecomElement" type="tns:Telecom"/>
  <xsd:element name="PersonsIdentityElement" type="tns:PersonsIdentity"/>
  <xsd:element name="ContextElement" type="tns:Context"/>
  <xsd:element name="IdentifyCustomerCrossReferentialRequestElement" type="tns:IdentifyCustomerCrossReferentialRequest"/>
  <xsd:element name="SearchIdentifierElement" type="tns:SearchIdentifier"/>
  <xsd:element name="PostalAddressElement" type="tns:PostalAddress"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideIdentifier">
    <xsd:sequence>
      <xsd:element name="customerGin" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="identificationType" type="xsd1:DTypeIdentificationType" minOccurs="0"/>
      <xsd:element name="identificationValue" type="xsd1:DTypeIdentificationValue" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Email">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telecom">
    <xsd:sequence>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCodeTelecom" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonsIdentity">
    <xsd:sequence>
      <xsd:element name="title" type="xsd1:DTypeCivility" minOccurs="0"/>
      <xsd:element name="lastName" type="xsd1:DTypeLastName" minOccurs="0"/>
      <xsd:element name="lastNameSearchType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="firstNameSearchType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="birthDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Context">
    <xsd:sequence>
      <xsd:element name="typeOfSearch" type="xsd1:DTypeRang" minOccurs="0"/>
      <xsd:element name="typeOfFirm" type="xsd1:DTypeFirmType" minOccurs="0"/>
      <xsd:element name="responseType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="requestor" type="xsd3:Requestor" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentifyCustomerCrossReferentialRequest">
    <xsd:sequence>
      <xsd:element name="processType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="index" type="xsd:int" minOccurs="0"/>
      <xsd:element name="provideIdentifier" type="tns:ProvideIdentifier" minOccurs="0"/>
      <xsd:element name="searchIdentifier" type="tns:SearchIdentifier" minOccurs="0"/>
      <xsd:element name="context" type="tns:Context" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SearchIdentifier">
    <xsd:sequence>
      <xsd:element name="personsIdentity" type="tns:PersonsIdentity" minOccurs="0"/>
      <xsd:element name="telecom" type="tns:Telecom" minOccurs="0"/>
      <xsd:element name="email" type="tns:Email" minOccurs="0"/>
      <xsd:element name="postalAddress" type="tns:PostalAddress" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddress">
    <xsd:sequence>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="citySearchType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="zipCodeSearchType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="additionalInformations" type="xsd1:DTypeComplAdr" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.requestV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
