azure/repind-ri-ws/src/webservices/Individu/IdentifyCustomerCrossReferentialWS/src/main/webapp/WEB-INF/wsdl/GEN/passenger_IdentifyCustomerCrossReferentialService-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<wsdl:definitions name="IdentifyCustomerCrossReferentialService-v1"

targetNamespace="http://www.af-klm.com/services/passenger/IdentifyCustomerCrossReferentialService-v1/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/IdentifyCustomerCrossReferentialService-v1/wsdl"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/request-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v1/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/request-v1/xsd" schemaLocation="passenger_request-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="passenger_response-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgSearchRequest">
    <wsdl:part name="identifyCustomerCrossReferentialRequest" element="xsd1:IdentifyCustomerCrossReferentialRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgSearchResponse">
    <wsdl:part name="identifyCustomerCrossReferentialResponse" element="xsd2:IdentifyCustomerCrossReferentialResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd2:BusinessErrorElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="IdentifyCustomerCrossReferentialService-v1">
    <wsdl:operation name="search">
      <wsdl:input message="tns:msgSearchRequest"/>
      <wsdl:output message="tns:msgSearchResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="IdentifyCustomerCrossReferentialService-v1-soap11http" type="tns:IdentifyCustomerCrossReferentialService-v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="search">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/IdentifyCustomerCrossReferentialService-v1/search" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="IdentifyCustomerCrossReferentialServiceService-v1">
    <wsdl:port name="IdentifyCustomerCrossReferentialService-v1-soap11http" binding="tns:IdentifyCustomerCrossReferentialService-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(IdentifyCustomerCrossReferentialServiceV1.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
