azure/repind-ri-ws/src/webservices/Individu/IdentifyCustomerCrossReferentialWS/src/main/webapp/WEB-INF/wsdl/GEN/passenger_FirmDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema

        targetNamespace="http://www.af-klm.com/services/passenger/FirmDataType-v1/xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->

  <!-- types declarations -->
  <xsd:simpleType name="ETypeOption">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GIN"/>
      <xsd:enumeration value="SIRET"/>
      <xsd:enumeration value="KV"/>
      <xsd:enumeration value="IV"/>
      <xsd:enumeration value="UC"/>
      <xsd:enumeration value="DU"/>
      <xsd:enumeration value="EA"/>
      <xsd:enumeration value="EN"/>
      <xsd:enumeration value="SR"/>
      <xsd:enumeration value="TV"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ETypeOptionV2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GIN"/>
      <xsd:enumeration value="SIRET"/>
      <xsd:enumeration value="KV"/>
      <xsd:enumeration value="IV"/>
      <xsd:enumeration value="UC"/>
      <xsd:enumeration value="DU"/>
      <xsd:enumeration value="EA"/>
      <xsd:enumeration value="EN"/>
      <xsd:enumeration value="SR"/>
      <xsd:enumeration value="TV"/>
      <xsd:enumeration value="NCSC"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSiren">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="45"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>    
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEntityType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>    
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeActivity">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMergedFirmNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMotherFirmNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIndustryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIntnernetWebSite">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeManagingCompany">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSourceCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSupportCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGroupCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeINSEEWWageLevelCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLanguageCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSiretNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComment">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCountryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRegionCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWording">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="45"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>    
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumberWording">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="DU|EA|EN|IV|KV|SI|SR|TV|UC|AR|AN|IA|AT|BI|AG"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DtypeKeyWording">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>    
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketLevel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePotential">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePotentialAmount">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCurrencyCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTravelPolicy">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSubstype">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZVALPHA">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLibZVALPHA">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNature">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLastUpdateSignature">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC5">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMediumCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>    
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCorporateName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAddictionalInformation">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDistrict">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAccountNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTypeContract">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="CF|CB|CONTRACT|CC|RC|MC|IC|BD|BQ|BB"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSubtypeContract">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="A|AV|BB|BD|BZ|C|CL|EC|F|FA|AF/AX|FC|FD|FE|FG|FS|FT|G|GR|REQUEST|H|AIR|L|CONTRACT|MM|P|PA|PM|Q|RK|S|CLUB|T|Z|PLUS|XX"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOptin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCreationSignature">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMasterControl">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCorporateTier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDirectorWord">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePrimaryReference">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSecondaryReference">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFirm">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(firmType.FirmDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
