azure/repind-ri-ws/src/webservices/Individu/IdentifyCustomerCrossReferentialWS/src/main/webapp/WEB-INF/wsdl/GEN/passenger_response-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/response-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/response-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/FirmDataType-v1/xsd"
	xmlns:xsd4="http://www.af-klm.com/services/passenger/SicAgencyType-v1/xsd"
	xmlns:xsd5="http://www.af-klm.com/services/passenger/SicFirmType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd" schemaLocation="passenger_ProspectDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/FirmDataType-v1/xsd" schemaLocation="passenger_FirmDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicAgencyType-v1/xsd" schemaLocation="passenger_SicAgencyType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicFirmType-v1/xsd" schemaLocation="passenger_SicFirmType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="IndividualElement" type="tns:Individual"/>
  <xsd:element name="IndividualInformationsElement" type="tns:IndividualInformations"/>
  <xsd:element name="TelecomIndividualElement" type="tns:TelecomIndividual"/>
  <xsd:element name="EmailIndividualElement" type="tns:EmailIndividual"/>
  <xsd:element name="PostalAddressIndividualElement" type="tns:PostalAddressIndividual"/>
  <xsd:element name="AddressRoleIndividualElement" type="tns:AddressRoleIndividual"/>
  <xsd:element name="PostalAddressCorporateElement" type="tns:PostalAddressCorporate"/>
  <xsd:element name="PostalAddressAgencyElement" type="tns:PostalAddressAgency"/>
  <xsd:element name="TelecomCorporateElement" type="tns:TelecomCorporate"/>
  <xsd:element name="TelecomAgencyElement" type="tns:TelecomAgency"/>
  <xsd:element name="EmailCorporateElement" type="tns:EmailCorporate"/>
  <xsd:element name="EmailAgencyElement" type="tns:EmailAgency"/>
  <xsd:element name="CorporateInformationsElement" type="tns:CorporateInformations"/>
  <xsd:element name="CorporateElement" type="tns:Corporate"/>
  <xsd:element name="AgencyElement" type="tns:Agency"/>
  <xsd:element name="AgencyInformationsElement" type="tns:AgencyInformations"/>
  <xsd:element name="CommercialZonesCorporateElement" type="tns:CommercialZonesCorporate"/>
  <xsd:element name="CommercialZonesAgencyElement" type="tns:CommercialZonesAgency"/>
  <xsd:element name="TelecomAgencyMemberElement" type="tns:TelecomAgencyMember"/>
  <xsd:element name="TelecomCorporateMemberElement" type="tns:TelecomCorporateMember"/>
  <xsd:element name="EmailCorporateMemberElement" type="tns:EmailCorporateMember"/>
  <xsd:element name="EmailAgencyMemberElement" type="tns:EmailAgencyMember"/>
  <xsd:element name="MemberCorporateElement" type="tns:MemberCorporate"/>
  <xsd:element name="MemberAgencyElement" type="tns:MemberAgency"/>
  <xsd:element name="ContinuityElement" type="tns:Continuity"/>
  <xsd:element name="IdentifyCustomerCrossReferentialResponseElement" type="tns:IdentifyCustomerCrossReferentialResponse"/>
  <xsd:element name="ContractIndividualElement" type="tns:ContractIndividual"/>
  <xsd:element name="CustomerElement" type="tns:Customer"/>
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>

  <!-- types declarations -->
  <xsd:complexType name="Individual">
    <xsd:sequence>
      <xsd:element name="relevance" type="xsd:int" minOccurs="0"/>
      <xsd:element name="postalAddressIndividual" type="tns:PostalAddressIndividual" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="contractIndividual" type="tns:ContractIndividual" minOccurs="0" maxOccurs="255"/>
      <xsd:element name="individualInformations" type="tns:IndividualInformations" minOccurs="0"/>
      <xsd:element name="telecomIndividual" type="tns:TelecomIndividual" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="emailIndividual" type="tns:EmailIndividual" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformations">
    <xsd:sequence>
      <xsd:element name="individualKey" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:DTypeCivility" minOccurs="0"/>
      <xsd:element name="lastNameInternal" type="xsd1:DTypeLastName" minOccurs="0"/>
      <xsd:element name="firstNameInternal" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="birthDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="customerStatus" type="xsd1:DTypeCodeStatut" minOccurs="0"/>
      <xsd:element name="lastNameExternal" type="xsd1:DTypeLastName" minOccurs="0"/>
      <xsd:element name="firstNameExternal" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="optinIndividual" type="xsd1:DTypeAutoriseMailing" minOccurs="0"/>
      <xsd:element name="spokenLanguage" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="ginTarget" type="xsd1:DTypeGin" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomIndividual">
    <xsd:sequence>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCodeTelecom" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="internationalNormalizedPhoneNumber" type="xsd2:DTypeIntNormalizedPhoneNumber" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd2:DTypeTerminal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailIndividual">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="emailOptin" type="xsd1:DTypeAutoriseMailing" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressIndividual">
    <xsd:sequence>
      <xsd:element name="additionalInformations" type="xsd1:DTypeInfosCompl" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd3:DTypeCorporateName" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeNumeroRue" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="addressRoleIndividual" type="tns:AddressRoleIndividual" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressRoleIndividual">
    <xsd:sequence>
      <xsd:element name="role" type="xsd1:DTypeRole" minOccurs="0"/>
      <xsd:element name="applicationCode" type="xsd1:DTypeApplicationCode" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeUsageNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressCorporate">
    <xsd:sequence>
      <xsd:element name="additionalInformations" type="xsd1:DTypeInfosCompl" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd3:DTypeCorporateName" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeNumeroRue" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressAgency">
    <xsd:sequence>
      <xsd:element name="additionalInformations" type="xsd1:DTypeInfosCompl" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd3:DTypeCorporateName" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeNumeroRue" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomCorporate">
    <xsd:sequence>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCodeTelecom" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="internationalNormalizedPhoneNumber" type="xsd2:DTypeIntNormalizedPhoneNumber" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd2:DTypeTerminal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomAgency">
    <xsd:sequence>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCodeTelecom" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="internationalNormalizedPhoneNumber" type="xsd2:DTypeIntNormalizedPhoneNumber" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd2:DTypeTerminal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailCorporate">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="optin" type="xsd1:DTypeAutoriseMailing" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailAgency">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="optin" type="xsd1:DTypeAutoriseMailing" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CorporateInformations">
    <xsd:sequence>
      <xsd:element name="corporateKey" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="legalName" type="xsd3:DTypeNom" minOccurs="0"/>
      <xsd:element name="siretNumber" type="xsd3:DTypeSiretNumber" minOccurs="0"/>
      <xsd:element name="usualName" type="xsd3:DTypeNom" minOccurs="0"/>
      <xsd:element name="status" type="xsd3:DTypeStatus" minOccurs="0"/>
      <xsd:element name="type" type="xsd1:DTypeFirmType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Corporate">
    <xsd:sequence>
      <xsd:element name="relevance" type="xsd:int" minOccurs="0"/>
      <xsd:element name="corporateInformations" type="tns:CorporateInformations" minOccurs="0"/>
      <xsd:element name="postalAddressCorporate" type="tns:PostalAddressCorporate" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="telecomCorporate" type="tns:TelecomCorporate" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="emailCorporate" type="tns:EmailCorporate" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="memberCorporate" type="tns:MemberCorporate" minOccurs="0" maxOccurs="200"/>
      <xsd:element name="commercialZonesCorporate" type="tns:CommercialZonesCorporate" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Agency">
    <xsd:sequence>
      <xsd:element name="relevance" type="xsd:int" minOccurs="0"/>
      <xsd:element name="emailAgency" type="tns:EmailAgency" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="agencyInformations" type="tns:AgencyInformations" minOccurs="0"/>
      <xsd:element name="commercialZonesAgency" type="tns:CommercialZonesAgency" minOccurs="0" maxOccurs="50"/>
      <xsd:element name="telecomAgency" type="tns:TelecomAgency" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="postalAddressAgency" type="tns:PostalAddressAgency" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="memberAgency" type="tns:MemberAgency" minOccurs="0" maxOccurs="200"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AgencyInformations">
    <xsd:sequence>
      <xsd:element name="agencyKey" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="typeAgreementNumber" type="xsd4:DTypeAgreementType" minOccurs="0"/>
      <xsd:element name="agreementNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="legalName" type="xsd4:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="usualName" type="xsd4:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="status" type="xsd1:DTypeStatus" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommercialZonesCorporate">
    <xsd:sequence>
      <xsd:element name="zoneSubtype" type="xsd4:DTypeZoneSubtype" minOccurs="0"/>
      <xsd:element name="natureZone" type="xsd4:DTypeNatureZone" minOccurs="0"/>
      <xsd:element name="zc1" type="xsd4:DTypeZC1" minOccurs="0"/>
      <xsd:element name="zc2" type="xsd4:DTypeZC2" minOccurs="0"/>
      <xsd:element name="zc3" type="xsd4:DTypeZC3" minOccurs="0"/>
      <xsd:element name="zc4" type="xsd4:DTypeZC4" minOccurs="0"/>
      <xsd:element name="zc5" type="xsd4:DTypeZC5" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommercialZonesAgency">
    <xsd:sequence>
      <xsd:element name="zoneSubtype" type="xsd5:DTypeZoneSubtype" minOccurs="0"/>
      <xsd:element name="natureZone" type="xsd5:DTypeNatureZone" minOccurs="0"/>
      <xsd:element name="privilegedLink" type="xsd5:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="linkStartDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="linkEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="zcStartDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="zcEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="zc1" type="xsd5:DTypeZC1" minOccurs="0"/>
      <xsd:element name="zc2" type="xsd5:DTypeZC2" minOccurs="0"/>
      <xsd:element name="zc3" type="xsd5:DTypeZC3" minOccurs="0"/>
      <xsd:element name="zc4" type="xsd5:DTypeZC4" minOccurs="0"/>
      <xsd:element name="zc5" type="xsd5:DTypeZC5" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomAgencyMember">
    <xsd:sequence>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCodeTelecom" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="internationalNormalizedPhoneNumber" type="xsd2:DTypeIntNormalizedPhoneNumber" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd2:DTypeTerminal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomCorporateMember">
    <xsd:sequence>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCodeTelecom" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="internationalNormalizedPhoneNumber" type="xsd2:DTypeIntNormalizedPhoneNumber" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd2:DTypeTerminal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailCorporateMember">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailAgencyMember">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberCorporate">
    <xsd:sequence>
      <xsd:element name="jobTitle" type="xsd5:DTypeJobTitle" minOccurs="0"/>
      <xsd:element name="emailCorporateMember" type="tns:EmailCorporateMember" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="telecomCorporateMember" type="tns:TelecomCorporateMember" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MemberAgency">
    <xsd:sequence>
      <xsd:element name="jobTitle" type="xsd5:DTypeJobTitle" minOccurs="0"/>
      <xsd:element name="emailAgencyMember" type="tns:EmailAgencyMember" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="telecomAgencyMember" type="tns:TelecomAgencyMember" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Continuity">
    <xsd:sequence>
      <xsd:element name="totalNumber" type="xsd:long" minOccurs="0"/>
      <xsd:element name="firstIndex" type="xsd:int" minOccurs="0"/>
      <xsd:element name="lastIndex" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentifyCustomerCrossReferentialResponse">
    <xsd:sequence>
      <xsd:element name="continuity" type="tns:Continuity" minOccurs="0"/>
      <xsd:element name="customer" type="tns:Customer" minOccurs="0" maxOccurs="50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractIndividual">
    <xsd:sequence>
      <xsd:element name="contractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="contractFamily" type="xsd1:DTypeFamilleProduit" minOccurs="0"/>
      <xsd:element name="productType" type="xsd1:DTypeTypeProduit" minOccurs="0"/>
      <xsd:element name="productSubType" type="xsd1:DTypeSousTypeProduit" minOccurs="0"/>
      <xsd:element name="contractStatus" type="xsd1:DTypeContractStatus" minOccurs="0"/>
      <xsd:element name="validityStartDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="validityEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="tierLevel" type="xsd1:DTypeTierLevel" minOccurs="0"/>
      <xsd:element name="memberType" type="xsd1:DTypeContractType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Customer">
    <xsd:sequence>
      <xsd:element name="individual" type="tns:Individual" minOccurs="0"/>
      <xsd:element name="corporate" type="tns:Corporate" minOccurs="0"/>
      <xsd:element name="agency" type="tns:Agency" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessError">
    <xsd:sequence>
      <xsd:element name="errorCode" type="tns:ReturnCode" minOccurs="0"/>
      <xsd:element name="faultDescription" type="xsd5:DTypeMessage" minOccurs="0"/>
      <xsd:element name="missingParameter" type="xsd5:DTypeMessage" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ReturnCode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="000"/>
      <xsd:enumeration value="001"/>
      <xsd:enumeration value="133"/>
      <xsd:enumeration value="246"/>
      <xsd:enumeration value="905"/>
      <xsd:enumeration value="932"/>
      <xsd:enumeration value="933"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.responseV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
