azure/repind-ri-ws/src/webservices/Individu/IdentifyCustomerCrossReferentialWS/src/main/webapp/WEB-INF/wsdl/GEN/passenger_AgencyDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema

        targetNamespace="http://www.af-klm.com/services/passenger/AgencyDataType-v1/xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->

  <!-- types declarations -->
  <xsd:simpleType name="ETypeGDSCodeAgency">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AS"/>
      <xsd:enumeration value="A1"/>
      <xsd:enumeration value="CE"/>
      <xsd:enumeration value="CO"/>
      <xsd:enumeration value="FA"/>
      <xsd:enumeration value="GE"/>
      <xsd:enumeration value="JT"/>
      <xsd:enumeration value="KE"/>
      <xsd:enumeration value="KM"/>
      <xsd:enumeration value="NH"/>
      <xsd:enumeration value="PA"/>
      <xsd:enumeration value="RZ"/>
      <xsd:enumeration value="SD"/>
      <xsd:enumeration value="TQ"/>
      <xsd:enumeration value="TT"/>
      <xsd:enumeration value="1A"/>
      <xsd:enumeration value="1B"/>
      <xsd:enumeration value="1E"/>
      <xsd:enumeration value="1F"/>
      <xsd:enumeration value="1G"/>
      <xsd:enumeration value="1J"/>
      <xsd:enumeration value="1N"/>
      <xsd:enumeration value="1P"/>
      <xsd:enumeration value="1U"/>
      <xsd:enumeration value="1V"/>
      <!-- <xsd:enumeration value="1S"/> New SABRE code instead of "1W" -->
      <xsd:enumeration value="1W"/>
      <xsd:enumeration value="1Y"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ETypeOptionAgency">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GIN"/>
      <xsd:enumeration value="AN"/>
      <xsd:enumeration value="AR"/>
      <xsd:enumeration value="AT"/>
      <xsd:enumeration value="IA"/>
      <xsd:enumeration value="TA"/>
      <xsd:enumeration value="BI"/>
      <xsd:enumeration value="AG"/>
      <xsd:enumeration value="GDS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeServiceCodeAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTypeAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLocalisationAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTargetAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeInfrastructureAngecy">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGSAAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSendingITAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCatchmentAreaAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDomainAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSubDomainAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSalesTypeAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAgreementTypeAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIATAStatusAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBSPAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeExcGrComAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeISOCityCodeAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMotherIATAAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNetworkMemberAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNetworkCodeAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIATACountryCodeNetworkAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNetworkNameAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNetworkTypeAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCounterLetterAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOfficeID">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOptionPublicAgency">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="IA"/>
      <xsd:maxLength value = "2"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(agencyType.AgencyDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
