azure/repind-ri-ws/src/webservices/Individu/IdentifyCustomerCrossReferentialWS/src/main/webapp/WEB-INF/wsdl/GEN/passenger_SicFirmType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SicFirmType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SicFirmType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="SynonymElement" type="tns:Synonym"/>
  <xsd:element name="ContractElement" type="tns:Contract"/>
  <xsd:element name="KeyNumberElement" type="tns:KeyNumber"/>
  <xsd:element name="CommercialZonesElement" type="tns:CommercialZones"/>
  <xsd:element name="SalesZonesElement" type="tns:SalesZones"/>
  <xsd:element name="FinancialZonesElement" type="tns:FinancialZones"/>
  <xsd:element name="NumberElement" type="tns:Number"/>
  <xsd:element name="MarketChoiceElement" type="tns:MarketChoice"/>
  <xsd:element name="SBTElement" type="tns:SBT"/>
  <xsd:element name="AgencyElement" type="tns:Agency"/>
  <xsd:element name="IdentificationAgencyElement" type="tns:IdentificationAgency"/>
  <xsd:element name="LinkAgencyElement" type="tns:LinkAgency"/>
  <xsd:element name="PostalAddressBlocElement" type="tns:PostalAddressBloc"/>
  <xsd:element name="PostalAddressPropertiesElement" type="tns:PostalAddressProperties"/>
  <xsd:element name="PostalAddressContentElement" type="tns:PostalAddressContent"/>
  <xsd:element name="TelecomBlocElement" type="tns:TelecomBloc"/>
  <xsd:element name="TelecomElement" type="tns:Telecom"/>
  <xsd:element name="TelecomStandardizationElement" type="tns:TelecomStandardization"/>
  <xsd:element name="EmailElement" type="tns:Email"/>
  <xsd:element name="CompanyProfileElement" type="tns:CompanyProfile"/>
  <xsd:element name="WarningElement" type="tns:Warning"/>
  <xsd:element name="EmailPropertiesElement" type="tns:EmailProperties"/>
  <xsd:element name="EmailContentElement" type="tns:EmailContent"/>

  <!-- types declarations -->
  <xsd:complexType name="Synonym">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeSynonymAin" minOccurs="0"/>
      <xsd:element name="type" type="tns:DTypeSynonymType" minOccurs="0"/>
      <xsd:element name="name" type="tns:DTypeSynonymName" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contract">
    <xsd:sequence>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="numberContract" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="typeContract" type="xsd1:DTypeContractType" minOccurs="0"/>
      <xsd:element name="subtypeContract" type="tns:DTypeSubtypeContract" minOccurs="0"/>
      <xsd:element name="statusContract" type="xsd1:DTypeContractStatus" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="endOfBusiness" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="masterControl" type="tns:DTypeMasterControl" minOccurs="0"/>
      <xsd:element name="optin" type="tns:DTypeOptin" minOccurs="0"/>
      <xsd:element name="numberAccount" type="tns:DTypeAccountNumber" minOccurs="0"/>
      <xsd:element name="mainReference" type="tns:DTypeMainReference" minOccurs="0"/>
      <xsd:element name="associatedReference" type="tns:DTypeAssociatedReference" minOccurs="0"/>
      <xsd:element name="issuingAuthorisation" type="tns:DTypeDirectorWord" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd1:DTypeNationality" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeyNumber">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeKeyNumberAin" minOccurs="0"/>
      <xsd:element name="type" type="tns:DTypeKeyNumberType" minOccurs="0"/>
      <xsd:element name="number" type="tns:DTypeKeyNumberNumber" minOccurs="0"/>
      <xsd:element name="wording" type="tns:DTypeKeyNumberWording" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommercialZones">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeCommercialZoneAin"/>
      <xsd:element name="ginZC" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="zc1" type="tns:DTypeZC1" minOccurs="0"/>
      <xsd:element name="zc2" type="tns:DTypeZC2" minOccurs="0"/>
      <xsd:element name="zc3" type="tns:DTypeZC3" minOccurs="0"/>
      <xsd:element name="zc4" type="tns:DTypeZC4" minOccurs="0"/>
      <xsd:element name="zc5" type="tns:DTypeZC5" minOccurs="0"/>
      <xsd:element name="zcSubtype" type="tns:DTypeZoneSubtype" minOccurs="0"/>
      <xsd:element name="natureZone" type="tns:DTypeNature" minOccurs="0"/>
      <xsd:element name="privilegedLink" type="tns:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="dateLinkCreation" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateLinkClosure" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="origin" type="tns:DTypeZcOrigin" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature" minOccurs="0"/>
      <xsd:element name="dateSignature" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesZones">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeSalesZoneAin"/>
      <xsd:element name="ginZV" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="zv0" type="tns:DTypeZV0" minOccurs="0"/>
      <xsd:element name="zv1" type="tns:DTypeZV1" minOccurs="0"/>
      <xsd:element name="zv2" type="tns:DTypeZV2" minOccurs="0"/>
      <xsd:element name="zv3" type="tns:DTypeZV3" minOccurs="0"/>
      <xsd:element name="zvSubtype" type="tns:DTypeZoneSubtype" minOccurs="0"/>
      <xsd:element name="natureZone" type="tns:DTypeNatureZone" minOccurs="0"/>
      <xsd:element name="privilegedLink" type="tns:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="dateLinkCreation" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateLinkClosure" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="alphaZone" type="tns:DTypeZvAlpha" minOccurs="0"/>
      <xsd:element name="currencyCode" type="xsd1:DTypeCurrencyCode" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature" minOccurs="0"/>
      <xsd:element name="dateSignature" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialZones">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeFinancialZoneAin"/>
      <xsd:element name="ginZF" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="cityCode" type="tns:DTypeCityCode" minOccurs="0"/>
      <xsd:element name="geographicalZone" type="tns:DTypeGeographicalZone" minOccurs="0"/>
      <xsd:element name="ufCode" type="tns:DTypeUfCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="tns:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="privilegedLink" type="tns:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="dateLinkCreation" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateLinkClosure" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature" minOccurs="0"/>
      <xsd:element name="dateSignature" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Number">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeNumberAin" minOccurs="0"/>
      <xsd:element name="amount" type="tns:DTypeNumberAmount" minOccurs="0"/>
      <xsd:element name="currencyCode" type="xsd1:DTypeCurrencyCode" minOccurs="0"/>
      <xsd:element name="numberType" type="tns:DTypeNumberType" minOccurs="0"/>
      <xsd:element name="wording" type="tns:DTypeNumberWording" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarketChoice">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeMarketAin" minOccurs="0"/>
      <xsd:element name="levelType" type="tns:DTypeMarketType" minOccurs="0"/>
      <xsd:element name="level" type="tns:DTypeMarketLevel" minOccurs="0"/>
      <xsd:element name="travelPolicy" type="tns:DTypeTravelPolicy" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="amount" type="tns:DTypePotentialAmount" minOccurs="0"/>
      <xsd:element name="currencyCode" type="xsd1:DTypeCurrencyCode" minOccurs="0"/>
      <xsd:element name="potential" type="tns:DTypePotential" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SBT">
    <xsd:sequence>
      <xsd:element name="sbtCode" type="tns:DTypeSbtCode" minOccurs="0"/>
      <xsd:element name="portailGdsCode" type="tns:DTypePtCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Agency">
    <xsd:sequence>
      <xsd:element name="identificationAgency" type="tns:IdentificationAgency" minOccurs="0"/>
      <xsd:element name="linkAgency" type="tns:LinkAgency" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationAgency">
    <xsd:sequence>
      <xsd:element name="ginAgency" type="tns:DTypeAgencyGin" minOccurs="0"/>
      <xsd:element name="iataAgency" type="xsd1:DTypeIata" minOccurs="0"/>
      <xsd:element name="usualName" type="tns:DTypeSynonymName" minOccurs="0"/>
      <xsd:element name="zc1" type="tns:DTypeZC1" minOccurs="0"/>
      <xsd:element name="zc2" type="tns:DTypeZC2" minOccurs="0"/>
      <xsd:element name="zc3" type="tns:DTypeZC3" minOccurs="0"/>
      <xsd:element name="zc4" type="tns:DTypeZC4" minOccurs="0"/>
      <xsd:element name="zc5" type="tns:DTypeZC5" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LinkAgency">
    <xsd:sequence>
      <xsd:element name="internalAgencyLink" type="tns:DTypeAgencyInternalLink"/>
      <xsd:element name="privilegedAgency" type="tns:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="zcLinks" type="tns:DTypeZcLink" minOccurs="0"/>
      <xsd:element name="status" type="tns:DTypeStatusIata" minOccurs="0"/>
      <xsd:element name="linkType" type="tns:DTypeLinkType" minOccurs="0"/>
      <xsd:element name="tradeName" type="tns:DTypeSynonymName" minOccurs="0"/>
      <xsd:element name="subtype" type="tns:DTypeZoneSubtype" minOccurs="0"/>
      <xsd:element name="dateLinkCreation" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateLinkEnd" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressBloc">
    <xsd:sequence>
      <xsd:element name="postalAddressProperties" type="tns:PostalAddressProperties" minOccurs="0"/>
      <xsd:element name="postalAddressContent" type="tns:PostalAddressContent" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressProperties">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeAddressAin" minOccurs="0"/>
      <xsd:element name="bypassNormAddress" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressContent">
    <xsd:sequence>
      <xsd:element name="businessName" type="xsd1:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="complementSends" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="streetNumber" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="saidPlace" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="tns:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="provinceCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomBloc">
    <xsd:sequence>
      <xsd:element name="telecom" type="tns:Telecom" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecomStandardization" type="tns:TelecomStandardization" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telecom">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeTelecomAin" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd1:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="countryCodeNum" type="tns:DTypeCountryCodeNum" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="tns:DTypePhoneNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomStandardization">
    <xsd:sequence>
      <xsd:element name="normPhoneNumber" type="xsd1:DTypeInternationalPhoneNumber" minOccurs="0"/>
      <xsd:element name="normCountryCode" type="xsd1:DTypeInternationalCountryCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Email">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeEmailAin" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="mailingAuthorized" type="xsd1:DTypeAutorisationMailing" minOccurs="0"/>
      <xsd:element name="complementaryInformation" type="tns:DTypeEmailComplInfo" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CompanyProfile">
    <xsd:sequence>
      <xsd:element name="exportActivityIndicator" type="tns:DTypeExportActivityInd" minOccurs="0"/>
      <xsd:element name="mailingIndicator" type="tns:DTypeMailingInd" minOccurs="0"/>
      <xsd:element name="inseeCode" type="tns:DTypeInseeCodeEmp" minOccurs="0"/>
      <xsd:element name="nonPayment" type="tns:DTypeNonPayment" minOccurs="0"/>
      <xsd:element name="noSales" type="tns:DTypeNoSales" minOccurs="0"/>
      <xsd:element name="writtenLanguageCode" type="tns:DTypeWrittenLangCode" minOccurs="0"/>
      <xsd:element name="spokenLanguageCode" type="tns:DTypeSpokenLangCode" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd1:DTypeNationality" minOccurs="0"/>
      <xsd:element name="nbOfEmployees" type="tns:DTypeNbEmployees" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Warning">
    <xsd:sequence>
      <xsd:element name="warningCode" type="xsd1:DTypeWarningCode" minOccurs="0"/>
      <xsd:element name="warningDetails" type="xsd1:DTypeWarningDetails" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailProperties">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeEmailAin" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mailingAuthorized" type="xsd1:DTypeAutorisationMailing" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailContent">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="mailingAuthorized" type="xsd1:DTypeAutorisationMailing" minOccurs="0"/>
      <xsd:element name="complementaryInformation" type="tns:DTypeEmailComplInfo" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DTypeStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeHierarchyType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDoor2DoorSelling">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSiren">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSiret">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSourceCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIndustryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeActivity">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSupportCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBusinessName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="45"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeManagingCompany">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeHeadOffice">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFirmComment">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="225"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSynonymAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSynonymType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSynonymName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="45"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSubtypeContract">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMasterControl">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOptin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAccountNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMainReference">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAssociatedReference">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDirectorWord">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumberAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="38"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumberNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumberWording">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCommercialZoneAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC5">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZoneSubtype">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNature">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePrivilegedLink">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZcOrigin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSalesZoneAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZV0">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZV1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZV2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZV3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZvAlpha">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNatureZone">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFinancialZoneAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCityCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGeographicalZone">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUfCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCountryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumberAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="38"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumberWording">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumberAmount">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketLevel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTravelPolicy">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePotential">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePotentialAmount">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSbtCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePtCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAddressAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTelecomAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCountryCodeNum">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePhoneNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEmailAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEmailComplInfo">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAgencyGin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIataNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAgencyInternalLink">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZcLink">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStatusIata">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLinkType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentificationType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeExportActivityInd">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMailingInd">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeInseeCodeEmp">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNonPayment">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNoSales">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWrittenLangCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSpokenLangCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNbEmployees">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCompanyType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCeAttendance">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComment">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="225"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFirmType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAz">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGroupCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLinkTypeMembers">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFBTier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMemberAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMemberEmission">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeContact">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTraveler">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMemberJobAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeJobTitle">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMemberSort">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFbContractNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentificationNumberFirm">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZCConcat">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAdditionalInformation">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLocation">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentificationValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMessage">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="225"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeChannel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSearchType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNameType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeProcessType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(firmType.SicFirmTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
