azure/repind-ri-ws/src/webservices/Individu/IdentifyCustomerCrossReferentialWS/src/main/webapp/WEB-INF/wsdl/GEN/passenger_SicAgencyType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SicAgencyType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SicAgencyType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="AgencyElement" type="tns:Agency"/>
  <xsd:element name="CommercialZonesElement" type="tns:CommercialZones"/>
  <xsd:element name="EmailElement" type="tns:Email"/>
  <xsd:element name="FinancialZonesElement" type="tns:FinancialZones"/>
  <xsd:element name="SalesZonesElement" type="tns:SalesZones"/>
  <xsd:element name="SynonymElement" type="tns:Synonym"/>
  <xsd:element name="TelecomBlocElement" type="tns:TelecomBloc"/>
  <xsd:element name="TelecomElement" type="tns:Telecom"/>
  <xsd:element name="TelecomStandardizationElement" type="tns:TelecomStandardization"/>
  <xsd:element name="PostalAddressBlocElement" type="tns:PostalAddressBloc"/>
  <xsd:element name="PostalAddressPropertiesElement" type="tns:PostalAddressProperties"/>
  <xsd:element name="PostalAddressContentElement" type="tns:PostalAddressContent"/>
  <xsd:element name="NetworksElement" type="tns:Networks"/>
  <xsd:element name="ProspectionProfileElement" type="tns:ProspectionProfile"/>
  <xsd:element name="KeyNumberElement" type="tns:KeyNumber"/>
  <xsd:element name="MarketChoiceElement" type="tns:MarketChoice"/>
  <xsd:element name="GDSElement" type="tns:GDS"/>
  <xsd:element name="CompanyElement" type="tns:Company"/>
  <xsd:element name="AlliedCompanyElement" type="tns:AlliedCompany"/>
  <xsd:element name="IdentificationAgencyElement" type="tns:IdentificationAgency"/>
  <xsd:element name="ProfileAgencyElement" type="tns:ProfileAgency"/>
  <xsd:element name="IdentificationCompanyElement" type="tns:IdentificationCompany"/>
  <xsd:element name="LinkCompanyElement" type="tns:LinkCompany"/>
  <xsd:element name="SequoiaContractElement" type="tns:SequoiaContract"/>

  <!-- types declarations -->
  <xsd:complexType name="Agency">
    <xsd:sequence>
      <xsd:element name="identificationAgency" type="tns:IdentificationAgency"/>
      <xsd:element name="profileAgency" type="tns:ProfileAgency"/>
      <xsd:element name="signature" type="xsd1:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommercialZones">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeCommercialZoneAin"/>
      <xsd:element name="ginZC" type="xsd2:DTypeGin"/>
      <xsd:element name="zc1" type="tns:DTypeZC1"/>
      <xsd:element name="zc2" type="tns:DTypeZC2" minOccurs="0"/>
      <xsd:element name="zc3" type="tns:DTypeZC3" minOccurs="0"/>
      <xsd:element name="zc4" type="tns:DTypeZC4" minOccurs="0"/>
      <xsd:element name="zc5" type="tns:DTypeZC5" minOccurs="0"/>
      <xsd:element name="zcSubtype" type="tns:DTypeZoneSubtype" minOccurs="0"/>
      <xsd:element name="natureZone" type="tns:DTypeNatureZone" minOccurs="0"/>
      <xsd:element name="privilegedLink" type="tns:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="dateLinkCreation" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateLinkClosure" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="origin" type="tns:DTypeZcOrigin" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:DTypeSignature" minOccurs="0"/>
      <xsd:element name="dateSignature" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Email">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeEmailAin" minOccurs="0"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd2:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="email" type="xsd2:DTypeEmail" minOccurs="0"/>
      <xsd:element name="mailingAuthorized" type="xsd2:DTypeAutorisationMailing" minOccurs="0"/>
      <xsd:element name="complementaryInformation" type="tns:DTypeEmailComplInfo" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialZones">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeFinancialZoneAin"/>
      <xsd:element name="ginZF" type="xsd2:DTypeGin"/>
      <xsd:element name="cityCode" type="tns:DTypeCityCode"/>
      <xsd:element name="geographicalZone" type="tns:DTypeGeographicalZone" minOccurs="0"/>
      <xsd:element name="ufCode" type="tns:DTypeUfCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="tns:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="privilegedLink" type="tns:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="dateLinkCreation" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateLinkClosure" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:DTypeSignature" minOccurs="0"/>
      <xsd:element name="dateSignature" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalesZones">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeSalesZoneAin"/>
      <xsd:element name="ginZV" type="xsd2:DTypeGin"/>
      <xsd:element name="zv0" type="tns:DTypeZV0"/>
      <xsd:element name="zv1" type="tns:DTypeZV1" minOccurs="0"/>
      <xsd:element name="zv2" type="tns:DTypeZV2" minOccurs="0"/>
      <xsd:element name="zv3" type="tns:DTypeZV3" minOccurs="0"/>
      <xsd:element name="zvSubtype" type="tns:DTypeZoneSubtype" minOccurs="0"/>
      <xsd:element name="natureZone" type="tns:DTypeNatureZone" minOccurs="0"/>
      <xsd:element name="privilegedLink" type="tns:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="dateLinkCreation" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateLinkClosure" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="alphaZone" type="tns:DTypeZvAlpha" minOccurs="0"/>
      <xsd:element name="currencyCode" type="xsd2:DTypeCurrencyCode" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:DTypeSignature" minOccurs="0"/>
      <xsd:element name="dateSignature" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="wordingZVAlpha" type="tns:DTypeWordingZVAlpha"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Synonym">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeSynonymAin" minOccurs="0"/>
      <xsd:element name="type" type="tns:DTypeSynonymType" minOccurs="0"/>
      <xsd:element name="name" type="tns:DTypeSynonymName" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomBloc">
    <xsd:sequence>
      <xsd:element name="telecom" type="tns:Telecom" minOccurs="0"/>
      <xsd:element name="telecomStandardization" type="tns:TelecomStandardization" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telecom">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeTelecomAin" minOccurs="0"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd2:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd2:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="countryCodeNum" type="tns:DTypeCountryCodeNum" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="tns:DTypePhoneNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomStandardization">
    <xsd:sequence>
      <xsd:element name="normPhoneNumber" type="xsd2:DTypeInternationalPhoneNumber" minOccurs="0"/>
      <xsd:element name="normCountryCode" type="xsd2:DTypeInternationalCountryCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressBloc">
    <xsd:sequence>
      <xsd:element name="postalAddressContent" type="tns:PostalAddressContent" minOccurs="0"/>
      <xsd:element name="postalAddressProperties" type="tns:PostalAddressProperties" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressProperties">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeAddressAin" minOccurs="0"/>
      <xsd:element name="bypassNormAddress" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd2:DTypeMediumStatus" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressContent">
    <xsd:sequence>
      <xsd:element name="businessName" type="xsd2:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="city" type="xsd2:DTypeCity" minOccurs="0"/>
      <xsd:element name="complementSends" type="xsd2:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="streetNumber" type="xsd2:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="saidPlace" type="xsd2:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd2:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="tns:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="provinceCode" type="xsd2:DTypeCodeProvince" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Networks">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeNetworkAin"/>
      <xsd:element name="networkCode" type="tns:DTypeNetworkCode"/>
      <xsd:element name="iATACountryCode" type="tns:DTypeIATACountryCode" minOccurs="0"/>
      <xsd:element name="validityStartDate" type="xsd:dateTime"/>
      <xsd:element name="validityEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="networkNature" type="tns:DTypeNatureNetwork" minOccurs="0"/>
      <xsd:element name="networkName" type="tns:DTypeNetworkName"/>
      <xsd:element name="networkType" type="tns:DTypeNetworkType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProspectionProfile">
    <xsd:sequence>
      <xsd:element name="mailingType" type="tns:DTypeMailingType"/>
      <xsd:element name="prospection" type="tns:DTypeProspection"/>
      <xsd:element name="spokenLanguage" type="tns:DTypeSpokenLangCode" minOccurs="0"/>
      <xsd:element name="writtenLanguage" type="tns:DTypeWrittenLangCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeyNumber">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeKeyNumberAin"/>
      <xsd:element name="type" type="tns:DTypeKeyNumberType" minOccurs="0"/>
      <xsd:element name="number" type="tns:DTypeKeyNumberNumber" minOccurs="0"/>
      <xsd:element name="wording" type="tns:DTypeKeyNumberWording" minOccurs="0"/>
      <xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="lastUpdate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarketChoice">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeMarketAin"/>
      <xsd:element name="marketType" type="tns:DTypeMarketType"/>
      <xsd:element name="marketLevel" type="tns:DTypeMarketLevel"/>
      <xsd:element name="marketEntry" type="xsd:dateTime"/>
      <xsd:element name="marketExit" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GDS">
    <xsd:sequence>
      <xsd:element name="ain" type="tns:DTypeGDSAin"/>
      <xsd:element name="counterLetter" type="tns:DTypeGDSCounterLetter" minOccurs="0"/>
      <xsd:element name="gDSCode" type="tns:DTypeGDSCode"/>
      <xsd:element name="gDSName" type="tns:DTypeGDSName"/>
      <xsd:element name="officeId" type="xsd2:DTypeOfficeId" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Company">
    <xsd:sequence>
      <xsd:element name="identificationCompany" type="tns:IdentificationCompany"/>
      <xsd:element name="linkCompany" type="tns:LinkCompany"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AlliedCompany">
    <xsd:sequence>
      <xsd:element name="companyCode" type="xsd2:DTypeCompany"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationAgency">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd2:DTypeGin"/>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="businessName" type="tns:DTypeBusinessName"/>
      <xsd:element name="legalEntityStatus" type="tns:DTypeLegalEntityType"/>
      <xsd:element name="modifyStatusDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="legalEntityType" type="tns:DTypeLegalEntityType"/>
      <xsd:element name="activity" type="tns:DTypeActivity" minOccurs="0"/>
      <xsd:element name="motherGinFirm" type="xsd2:DTypeGin" minOccurs="0"/>
      <xsd:element name="webSite" type="xsd2:DTypeUrl" minOccurs="0"/>
      <xsd:element name="managerCarrier" type="xsd2:DTypeCompanyManager" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProfileAgency">
    <xsd:sequence>
      <xsd:element name="ginMotherAgency" type="xsd2:DTypeGin" minOccurs="0"/>
      <xsd:element name="numberMotherAgency" type="tns:DTypeNumberAgency" minOccurs="0"/>
      <xsd:element name="numberMotherAgencyType" type="tns:DTypeNumberAgencyType" minOccurs="0"/>
      <xsd:element name="numberAgency" type="tns:DTypeNumberAgency" minOccurs="0"/>
      <xsd:element name="numberAgencyType" type="tns:DTypeNumberAgencyType" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd2:DTypeNationality" minOccurs="0"/>
      <xsd:element name="agencyType" type="tns:DTypeAgencyType"/>
      <xsd:element name="startDate" type="xsd:dateTime"/>
      <xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="agreementDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="endOfIataAgreementDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="location" type="tns:DTypeLocation" minOccurs="0"/>
      <xsd:element name="targetted" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="gsa" type="tns:DTypeGSA" minOccurs="0"/>
      <xsd:element name="toSalesImpact" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="catchmentArea" type="tns:DTypeCatchmentArea" minOccurs="0"/>
      <xsd:element name="distributionChannel" type="tns:DTypeDistributionChannel"/>
      <xsd:element name="agreementType" type="tns:DTypeAgreementType" minOccurs="0"/>
      <xsd:element name="iataStatus" type="tns:DTypeIataStatus" minOccurs="0"/>
      <xsd:element name="distributionSubChannel" type="tns:DTypeDistributionSubChannel" minOccurs="0"/>
      <xsd:element name="bsp" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="comments" type="tns:DTypeComments" minOccurs="0"/>
      <xsd:element name="exclusiveGAImplant" type="tns:DTypeExclusiveGAImplant" minOccurs="0"/>
      <xsd:element name="isoCityCode" type="tns:DTypeIsoCityCode" minOccurs="0"/>
      <xsd:element name="saleType" type="tns:DTypeSaleType" minOccurs="0"/>
      <xsd:element name="inseeCode" type="tns:DTypeInseeCodeEmp" minOccurs="0"/>
      <xsd:element name="noSales" type="tns:DTypeNoSales" minOccurs="0"/>
      <xsd:element name="nbOfEmployees" type="tns:DTypeNbEmployees" minOccurs="0"/>
      <xsd:element name="iataStationCode" type="tns:DTypeIataStationCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationCompany">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd2:DTypeGin"/>
      <xsd:element name="siret" type="tns:DTypeSiret" minOccurs="0"/>
      <xsd:element name="usualName" type="tns:DTypeSynonymName"/>
      <xsd:element name="zc1" type="tns:DTypeZC1" minOccurs="0"/>
      <xsd:element name="zc2" type="tns:DTypeZC2"/>
      <xsd:element name="zc3" type="tns:DTypeZC3" minOccurs="0"/>
      <xsd:element name="zc4" type="tns:DTypeZC4" minOccurs="0"/>
      <xsd:element name="zc5" type="tns:DTypeZC5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LinkCompany">
    <xsd:sequence>
      <xsd:element name="privilegedAgency" type="tns:DTypePrivilegedLink" minOccurs="0"/>
      <xsd:element name="zcLinks" type="tns:DTypeZcLink" minOccurs="0"/>
      <xsd:element name="status" type="tns:DTypeStatusIata" minOccurs="0"/>
      <xsd:element name="linkType" type="tns:DTypeLinkType" minOccurs="0"/>
      <xsd:element name="tradeName" type="tns:DTypeSynonymName" minOccurs="0"/>
      <xsd:element name="subtype" type="tns:DTypeZoneSubtype" minOccurs="0"/>
      <xsd:element name="linkCreationDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="linkEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="internalAgencyLink" type="tns:DTypeAgencyInternalLink"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SequoiaContract">
    <xsd:sequence>
      <xsd:element name="numberContract" type="xsd2:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="tcType" type="tns:DTypeTcType" minOccurs="0"/>
      <xsd:element name="tcName" type="tns:DTypeTcName" minOccurs="0"/>
      <xsd:element name="startValidityDate" type="xsd:dateTime"/>
      <xsd:element name="endBusinessDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="contractName" type="tns:DTypeContractName"/>
      <xsd:element name="sequoiaStatus" type="tns:DTypeSequoiaStatus" minOccurs="0"/>
      <xsd:element name="contracting" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="exclusion" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DTypeBusinessName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="45"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLegalEntityType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentificationType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAz">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLegalEntityStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeActivity">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumberAgency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumberAgencyType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAgencyType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLocation">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGSA">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCatchmentArea">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDistributionSubChannel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDistributionChannel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAgreementType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIataStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComments">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeExclusiveGAImplant">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIsoCityCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePrivilegedLink">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCityCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGeographicalZone">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUfCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCountryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCommercialZoneAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFinancialZoneAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZC5">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZoneSubtype">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZcOrigin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNatureZone">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSalesZoneAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZV0">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZV1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZV2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZV3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZvAlpha">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWordingZVAlpha">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMailingType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeProspection">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWrittenLangCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSpokenLangCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNetworkAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNetworkCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNatureNetwork">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNetworkName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNetworkType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIATACountryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTelecomAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCountryCodeNum">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePhoneNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEmailAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEmailComplInfo">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAddressAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSynonymAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSynonymType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSynonymName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="45"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumberAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="38"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumberNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyNumberWording">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketLevel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeInseeCodeEmp">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNoSales">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNbEmployees">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGDSAin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGDSCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGDSName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOfficeId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGDSUpdateType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGDSCounterLetter">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAgencyInternalLink">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLinkType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZcLink">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStatusIata">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSiret">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOptin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeContractName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSequoiaStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTcType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTcName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSaleType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIataStationCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(agencyType.SicAgencyTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
