azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V8/passenger_request-v8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/request-v8/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/request-v8/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="8.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd" schemaLocation="passenger_SicIndividuType-v3.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="EmailRequestElement" type="tns:EmailRequest"/>
  <xsd:element name="IndividualRequestElement" type="tns:IndividualRequest"/>
  <xsd:element name="PostalAddressRequestElement" type="tns:PostalAddressRequest"/>
  <xsd:element name="TelecomRequestElement" type="tns:TelecomRequest"/>
  <xsd:element name="ExternalIdentifierRequestElement" type="tns:ExternalIdentifierRequest"/>
  <xsd:element name="ComunicationPreferencesRequestElement" type="tns:ComunicationPreferencesRequest"/>
  <xsd:element name="PrefilledNumbersRequestElement" type="tns:PrefilledNumbersRequest"/>
  <xsd:element name="AccountDelegationDataRequestElement" type="tns:AccountDelegationDataRequest"/>
  <xsd:element name="DelegateElement" type="tns:Delegate"/>
  <xsd:element name="DelegatorElement" type="tns:Delegator"/>
  <xsd:element name="DelegationDataElement" type="tns:DelegationData"/>
  <xsd:element name="AlertRequestElement" type="tns:AlertRequest"/>
  <xsd:element name="PreferenceRequestElement" type="tns:PreferenceRequest"/>
  <xsd:element name="UtfRequestElement" type="tns:UtfRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="EmailRequest">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:Email" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualRequest">
    <xsd:sequence>
      <xsd:element name="individualInformations" type="xsd1:IndividualInformationsV3" minOccurs="0"/>
      <xsd:element name="individualProfil" type="xsd1:IndividualProfilV3" minOccurs="0"/>
      <xsd:element name="civilian" type="xsd1:Civilian" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressRequest">
    <xsd:sequence>
      <xsd:element name="postalAddressProperties" type="xsd1:PostalAddressProperties" minOccurs="0"/>
      <xsd:element name="postalAddressContent" type="xsd1:PostalAddressContent" minOccurs="0"/>
      <xsd:element name="usageAddress" type="xsd1:UsageAddress" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomRequest">
    <xsd:sequence>
      <xsd:element name="telecom" type="xsd1:Telecom" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="externalIdentifier" type="xsd1:ExternalIdentifier" minOccurs="0"/>
      <xsd:element name="externalIdentifierData" type="xsd1:ExternalIdentifierData" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComunicationPreferencesRequest">
    <xsd:sequence>
      <xsd:element name="communicationPreferences" type="xsd1:CommunicationPreferences" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrefilledNumbersRequest">
    <xsd:sequence>
      <xsd:element name="prefilledNumbers" type="xsd1:PrefilledNumbers" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountDelegationDataRequest">
    <xsd:sequence>
      <xsd:element name="delegate" type="tns:Delegate" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegator" type="tns:Delegator" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Delegate">
    <xsd:sequence>
      <xsd:element name="delegationData" type="tns:DelegationData" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Delegator">
    <xsd:sequence>
      <xsd:element name="delegationData" type="tns:DelegationData" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelegationData">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd3:DTypeGin" minOccurs="0"/>
      <xsd:element name="delegationAction" type="xsd3:DTypeDelegationAction" minOccurs="0"/>
      <xsd:element name="delegationType" type="xsd3:DTypeDelegationType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AlertRequest">
    <xsd:sequence>
      <xsd:element name="alert" type="xsd1:Alert" minOccurs="0" maxOccurs="50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreferenceRequest">
    <xsd:sequence>
      <xsd:element name="preference" type="xsd1:PreferenceV2" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtfRequest">
    <xsd:sequence>
      <xsd:element name="utf" type="xsd1:Utf" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.requestV8.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
