azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V8/passenger_ProspectType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/ProspectType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/ProspectType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd" schemaLocation="passenger_SicCommonEnum-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd" schemaLocation="passenger_ProspectDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="IdentificationDataElement" type="tns:IdentificationData"/>
  <xsd:element name="ContextDataElement" type="tns:ContextData"/>
  <xsd:element name="LocalizationDataElement" type="tns:LocalizationData"/>
  <xsd:element name="TelecomsElement" type="tns:Telecoms"/>
  <xsd:element name="MediaElement" type="tns:Media"/>
  <xsd:element name="ProfileInformationElement" type="tns:ProfileInformation"/>
  <xsd:element name="MarketLanguageElement" type="tns:MarketLanguage"/>
  <xsd:element name="CommunicationPreferencesElement" type="tns:CommunicationPreferences"/>
  <xsd:element name="SignatureElement" type="tns:Signature"/>
  <xsd:element name="TimeInformationsElement" type="tns:TimeInformations"/>
  <xsd:element name="ReturnDetailsElement" type="tns:ReturnDetails"/>

  <!-- types declarations -->
  <xsd:complexType name="IdentificationData">
    <xsd:sequence>
      <xsd:element name="civilityCode" type="xsd1:CivilityEnum" minOccurs="0"/>
      <xsd:element name="lastNameSC" type="xsd2:DTypeSurname" minOccurs="0"/>
      <xsd:element name="firstNameSC" type="xsd2:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="middleNameSC" type="xsd2:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="dateOfBirth" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd2:DTypeNationality" minOccurs="0"/>
      <xsd:element name="otherNationality" type="xsd2:DTypeNationality" minOccurs="0"/>
      <xsd:element name="email" type="xsd2:DTypeEmail"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContextData">
    <xsd:sequence>
      <xsd:element name="loggedGin" type="xsd2:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="reconciliationCin" type="xsd2:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="context" type="xsd3:DTypeContext"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocalizationData">
    <xsd:sequence>
      <xsd:element name="postalAddress" type="xsd3:DTypePostalAddress" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd2:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="city" type="xsd2:DTypeCity" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd3:DTypeStateCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd3:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd3:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="preferredAirport" type="xsd3:DTypePreferedAirport" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telecoms">
    <xsd:sequence>
      <xsd:element name="mediumStatus" type="xsd3:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd3:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd3:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd3:DTypeCountryCodeTelecom" minOccurs="0"/>
      <xsd:element name="normalizedCountryCode" type="xsd3:DTypeCountryCodeTelecom" minOccurs="0"/>
      <xsd:element name="regionCode" type="xsd3:DTypeRegionCodeTelecom" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd3:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="normalizedPhoneNumber" type="xsd3:DTypePhoneNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Media">
    <xsd:sequence>
      <xsd:element name="media1" type="xsd2:DTypeMedia" minOccurs="0"/>
      <xsd:element name="media2" type="xsd2:DTypeMedia" minOccurs="0"/>
      <xsd:element name="media3" type="xsd2:DTypeMedia" minOccurs="0"/>
      <xsd:element name="media4" type="xsd2:DTypeMedia" minOccurs="0"/>
      <xsd:element name="media5" type="xsd2:DTypeMedia" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProfileInformation">
    <xsd:sequence>
      <xsd:element name="languageCode" type="xsd1:LanguageCodesEnum" minOccurs="0"/>
      <xsd:element name="carrierCode" type="xsd3:DTypeCarrier" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarketLanguage">
    <xsd:sequence>
      <xsd:element name="market" type="xsd3:DTypeMarket"/>
      <xsd:element name="language" type="xsd1:LanguageCodesEnum"/>
      <xsd:element name="optIn" type="xsd3:DTypeOptIn"/>
      <xsd:element name="dateOfConsent" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="media" type="tns:Media" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationPreferences">
    <xsd:sequence>
      <xsd:element name="domain" type="xsd3:DTypeDomain"/>
      <xsd:element name="communicationGroupeType" type="xsd3:DTypeCommunicationType"/>
      <xsd:element name="communicationType" type="xsd3:DTypeCommunicationType"/>
      <xsd:element name="optIn" type="xsd3:DTypeOptIn"/>
      <xsd:element name="dateOfConsent" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="subscriptionChannel" type="xsd3:DTypeSubscriptionChannel"/>
      <xsd:element name="optInPartner" type="xsd3:DTypeOptIn" minOccurs="0"/>
      <xsd:element name="dateOfConsentPartner" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateOfEntry" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="media" type="tns:Media" minOccurs="0"/>
      <xsd:element name="marketLanguage" type="tns:MarketLanguage" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:sequence>
      <xsd:element name="site" type="xsd2:DTypeSite"/>
      <xsd:element name="signature" type="xsd2:DTypeSignature"/>
      <xsd:element name="ipAddress" type="xsd2:DTypeIpAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeInformations">
    <xsd:sequence>
      <xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="modificationDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReturnDetails">
    <xsd:sequence>
      <xsd:element name="detailedCode" type="xsd3:DTypeDetailedCode"/>
      <xsd:element name="labelCode" type="xsd3:DTypeLabelCode"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(prospectType.ProspectTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
