azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V8/passenger_ProspectDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema

        targetNamespace="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->

  <!-- types declarations -->
  <xsd:simpleType name="IdentifierTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GIN"/>
      <xsd:enumeration value="EM"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCarrier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePreferedAirport">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePostalAddress">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStateCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDomain">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMediumStatus">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[VIXPS]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMediumCode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[PD]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTerminal">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[TFXM]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRegionCodeTelecom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCountryCodeTelecom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePhoneNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarket">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOptIn">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCommunicationType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSubscriptionChannel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeContext">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeProspectIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLabelCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDetailedCode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{1,2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeProspectStatus">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[VXI]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(prospectType.ProspectDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
