azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V4/passenger_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/response-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/request-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="passenger_response-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/request-v1/xsd" schemaLocation="passenger_request-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CreateUpdateIndividualResponseElement" type="tns:CreateUpdateIndividualResponse"/>
  <xsd:element name="CreateUpdateIndividualRequestElement" type="tns:CreateUpdateIndividualRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="CreateUpdateIndividualResponse">
    <xsd:sequence>
      <xsd:element name="telecomResponse" type="xsd1:TelecomResponse" minOccurs="0" maxOccurs="4"/>
      <xsd:element name="emailResponse" type="xsd1:EmailResponse" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="individualResponse" type="xsd1:IndividualResponse" minOccurs="0"/>
      <xsd:element name="postalAddressResponse" type="xsd1:PostalAddressResponse" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateUpdateIndividualRequest">
    <xsd:sequence>
      <xsd:element name="requestor" type="xsd2:Requestor"/>
      <xsd:element name="emailRequest" type="xsd3:EmailRequest" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecomRequest" type="xsd3:TelecomRequest" minOccurs="0" maxOccurs="4"/>
      <xsd:element name="postalAddressRequest" type="xsd3:PostalAddressRequest" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="individualRequest" type="xsd3:IndividualRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v04.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
