azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/META-INF/wsdl/w000413/V2/marketingdata_store-v2.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2013-11-18 15:54:14.225--><!--SOA repository reference: W000413-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/marketingdata/store-v2/xsd" xmlns:xsd2="http://www.af-klm.com/services/marketingdata/common-v2/xsd" xmlns:xsd1="http://www.af-klm.com/services/bdm/types-v2/xsd" targetNamespace="http://www.af-klm.com/services/marketingdata/store-v2/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value bdm_types-v2.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/bdm/types-v2/xsd" schemaLocation="bdm_types-v2.xsd"/>
  <!--previous value marketingdata_common-v2.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/marketingdata/common-v2/xsd" schemaLocation="marketingdata_common-v2.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="DeleteMDRequestElement" type="tns:DeleteMDRequest"/>
  <xsd:element name="DeleteMDResponseElement" type="tns:DeleteMDResponse"/>
  <xsd:element name="StoreMDResponseElement" type="tns:StoreMDResponse"/>
  <xsd:element name="StoreMDRequestV2Element" type="tns:StoreMDRequestV2"/>

  <!-- types declarations -->
  <xsd:complexType name="DeleteMDRequest">
    <xsd:annotation>
      <xsd:documentation>delete all the marketing data of an individual in the BDM.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="GIN" type="xsd1:GinType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteMDResponse">
    <xsd:sequence>
      <xsd:element name="success" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>true if the marketing data has been deleted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType> 
  <xsd:complexType name="StoreMDResponse">
    <xsd:sequence>
      <xsd:element name="success" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>true  if the service is well done.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StoreMDRequestV2">
    <xsd:annotation>
      <xsd:documentation>update the marketing data of an individual in the BDM.&#xD;
for an individual you can update 5 types of components:&#xD;
  - Personal information &#xD;
  - TravelCompanionsV2&#xD;
  - TravelDocument&#xD;
  - APIS dataV2&#xD;
  - TravelPreference. &#xD;
  - Handicap. &#xD;
  - TutorUM. &#xD;    
Any modification component will follow the rule cancel/replace.&#xD;
A null component will remain unchanged.&#xD;
&#xD;
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="marketingDataV2" type="xsd2:MarketingDataV2"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.storeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>