azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/META-INF/wsdl/w000413/V2/passenger_StoreMarketingPreferencesCustomer-v02.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--SOA repository reference: W000413-v2.0.0-->
<!--Uploaded in SOA repository on 2013-11-18 15:54:14.304-->
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.af-klm.com/services/marketingdata/StoreMarketingPreferencesCustomer-v2/wsdl" xmlns:xsd2="http://www.af-klm.com/services/marketingdata/common-v2/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.af-klm.com/services/marketingdata/store-v2/xsd" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="StoreMarketingPreferencesCustomer-v2" targetNamespace="http://www.af-klm.com/services/marketingdata/StoreMarketingPreferencesCustomer-v2/wsdl">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UNTWSPortBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <!-- If not omitted then the client side expects a timestamp in the answer <sp:IncludeTimestamp /> -->
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema>
      <!--previous value marketingdata_store-v2.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/marketingdata/store-v2/xsd" schemaLocation="marketingdata_store-v2.xsd" />
    </xsd:schema>
    <xsd:schema>
      <!--previous value marketingdata_common-v2.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/marketingdata/common-v2/xsd" schemaLocation="marketingdata_common-v2.xsd" />
    </xsd:schema>
    <xsd:schema>
      <!--previous value SystemFault-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="msgStoreMarketingDataV2Request">
    <wsdl:part element="xsd1:StoreMDRequestV2Element" name="storeMDRequestV2" />
  </wsdl:message>
  <wsdl:message name="msgStoreMarketingDataV2Response">
    <wsdl:part element="xsd1:StoreMDResponseElement" name="storeMDResponse" />
  </wsdl:message>
  <wsdl:message name="msgDeleteMarketingDataRequest">
    <wsdl:part element="xsd1:DeleteMDRequestElement" name="deleteMDRequest" />
  </wsdl:message>
  <wsdl:message name="msgDeleteMarketingDataResponse">
    <wsdl:part element="xsd1:DeleteMDResponseElement" name="deleteMDResponse" />
  </wsdl:message>
  <wsdl:message name="msgMarketingDataBusinessFault">
    <wsdl:part element="xsd2:MarketingDataBusinessFaultElement" name="faultInfo" />
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part element="sft:SystemFault" name="faultInfo" />
  </wsdl:message>
  <wsdl:portType name="StoreMarketingPreferencesCustomer-v2">
    <wsdl:documentation>Create and store, update or delete Marketing data in the BDM.</wsdl:documentation>
    <wsdl:operation name="storeMarketingDataV2">
      <wsdl:documentation>update the marketing data of an individual in the BDM. for an individual you can update 7 types of components: - Personal information - TravelCompanions - TravelDocument - APIS data - TravelPreference. - Handicap. - Tutor UM. Any modification component will follow the rule cancel/replace. A null component will remain unchanged.</wsdl:documentation>
      <wsdl:input message="tns:msgStoreMarketingDataV2Request" />
      <wsdl:output message="tns:msgStoreMarketingDataV2Response" />
      <wsdl:fault message="tns:systemFault" name="SystemFault" />
      <wsdl:fault message="tns:msgMarketingDataBusinessFault" name="MarketingDataBusinessFault" />
    </wsdl:operation>
    <wsdl:operation name="deleteMarketingData">
      <wsdl:input message="tns:msgDeleteMarketingDataRequest" />
      <wsdl:output message="tns:msgDeleteMarketingDataResponse" />
      <wsdl:fault message="tns:systemFault" name="SystemFault" />
      <wsdl:fault message="tns:msgMarketingDataBusinessFault" name="MarketingDataBusinessFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoreMarketingPreferencesCustomer-v2-soap11http" type="tns:StoreMarketingPreferencesCustomer-v2">
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UNTWSPortBindingPolicy" />    
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="storeMarketingDataV2">
      <wsdl:documentation>update the marketing data of an individual in the BDM. for an individual you can update 7 types of components: - Personal information - TravelCompanions - TravelDocument - APIS data - TravelPreference. - Handicap. - Tutor UM. Any modification component will follow the rule cancel/replace. A null component will remain unchanged.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/marketingdata/StoreMarketingPreferencesCustomer-v2/storeMarketingDataV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="MarketingDataBusinessFault">
        <soap:fault name="MarketingDataBusinessFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteMarketingData">
      <soap:operation soapAction="http://www.af-klm.com/services/marketingdata/StoreMarketingPreferencesCustomer-v2/deleteMarketingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="MarketingDataBusinessFault">
        <soap:fault name="MarketingDataBusinessFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoreMarketingPreferencesCustomerService-v2">
    <wsdl:port binding="tns:StoreMarketingPreferencesCustomer-v2-soap11http" name="StoreMarketingPreferencesCustomer-v2-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <!--previous value ToBeSpecified updated-->
      <!-- ENV-WS-W000413-V2-LOCATION -->
      <soap:address location="https://ws-qvi-rct.airfrance.fr/passenger/marketing/000413v02" />
    </wsdl:port>
  </wsdl:service>
  <!--PROTECTED REGION ID(StoreMarketingPreferencesCustomerV2.0) ENABLED START-->
  <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>

