azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/createOrUpdateRoleContract/V1/passenger_request-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/request-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/request-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd" schemaLocation="passenger_SicIndividuType-v3.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ContractRequestElement" type="tns:ContractRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="ContractRequest">
    <xsd:sequence>
      <xsd:element name="contractData" type="xsd1:ContractData" minOccurs="0" maxOccurs="50"/>
      <xsd:element name="contract" type="xsd1:ContractV2"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.requestV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
