azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/resources/META-INF/wsdl/w000442-v08/passenger_data-v8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v8/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v8/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd9="http://www.af-klm.com/services/passenger/response-v8/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd10="http://www.af-klm.com/services/passenger/request-v8/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="8.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v8/xsd" schemaLocation="passenger_response-v8.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/request-v8/xsd" schemaLocation="passenger_request-v8.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CreateUpdateIndividualResponseElement" type="tns:CreateUpdateIndividualResponse"/>
  <xsd:element name="CreateUpdateIndividualRequestElement" type="tns:CreateUpdateIndividualRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="CreateUpdateIndividualResponse">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="success" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="postalAddressResponse" type="xsd9:PostalAddressResponse" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="informationResponse" type="xsd9:InformationResponse" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateUpdateIndividualRequest">
    <xsd:sequence>
      <xsd:element name="newsletterMediaSending" type="xsd1:DTypeNewsletterMediaSending" minOccurs="0"/>
      <xsd:element name="status" type="xsd1:DTypeStatus" minOccurs="0"/>
      <xsd:element name="updateCommunicationPrefMode" type="xsd1:DTypeUpdateMode" minOccurs="0"/>
      <xsd:element name="updatePrefilledNumbersMode" type="xsd1:DTypeUpdateMode" minOccurs="0"/>
      <xsd:element name="process" type="xsd:string" minOccurs="0"/>
      <xsd:element name="requestor" type="xsd3:RequestorV2"/>
      <xsd:element name="emailRequest" type="xsd10:EmailRequest" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecomRequest" type="xsd10:TelecomRequest" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="postalAddressRequest" type="xsd10:PostalAddressRequest" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="individualRequest" type="xsd10:IndividualRequest" minOccurs="0"/>
      <xsd:element name="externalIdentifierRequest" type="xsd10:ExternalIdentifierRequest" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="comunicationPreferencesRequest" type="xsd10:ComunicationPreferencesRequest" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="prefilledNumbersRequest" type="xsd10:PrefilledNumbersRequest" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="accountDelegationDataRequest" type="xsd10:AccountDelegationDataRequest" minOccurs="0"/>
      <xsd:element name="alertRequest" type="xsd10:AlertRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v08.dataV8.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
