azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V5/passenger_request-v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/request-v5/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/request-v5/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="5.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" schemaLocation="passenger_SicIndividuType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="EmailRequestElement" type="tns:EmailRequest"/>
  <xsd:element name="IndividualRequestElement" type="tns:IndividualRequest"/>
  <xsd:element name="PostalAddressRequestElement" type="tns:PostalAddressRequest"/>
  <xsd:element name="TelecomRequestElement" type="tns:TelecomRequest"/>
  <xsd:element name="ExternalIdentifierRequestElement" type="tns:ExternalIdentifierRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="EmailRequest">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:Email" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualRequest">
    <xsd:sequence>
      <xsd:element name="civilian" type="xsd1:Civilian" minOccurs="0"/>
      <xsd:element name="individualProfil" type="xsd1:IndividualProfil" minOccurs="0"/>
      <xsd:element name="individualInformations" type="xsd1:IndividualInformations" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressRequest">
    <xsd:sequence>
      <xsd:element name="postalAddressProperties" type="xsd1:PostalAddressProperties" minOccurs="0"/>
      <xsd:element name="postalAddressContent" type="xsd1:PostalAddressContent" minOccurs="0"/>
      <xsd:element name="usageAddress" type="xsd1:UsageAddress" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomRequest">
    <xsd:sequence>
      <xsd:element name="telecom" type="xsd1:Telecom" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="externalIdentifier" type="xsd1:ExternalIdentifier" minOccurs="0"/>
      <xsd:element name="externalIdentifierData" type="xsd1:ExternalIdentifierData" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.requestV5.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
