azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V5/passenger_response-v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/response-v5/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/response-v5/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd"
	xmlns:xsd4="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="5.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" schemaLocation="passenger_SicIndividuType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd" schemaLocation="passenger_SoftComputingType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="EmailResponseElement" type="tns:EmailResponse"/>
  <xsd:element name="IndividualResponseElement" type="tns:IndividualResponse"/>
  <xsd:element name="PostalAddressResponseElement" type="tns:PostalAddressResponse"/>
  <xsd:element name="TelecomResponseElement" type="tns:TelecomResponse"/>
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="BusinessErrorBlocElement" type="tns:BusinessErrorBloc"/>
  <xsd:element name="ExternalIdentifierResponseElement" type="tns:ExternalIdentifierResponse"/>
  <xsd:element name="ExternalIdentifierDataResponseElement" type="tns:ExternalIdentifierDataResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="EmailResponse">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:Email" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualResponse">
    <xsd:sequence>
      <xsd:element name="civilian" type="xsd1:Civilian" minOccurs="0"/>
      <xsd:element name="individualProfil" type="xsd1:IndividualProfil" minOccurs="0"/>
      <xsd:element name="individualInformations" type="xsd1:IndividualInformations" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="normalizedName" type="xsd1:NormalizedName" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressResponse">
    <xsd:sequence>
      <xsd:element name="postalAddressContent" type="xsd1:PostalAddressContent" minOccurs="0"/>
      <xsd:element name="softComputingResponse" type="xsd3:SoftComputingResponse" minOccurs="0"/>
      <xsd:element name="postalAddressProperties" type="xsd1:PostalAddressProperties" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="usageAddress" type="xsd1:UsageAddress" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomResponse">
    <xsd:sequence>
      <xsd:element name="telecom" type="xsd1:Telecom" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecomFlags" type="xsd1:TelecomFlags" minOccurs="0"/>
      <xsd:element name="telecomNormalization" type="xsd1:TelecomNormalization" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessError">
    <xsd:complexContent>
      <xsd:extension base="xsd2:BusinessErrorCommon">
        <xsd:sequence>
      <xsd:element name="errorCode" type="tns:BusinessErrorCodeEnum" minOccurs="0"/>
      <xsd:element name="otherErrorCode" type="xsd4:DTypeErrorCode" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessErrorBloc">
    <xsd:sequence>
      <xsd:element name="businessError" type="tns:BusinessError"/>
      <xsd:element name="internalBusinessError" type="xsd2:InternalBusinessError" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="externalIdentifier" type="xsd1:ExternalIdentifier" minOccurs="0"/>
      <xsd:element name="externalIdentifierDataResponse" type="tns:ExternalIdentifierDataResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierDataResponse">
    <xsd:sequence>
      <xsd:element name="externalIdentifierData" type="xsd1:ExternalIdentifierData" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorCodeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERROR_001"/>
      <xsd:enumeration value="ERROR_003"/>
      <xsd:enumeration value="ERROR_120"/>
      <xsd:enumeration value="ERROR_131"/>
      <xsd:enumeration value="ERROR_133"/>
      <xsd:enumeration value="ERROR_135"/>
      <xsd:enumeration value="ERROR_140"/>
      <xsd:enumeration value="ERROR_209"/>
      <xsd:enumeration value="ERROR_277"/>
      <xsd:enumeration value="ERROR_385"/>
      <xsd:enumeration value="ERROR_701"/>
      <xsd:enumeration value="ERROR_702"/>
      <xsd:enumeration value="ERROR_703"/>
      <xsd:enumeration value="ERROR_705"/>
      <xsd:enumeration value="ERROR_711"/>
      <xsd:enumeration value="ERROR_713"/>
      <xsd:enumeration value="ERROR_714"/>
      <xsd:enumeration value="ERROR_715"/>
      <xsd:enumeration value="ERROR_716"/>
      <xsd:enumeration value="ERROR_717"/>
      <xsd:enumeration value="ERROR_718"/>
      <xsd:enumeration value="ERROR_902"/>
      <xsd:enumeration value="ERROR_905"/>
      <xsd:enumeration value="ERROR_932"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.responseV5.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
