azure/repind-ri-ws/src/webservices/Individu/ProvideGinForUserIdWS/src/main/webapp/WEB-INF/wsdl/passenger_ProvideGinForUserIdType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/ProvideGinForUserIdType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/ProvideGinForUserIdType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd" schemaLocation="passenger_SicDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="ProvideGinForUserIdResponseElement" type="tns:ProvideGinForUserIdResponse"/>
  <xsd:element name="ProvideGinForUserIdRequestElement" type="tns:ProvideGinForUserIdRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="BusinessError">
    <xsd:sequence>
      <xsd:element name="returnCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideGinForUserIdResponse">
    <xsd:sequence>
      <xsd:element name="GIN" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="FoundIdentifier" type="xsd1:MyActIdentifierTypeEnum" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideGinForUserIdRequest">
    <xsd:sequence>
      <xsd:element name="IdentifierType" type="xsd1:MyActIdentifierTypeEnum" minOccurs="0"/>
      <xsd:element name="CustomerIdentifier" type="xsd1:DTypeUserIdentifier"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="error_133"/>
      <xsd:enumeration value="error_001"/>
      <xsd:enumeration value="error_382"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sicwsprovideginforuserIDuml.ProvideGinForUserIdTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
