azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/META-INF/wsdl/w000410/V2/marketingdata_provide-v2.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2013-09-05 14:05:18.013--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/marketingdata/provide-v2/xsd" xmlns:xsd1="http://www.af-klm.com/services/marketingdata/common-v2/xsd" targetNamespace="http://www.af-klm.com/services/marketingdata/provide-v2/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value marketingdata_common-v2.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/marketingdata/common-v2/xsd" schemaLocation="marketingdata_common-v2.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideMDResquestElement" type="tns:ProvideMDResquest"/>
  <xsd:element name="ProvideMDResponseV2Element" type="tns:ProvideMDResponseV2"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideMDResquest">
    <xsd:sequence>
      <xsd:element name="GIN" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>    
  <xsd:complexType name="ProvideMDResponseV2">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="marketingDataV2" type="xsd1:MarketingDataV2"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.provideV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>