azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/META-INF/wsdl/w000410/V2/passenger_ProvideMarketingPreferencesCustomer-v02.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--SOA repository reference: W0004102.0.0-->
<!--Uploaded in SOA repository on 2013-09-05 14:05:18.066-->
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.af-klm.com/services/marketingdata/ProvideMarketingPreferencesCustomer-v2/wsdl" xmlns:xsd2="http://www.af-klm.com/services/marketingdata/common-v2/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.af-klm.com/services/marketingdata/provide-v2/xsd" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProvideMarketingPreferencesCustomer-v2" targetNamespace="http://www.af-klm.com/services/marketingdata/ProvideMarketingPreferencesCustomer-v2/wsdl">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UNTWSPortBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <!-- If not omitted then the client side expects a timestamp in the answer <sp:IncludeTimestamp /> -->
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema>
      <!--previous value marketingdata_provide-v2.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/marketingdata/provide-v2/xsd" schemaLocation="marketingdata_provide-v2.xsd" />
    </xsd:schema>
    <xsd:schema>
      <!--previous value marketingdata_common-v2.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/marketingdata/common-v2/xsd" schemaLocation="marketingdata_common-v2.xsd" />
    </xsd:schema>
    <xsd:schema>
      <!--previous value SystemFault-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="msgProvideMarketingDataV2Request">
    <wsdl:part element="xsd1:ProvideMDResquestElement" name="provideMDResquest" />
  </wsdl:message>
  <wsdl:message name="msgProvideMarketingDataV2Response">
    <wsdl:part element="xsd1:ProvideMDResponseV2Element" name="provideMDResponseV2" />
  </wsdl:message>
  <wsdl:message name="msgMarketingDataBusinessFault">
    <wsdl:part element="xsd2:MarketingDataBusinessFaultElement" name="faultInfo" />
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part element="sft:SystemFault" name="faultInfo" />
  </wsdl:message>
  <wsdl:portType name="ProvideMarketingPreferencesCustomer-v2">
    <wsdl:operation name="provideMarketingDataV2">
      <wsdl:input message="tns:msgProvideMarketingDataV2Request" />
      <wsdl:output message="tns:msgProvideMarketingDataV2Response" />
      <wsdl:fault message="tns:systemFault" name="SystemFault" />
      <wsdl:fault message="tns:msgMarketingDataBusinessFault" name="MarketingDataBusinessFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvideMarketingPreferencesCustomer-v2-soap11http" type="tns:ProvideMarketingPreferencesCustomer-v2">
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UNTWSPortBindingPolicy" />
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="provideMarketingDataV2">
      <soap:operation soapAction="http://www.af-klm.com/services/marketingdata/ProvideMarketingPreferencesCustomer-v2/provideMarketingDataV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="MarketingDataBusinessFault">
        <soap:fault name="MarketingDataBusinessFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvideMarketingPreferencesCustomerService-v2">
    <wsdl:port binding="tns:ProvideMarketingPreferencesCustomer-v2-soap11http" name="ProvideMarketingPreferencesCustomer-v2-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <!--previous value ToBeSpecified updated-->
      <!-- ENV-WS-W000410-V2-LOCATION -->
      <soap:address location="https://ws-qvi-rct.airfrance.fr/passenger/marketing/000410v02" />
    </wsdl:port>
  </wsdl:service>
  <!--PROTECTED REGION ID(ProvideMarketingPreferencesCustomerV2.0) ENABLED START-->
  <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>

