azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/V7/passenger_ProvideIndividualDataService-v7.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<wsdl:definitions name="ProvideIndividualDataService-v7"

targetNamespace="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v7/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v7/wsdl"
	xmlns:xsd11="http://www.af-klm.com/services/passenger/data-v7/xsd"
	xmlns:xsd12="http://www.af-klm.com/services/passenger/response-v7/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/data-v7/xsd" schemaLocation="passenger_data-v7.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v7/xsd" schemaLocation="passenger_response-v7.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgProvideIndividualDataByIdentifierRequest">
    <wsdl:part name="provideIndividualInformationRequest" element="xsd11:ProvideIndividualInformationRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualDataByIdentifierResponse">
    <wsdl:part name="provideIndividualInformationResponse" element="xsd11:ProvideIndividualInformationResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessErrorBlocBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd12:BusinessErrorBlocElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="ProvideIndividualDataService-v7">
    <wsdl:operation name="provideIndividualDataByIdentifier">
      <wsdl:documentation>Get all datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessErrorBlocBusinessFault" message="tns:msgBusinessErrorBlocBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ProvideIndividualDataService-v7-soap11http" type="tns:ProvideIndividualDataService-v7">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="provideIndividualDataByIdentifier">
      <wsdl:documentation>Get all datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v7/provideIndividualDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessErrorBlocBusinessFault">
        <soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ProvideIndividualDataServiceService-v7">
    <wsdl:port name="ProvideIndividualDataService-v7-soap11http" binding="tns:ProvideIndividualDataService-v7-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(ProvideIndividualDataServiceV7.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
