azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/V7/passenger_data-v7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v7/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v7/xsd" 
	xmlns:xsd4="http://www.af-klm.com/services/passenger/response-v7/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="7.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v7/xsd" schemaLocation="passenger_response-v7.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideIndividualInformationResponseElement" type="tns:ProvideIndividualInformationResponse"/>
  <xsd:element name="ProvideIndividualInformationRequestElement" type="tns:ProvideIndividualInformationRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideIndividualInformationResponse">
    <xsd:sequence>
      <xsd:element name="telecomResponse" type="xsd4:TelecomResponse" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="emailResponse" type="xsd4:EmailResponse" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="postalAddressResponse" type="xsd4:PostalAddressResponse" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="individualResponse" type="xsd4:IndividualResponse" minOccurs="0"/>
      <xsd:element name="contractResponse" type="xsd4:ContractResponse" minOccurs="0" maxOccurs="25"/>
      <xsd:element name="externalIdentifierResponse" type="xsd4:ExternalIdentifierResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="accountDataResponse" type="xsd4:AccountDataResponse" minOccurs="0"/>
      <xsd:element name="prefilledNumbersResponse" type="xsd4:PrefilledNumbersResponse" minOccurs="0" maxOccurs="50"/>
      <xsd:element name="socialNetworkDataResponse" type="xsd4:SocialNetworkDataResponse" minOccurs="0"/>
      <xsd:element name="communicationPreferencesResponse" type="xsd4:CommunicationPreferencesResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegationDataResponse" type="xsd4:DelegationDataResponse" minOccurs="0"/>
      <xsd:element name="warningResponse" type="xsd4:WarningResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="localizationResponse" type="xsd4:LocalizationResponse" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="alertResponse" type="xsd4:AlertResponse" minOccurs="0"/>
      <xsd:element name="preferenceResponse" type="xsd4:PreferenceResponse" minOccurs="0"/>
      <xsd:element name="utfResponse" type="xsd4:UtfResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideIndividualInformationRequest">
    <xsd:sequence>
      <xsd:element name="identificationNumber" type="xsd2:DTypeGenericIdentifierV2"/>
      <xsd:element name="option" type="xsd2:DTypeOption"/>
      <xsd:element name="scopeToProvide" type="xsd2:DTypeScope" minOccurs="0" maxOccurs="17"/>
      <xsd:element name="requestor" type="xsd3:RequestorV2"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v07.dataV7.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
