azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/V7/passenger_response-v7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/response-v7/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/response-v7/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="7.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd" schemaLocation="passenger_SicIndividuType-v3.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="TelecomResponseElement" type="tns:TelecomResponse"/>
  <xsd:element name="EmailResponseElement" type="tns:EmailResponse"/>
  <xsd:element name="PostalAddressResponseElement" type="tns:PostalAddressResponse"/>
  <xsd:element name="IndividualResponseElement" type="tns:IndividualResponse"/>
  <xsd:element name="ContractResponseElement" type="tns:ContractResponse"/>
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="BusinessErrorBlocElement" type="tns:BusinessErrorBloc"/>
  <xsd:element name="ExternalIdentifierResponseElement" type="tns:ExternalIdentifierResponse"/>
  <xsd:element name="AccountDataResponseElement" type="tns:AccountDataResponse"/>
  <xsd:element name="PrefilledNumbersResponseElement" type="tns:PrefilledNumbersResponse"/>
  <xsd:element name="SocialNetworkDataResponseElement" type="tns:SocialNetworkDataResponse"/>
  <xsd:element name="CommunicationPreferencesResponseElement" type="tns:CommunicationPreferencesResponse"/>
  <xsd:element name="DelegationDataResponseElement" type="tns:DelegationDataResponse"/>
  <xsd:element name="WarningResponseElement" type="tns:WarningResponse"/>
  <xsd:element name="ExternalIdentifierDataResponseElement" type="tns:ExternalIdentifierDataResponse"/>
  <xsd:element name="LocalizationResponseElement" type="tns:LocalizationResponse"/>
  <xsd:element name="AlertResponseElement" type="tns:AlertResponse"/>
  <xsd:element name="PreferenceResponseElement" type="tns:PreferenceResponse"/>
  <xsd:element name="UtfResponseElement" type="tns:UtfResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="TelecomResponse">
    <xsd:sequence>
      <xsd:element name="telecom" type="xsd1:Telecom" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecomFlags" type="xsd1:TelecomFlags" minOccurs="0"/>
      <xsd:element name="telecomNormalization" type="xsd1:TelecomNormalization" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailResponse">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:Email" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressResponse">
    <xsd:sequence>
      <xsd:element name="postalAddressProperties" type="xsd1:PostalAddressProperties" minOccurs="0"/>
      <xsd:element name="postalAddressContent" type="xsd1:PostalAddressContent" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="usageAddress" type="xsd1:UsageAddress" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualResponse">
    <xsd:sequence>
      <xsd:element name="individualInformations" type="xsd1:IndividualInformationsV2" minOccurs="0"/>
      <xsd:element name="individualProfil" type="xsd1:IndividualProfilV2" minOccurs="0"/>
      <xsd:element name="normalizedName" type="xsd1:NormalizedName" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="airFranceProfil" type="xsd1:AirFranceProfilV2" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="civilian" type="xsd1:Civilian" minOccurs="0"/>
      <xsd:element name="usageClient" type="xsd1:UsageClient" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractResponse">
    <xsd:sequence>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="contract" type="xsd1:ContractV2" minOccurs="0"/>
      <xsd:element name="contractData" type="xsd1:ContractData" minOccurs="0" maxOccurs="50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessError">
    <xsd:complexContent>
      <xsd:extension base="xsd2:BusinessErrorCommon">
        <xsd:sequence>
      <xsd:element name="errorCode" type="tns:BusinessErrorCodeEnum" minOccurs="0"/>
      <xsd:element name="otherErrorCode" type="xsd3:DTypeErrorCode" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessErrorBloc">
    <xsd:sequence>
      <xsd:element name="businessError" type="tns:BusinessError"/>
      <xsd:element name="internalBusinessError" type="xsd2:InternalBusinessError" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="externalIdentifier" type="xsd1:ExternalIdentifier" minOccurs="0"/>
      <xsd:element name="externalIdentifierDataResponse" type="tns:ExternalIdentifierDataResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountDataResponse">
    <xsd:sequence>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="accountData" type="xsd1:AccountData" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrefilledNumbersResponse">
    <xsd:sequence>
      <xsd:element name="prefilledNumbers" type="xsd1:PrefilledNumbers" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="prefilledNumbersData" type="xsd1:PrefilledNumbersData" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkDataResponse">
    <xsd:sequence>
      <xsd:element name="socialNetworkTypeLight" type="xsd1:SocialNetworkTypeLight" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationPreferencesResponse">
    <xsd:sequence>
      <xsd:element name="communicationPreferences" type="xsd1:CommunicationPreferences" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelegationDataResponse">
    <xsd:sequence>
      <xsd:element name="delegator" type="xsd1:Delegator" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegate" type="xsd1:Delegate" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WarningResponse">
    <xsd:sequence>
      <xsd:element name="warning" type="xsd1:Warning" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierDataResponse">
    <xsd:sequence>
      <xsd:element name="externalIdentifierData" type="xsd1:ExternalIdentifierData" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocalizationResponse">
    <xsd:sequence>
      <xsd:element name="localization" type="xsd1:Localization" minOccurs="0"/>
      <xsd:element name="signatureV2" type="xsd1:SignatureV2" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="localizationResponse" type="tns:LocalizationResponse" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AlertResponse">
    <xsd:sequence>
      <xsd:element name="alert" type="xsd1:Alert" minOccurs="0" maxOccurs="50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreferenceResponse">
    <xsd:sequence>
      <xsd:element name="preference" type="xsd1:PreferenceV2" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtfResponse">
    <xsd:sequence>
      <xsd:element name="utf" type="xsd1:Utf" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorCodeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERROR_001"/>
      <xsd:enumeration value="ERROR_133"/>
      <xsd:enumeration value="ERROR_711"/>
      <xsd:enumeration value="ERROR_712"/>
      <xsd:enumeration value="ERROR_730"/>
      <xsd:enumeration value="ERROR_731"/>
      <xsd:enumeration value="ERROR_732"/>
      <xsd:enumeration value="ERROR_905"/>
      <xsd:enumeration value="ERROR_932"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.responseV7.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
