azure/repind-ri-ws/src/webservices/Individu/SearchIndividualByMulticriteriaWS/src/main/webapp/WEB-INF/wsdl/v2/passenger_request-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/request-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/request-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="PostalAddressBlocElement" type="tns:PostalAddressBloc"/>
  <xsd:element name="ContactElement" type="tns:Contact"/>
  <xsd:element name="IdentityElement" type="tns:Identity"/>
  <xsd:element name="IdentificationElement" type="tns:Identification"/>
  <xsd:element name="PostalAddressContentElement" type="tns:PostalAddressContent"/>

  <!-- types declarations -->
  <xsd:complexType name="PostalAddressBloc">
    <xsd:sequence>
      <xsd:element name="postalAddressContent" type="tns:PostalAddressContent" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contact">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="postalAddressBloc" type="tns:PostalAddressBloc" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd1:DTypePhoneNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identity">
    <xsd:sequence>
      <xsd:element name="civility" type="xsd1:DTypeCivility" minOccurs="0"/>
      <xsd:element name="lastName" type="xsd1:DTypeLastName" minOccurs="0"/>
      <xsd:element name="lastNameSearchType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="firstNameSearchType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="birthday" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identification">
    <xsd:sequence>
      <xsd:element name="identificationType" type="xsd1:DTypeIdentificationType" minOccurs="0"/>
      <xsd:element name="identificationValue" type="xsd1:DTypeIdentificationValue" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressContent">
    <xsd:sequence>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="citySearchType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="zipCodeSearchType" type="xsd1:DTypeSearchType" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.requestV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
