azure/repind-ri-ws/src/webservices/Individu/SearchIndividualByMulticriteriaWS/src/main/webapp/WEB-INF/wsdl/v2/passenger_response-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/response-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/response-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" schemaLocation="passenger_SicIndividuType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="IndividualElement" type="tns:Individual"/>
  <xsd:element name="PostalAddressResponseElement" type="tns:PostalAddressResponse"/>
  <xsd:element name="TelecomResponseElement" type="tns:TelecomResponse"/>
  <xsd:element name="EmailResponseElement" type="tns:EmailResponse"/>
  <xsd:element name="ContractResponseElement" type="tns:ContractResponse"/>
  <xsd:element name="BusinessErrorBlocElement" type="tns:BusinessErrorBloc"/>
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="TelecomElement" type="tns:Telecom"/>
  <xsd:element name="AddressElement" type="tns:Address"/>

  <!-- types declarations -->
  <xsd:complexType name="Individual">
    <xsd:sequence>
      <xsd:element name="normalizedName" type="xsd1:NormalizedName" minOccurs="0"/>
      <xsd:element name="individualInformations" type="xsd1:IndividualInformations" minOccurs="0"/>
      <xsd:element name="postalAddressResponse" type="tns:PostalAddressResponse" minOccurs="0"/>
      <xsd:element name="telecomResponse" type="tns:TelecomResponse" minOccurs="0"/>
      <xsd:element name="emailResponse" type="tns:EmailResponse" minOccurs="0"/>
      <xsd:element name="contractResponse" type="tns:ContractResponse" minOccurs="0"/>
      <xsd:element name="relevance" type="xsd2:DTypeRelevance"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressResponse">
    <xsd:sequence>
      <xsd:element name="address" type="tns:Address" minOccurs="0" maxOccurs="10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomResponse">
    <xsd:sequence>
      <xsd:element name="telecomFlags" type="xsd1:TelecomFlags" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecom" type="tns:Telecom" minOccurs="0" maxOccurs="6"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailResponse">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:Email" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="signature" type="xsd1:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractResponse">
    <xsd:sequence>
      <xsd:element name="signature" type="xsd1:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="contract" type="xsd1:Contract" minOccurs="0" maxOccurs="25"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessErrorBloc">
    <xsd:sequence>
      <xsd:element name="internalBusinessError" type="xsd3:InternalBusinessError" minOccurs="0"/>
      <xsd:element name="businessError" type="tns:BusinessError"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessError">
    <xsd:complexContent>
      <xsd:extension base="xsd3:BusinessErrorCommon">
        <xsd:sequence>
      <xsd:element name="errorCode" type="tns:BusinessErrorCodeEnum"/>
      <xsd:element name="otherErrorCode" type="xsd2:DTypeErrorCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Telecom">
    <xsd:sequence>
      <xsd:element name="version" type="xsd2:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd2:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd2:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd2:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd2:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd2:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="telecomNormalization" type="xsd1:TelecomNormalization" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element name="usageAddress" type="xsd1:UsageAddress" minOccurs="0" maxOccurs="255"/>
      <xsd:element name="postalAddressContent" type="xsd1:PostalAddressContent" minOccurs="0"/>
      <xsd:element name="postalAddressProperties" type="xsd1:PostalAddressProperties" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorCodeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERR_001"/>
      <xsd:enumeration value="ERR_905"/>
      <xsd:enumeration value="ERR_133"/>
      <xsd:enumeration value="ERR_104"/>
      <xsd:enumeration value="ERR_103"/>
      <xsd:enumeration value="ERR_246"/>
      <xsd:enumeration value="ERR_113"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.responseV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
