azure/repind-ri-ws/src/webservices/Individu/SearchIndividualByMulticriteriaWS/src/main/webapp/WEB-INF/wsdl/v2/passenger_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/request-v1/xsd"
	xmlns:xsd4="http://www.af-klm.com/services/passenger/response-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/request-v1/xsd" schemaLocation="passenger_request-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="passenger_response-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="SearchIndividualByMulticriteriaRequestElement" type="tns:SearchIndividualByMulticriteriaRequest"/>
  <xsd:element name="SearchIndividualByMulticriteriaResponseElement" type="tns:SearchIndividualByMulticriteriaResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="SearchIndividualByMulticriteriaRequest">
    <xsd:sequence>
      <xsd:element name="populationTargeted" type="xsd1:DTypePopulationTargeted" minOccurs="0"/>
      <xsd:element name="processType" type="xsd1:DTypeProcessType" minOccurs="0"/>
      <xsd:element name="requestor" type="xsd2:Requestor"/>
      <xsd:element name="identity" type="xsd3:Identity" minOccurs="0"/>
      <xsd:element name="contact" type="xsd3:Contact" minOccurs="0"/>
      <xsd:element name="searchDriving" type="xsd1:DTypeSearchDriving" minOccurs="0"/>
      <xsd:element name="identification" type="xsd3:Identification" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SearchIndividualByMulticriteriaResponse">
    <xsd:sequence>
      <xsd:element name="visaKey" type="xsd1:DTypeVisaKey"/>
      <xsd:element name="individual" type="xsd4:Individual" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v02.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
