azure/repind-ri-ws/src/webservices/Individu/SearchIndividualByMulticriteriaWS/src/main/webapp/WEB-INF/wsdl/v2/passenger_SearchIndividualByMulticriteriaService-v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<wsdl:definitions name="SearchIndividualByMulticriteriaService-v2"

targetNamespace="http://www.af-klm.com/services/passenger/SearchIndividualByMulticriteriaService-v2/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/SearchIndividualByMulticriteriaService-v2/wsdl"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v1/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/data-v1/xsd" schemaLocation="passenger_data-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="passenger_response-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgSearchIndividualRequest">
    <wsdl:part name="searchIndividualByMulticriteriaRequest" element="xsd1:SearchIndividualByMulticriteriaRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgSearchIndividualResponse">
    <wsdl:part name="searchIndividualByMulticriteriaResponse" element="xsd1:SearchIndividualByMulticriteriaResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessErrorBlocBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd2:BusinessErrorBlocElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="SearchIndividualByMulticriteriaService-v2">
    <wsdl:operation name="searchIndividual">
      <wsdl:input message="tns:msgSearchIndividualRequest"/>
      <wsdl:output message="tns:msgSearchIndividualResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessErrorBlocBusinessFault" message="tns:msgBusinessErrorBlocBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SearchIndividualByMulticriteriaService-v2-soap11http" type="tns:SearchIndividualByMulticriteriaService-v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchIndividual">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/SearchIndividualByMulticriteriaService-v2/searchIndividual" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessErrorBlocBusinessFault">
        <soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SearchIndividualByMulticriteriaServiceService-v2">
    <wsdl:port name="SearchIndividualByMulticriteriaService-v2-soap11http" binding="tns:SearchIndividualByMulticriteriaService-v2-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(SearchIndividualByMulticriteriaServiceV2.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
