azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/createOrUpdateComPrefBasedOnPermission/V1/passenger_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/request-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd4="http://www.af-klm.com/services/passenger/response-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/request-v1/xsd" schemaLocation="passenger_request-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="passenger_response-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CreateOrUpdateComPrefBasedOnPermissionRequestElement" type="tns:CreateOrUpdateComPrefBasedOnPermissionRequest"/>
  <xsd:element name="CreateOrUpdateComPrefBasedOnPermissionResponseElement" type="tns:CreateOrUpdateComPrefBasedOnPermissionResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="CreateOrUpdateComPrefBasedOnPermissionRequest">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin"/>
      <xsd:element name="permissionRequest" type="xsd2:PermissionRequest"/>
      <xsd:element name="requestor" type="xsd3:Requestor"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateOrUpdateComPrefBasedOnPermissionResponse">
    <xsd:sequence>
      <xsd:element name="success" type="xsd:boolean"/>
      <xsd:element name="warningResponse" type="xsd4:WarningResponse" minOccurs="0"/>
      <xsd:element name="informationResponse" type="xsd4:InformationResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v01.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
