azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/createOrUpdateComPrefBasedOnPermission/V1/passenger_SicIndividuType-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd"
	xmlns:xsd4="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd5="http://www.af-klm.com/services/passenger/SicOsirisType-v1/xsd"
	xmlns:xsd6="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="3.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd" schemaLocation="passenger_SicCommonEnum-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd" schemaLocation="passenger_ProspectDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicOsirisType-v1/xsd" schemaLocation="passenger_SicOsirisType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd" schemaLocation="passenger_SoftComputingType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="AccountDataElement" type="tns:AccountData"/>
  <xsd:element name="AddressRoleElement" type="tns:AddressRole"/>
  <xsd:element name="AirFranceProfilElement" type="tns:AirFranceProfil"/>
  <xsd:element name="AirFranceProfilV2Element" type="tns:AirFranceProfilV2"/>
  <xsd:element name="AliasElement" type="tns:Alias"/>
  <xsd:element name="AlertElement" type="tns:Alert"/>
  <xsd:element name="AlertDataElement" type="tns:AlertData"/>
  <xsd:element name="CivilianElement" type="tns:Civilian"/>
  <xsd:element name="CommunicationPreferencesElement" type="tns:CommunicationPreferences"/>
  <xsd:element name="ComplementaryInformationDataElement" type="tns:ComplementaryInformationData"/>
  <xsd:element name="ComplementaryInformationElement" type="tns:ComplementaryInformation"/>
  <xsd:element name="ComplementaryInformationDatasElement" type="tns:ComplementaryInformationDatas"/>
  <xsd:element name="ContractElement" type="tns:Contract"/>
  <xsd:element name="ContractDataElement" type="tns:ContractData"/>
  <xsd:element name="ContractV2Element" type="tns:ContractV2"/>
  <xsd:element name="DelegateElement" type="tns:Delegate"/>
  <xsd:element name="DelegationActionDataElement" type="tns:DelegationActionData"/>
  <xsd:element name="DelegationIndividualDataElement" type="tns:DelegationIndividualData"/>
  <xsd:element name="DelegationStatusDataElement" type="tns:DelegationStatusData"/>
  <xsd:element name="DelegatorElement" type="tns:Delegator"/>
  <xsd:element name="HabilitationElement" type="tns:Habilitation"/>
  <xsd:element name="EmailElement" type="tns:Email"/>
  <xsd:element name="EmailTypeElement" type="tns:EmailType"/>
  <xsd:element name="IndividualElement" type="tns:Individual"/>
  <xsd:element name="ExternalIdentifierElement" type="tns:ExternalIdentifier"/>
  <xsd:element name="ExternalIdentifierDataElement" type="tns:ExternalIdentifierData"/>
  <xsd:element name="IndividualInformationExceptionElement" type="tns:IndividualInformationException"/>
  <xsd:element name="IndividualInformationsElement" type="tns:IndividualInformations"/>
  <xsd:element name="IndividualInformationsV2Element" type="tns:IndividualInformationsV2"/>
  <xsd:element name="IndividualInformationsV3Element" type="tns:IndividualInformationsV3"/>
  <xsd:element name="IndividualProfilElement" type="tns:IndividualProfil"/>
  <xsd:element name="IndividualProfilV2Element" type="tns:IndividualProfilV2"/>
  <xsd:element name="IndividualProfilV3Element" type="tns:IndividualProfilV3"/>
  <xsd:element name="MarketLanguageElement" type="tns:MarketLanguage"/>
  <xsd:element name="MediaElement" type="tns:Media"/>
  <xsd:element name="MediumUsageElement" type="tns:MediumUsage"/>
  <xsd:element name="NormalizedNameElement" type="tns:NormalizedName"/>
  <xsd:element name="PrefilledNumbersElement" type="tns:PrefilledNumbers"/>
  <xsd:element name="PrefilledNumbersDataElement" type="tns:PrefilledNumbersData"/>
  <xsd:element name="PreferenceElement" type="tns:Preference"/>
  <xsd:element name="PreferenceV2Element" type="tns:PreferenceV2"/>
  <xsd:element name="PreferenceDataElement" type="tns:PreferenceData"/>
  <xsd:element name="PreferenceDatasV2Element" type="tns:PreferenceDatasV2"/>
  <xsd:element name="PreferenceDataV2Element" type="tns:PreferenceDataV2"/>
  <xsd:element name="PostalAddressElement" type="tns:PostalAddress"/>
  <xsd:element name="PostalAddressSICElement" type="tns:PostalAddressSIC"/>
  <xsd:element name="PostalAddressContentElement" type="tns:PostalAddressContent"/>
  <xsd:element name="PostalAddressPropertiesElement" type="tns:PostalAddressProperties"/>
  <xsd:element name="PostalAddressSICResponseElement" type="tns:PostalAddressSICResponse"/>
  <xsd:element name="PostalAddressTypeElement" type="tns:PostalAddressType"/>
  <xsd:element name="SignatureElement" type="tns:Signature"/>
  <xsd:element name="SignatureLightElement" type="tns:SignatureLight"/>
  <xsd:element name="SocialNetworkTypeElement" type="tns:SocialNetworkType"/>
  <xsd:element name="SocialNetworkDataElement" type="tns:SocialNetworkData"/>
  <xsd:element name="SocialNetworkTypeLightElement" type="tns:SocialNetworkTypeLight"/>
  <xsd:element name="TelecomFlagsElement" type="tns:TelecomFlags"/>
  <xsd:element name="TelecomNormalizationElement" type="tns:TelecomNormalization"/>
  <xsd:element name="TelecomElement" type="tns:Telecom"/>
  <xsd:element name="TelecomTypeElement" type="tns:TelecomType"/>
  <xsd:element name="UsageAddressElement" type="tns:UsageAddress"/>
  <xsd:element name="UsageClientElement" type="tns:UsageClient"/>
  <xsd:element name="WarningElement" type="tns:Warning"/>
  <xsd:element name="LocalizationElement" type="tns:Localization"/>
  <xsd:element name="SignatureV2Element" type="tns:SignatureV2"/>
  <xsd:element name="TravelerElement" type="tns:Traveler"/>
  <xsd:element name="CorporateElement" type="tns:Corporate"/>
  <xsd:element name="ContractV2_lightElement" type="tns:ContractV2_light"/>
  <xsd:element name="InternalIdentifierElement" type="tns:InternalIdentifier"/>
  <xsd:element name="SocialNetworkIdentifierElement" type="tns:SocialNetworkIdentifier"/>
  <xsd:element name="CustomerIdentifierElement" type="tns:CustomerIdentifier"/>
  <xsd:element name="UtfElement" type="tns:Utf"/>
  <xsd:element name="UtfDataElement" type="tns:UtfData"/>
  <xsd:element name="UtfDatasElement" type="tns:UtfDatas"/>
  <xsd:element name="PermissionElement" type="tns:Permission"/>

  <!-- types declarations -->
  <xsd:complexType name="AccountData">
    <xsd:sequence>
      <xsd:element name="accountIdentifier" type="xsd1:DTypeIdentificationNumber" minOccurs="0"/>
      <xsd:element name="emailIdentifier" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="customerType" type="xsd1:DTypeCustomerType" minOccurs="0"/>
      <xsd:element name="fbIdentifier" type="xsd1:DTypeFbIdentifier" minOccurs="0"/>
      <xsd:element name="percentageFullProfil" type="xsd:int" minOccurs="0"/>
      <xsd:element name="personnalizedIdentifier" type="xsd1:DTypePersonnalizedIdentifier" minOccurs="0"/>
      <xsd:element name="secretQuestion" type="xsd1:DTypeSecretQuestion" minOccurs="0"/>
      <xsd:element name="pos" type="xsd1:DTypePointOfSell" minOccurs="0"/>
      <xsd:element name="websiteCarrier" type="xsd1:DTypeWebsiteCarrier" minOccurs="0"/>
      <xsd:element name="status" type="xsd1:DTypeStatus" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressRole">
    <xsd:sequence>
      <xsd:element name="addressRoleCode" type="xsd1:DTypeCodeRoleAddress" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AirFranceProfil">
    <xsd:sequence>
      <xsd:element name="regimental" type="xsd1:DTypeMatricule" minOccurs="0"/>
      <xsd:element name="rank" type="xsd1:DTypeRang" minOccurs="0"/>
      <xsd:element name="notesAddress" type="xsd1:DTypeAdresseNotes" minOccurs="0"/>
      <xsd:element name="password" type="xsd1:DTypeMotDePasse" minOccurs="0"/>
      <xsd:element name="function" type="xsd1:DTypeFonction" minOccurs="0"/>
      <xsd:element name="rReference" type="xsd1:DTypeReferenceR" minOccurs="0"/>
      <xsd:element name="typology" type="xsd1:DTypeTypologie" minOccurs="0"/>
      <xsd:element name="originCode" type="xsd1:DTypeCodeOrigine" minOccurs="0"/>
      <xsd:element name="compagnyCode" type="xsd1:DTypeCodeCompagnie" minOccurs="0"/>
      <xsd:element name="statusCode" type="xsd1:DTypeCodeStatut" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AirFranceProfilV2">
    <xsd:sequence>
      <xsd:element name="regimental" type="xsd1:DTypeMatricule" minOccurs="0"/>
      <xsd:element name="rank" type="xsd1:DTypeRang" minOccurs="0"/>
      <xsd:element name="notesAddress" type="xsd1:DTypeAdresseNotes" minOccurs="0"/>
      <xsd:element name="function" type="xsd1:DTypeFonction" minOccurs="0"/>
      <xsd:element name="rReference" type="xsd1:DTypeReferenceR" minOccurs="0"/>
      <xsd:element name="typology" type="xsd1:DTypeTypologie" minOccurs="0"/>
      <xsd:element name="originCode" type="xsd1:DTypeCodeOrigine" minOccurs="0"/>
      <xsd:element name="compagnyCode" type="xsd1:DTypeCodeCompagnie" minOccurs="0"/>
      <xsd:element name="statusCode" type="xsd1:DTypeCodeStatut" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Alias">
    <xsd:sequence>
      <xsd:element name="lastName" type="xsd1:DTypeNom" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypePrenom" minOccurs="0"/>
      <xsd:element name="civility" type="xsd2:CivilityEnum" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Alert">
    <xsd:sequence>
      <xsd:element name="type" type="xsd1:DTypeAlertDataType" minOccurs="0"/>
      <xsd:element name="alertId" type="xsd1:DTypeAlertID" minOccurs="0"/>
      <xsd:element name="optIn" type="xsd1:DTypeAlertOptIn"/>
      <xsd:element name="alertData" type="tns:AlertData" minOccurs="0" maxOccurs="500"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AlertData">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypeKey"/>
      <xsd:element name="value" type="xsd1:DTypeAlertDataValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Civilian">
    <xsd:sequence>
      <xsd:element name="titleCode" type="xsd1:DTypeTitleCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationPreferences">
    <xsd:sequence>
      <xsd:element name="domain" type="xsd3:DTypeDomain" minOccurs="0"/>
      <xsd:element name="communicationGroupeType" type="xsd3:DTypeCommunicationType" minOccurs="0"/>
      <xsd:element name="communicationType" type="xsd3:DTypeCommunicationType" minOccurs="0"/>
      <xsd:element name="optIn" type="xsd3:DTypeOptIn" minOccurs="0"/>
      <xsd:element name="dateOfConsent" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="subscriptionChannel" type="xsd3:DTypeSubscriptionChannel" minOccurs="0"/>
      <xsd:element name="optInPartner" type="xsd3:DTypeOptIn" minOccurs="0"/>
      <xsd:element name="dateOfConsentPartner" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="dateOfEntry" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="media" type="tns:Media" minOccurs="0"/>
      <xsd:element name="marketLanguage" type="tns:MarketLanguage" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="signature" type="xsd4:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComplementaryInformationData">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypeKey"/>
      <xsd:element name="value" type="xsd1:DTypeValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComplementaryInformation">
    <xsd:sequence>
      <xsd:element name="type" type="xsd1:DTypeComplementaryInformationType"/>
      <xsd:element name="complementaryInformationDatas" type="tns:ComplementaryInformationDatas"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComplementaryInformationDatas">
    <xsd:sequence>
      <xsd:element name="complementaryInformationData" type="tns:ComplementaryInformationData" maxOccurs="20"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contract">
    <xsd:sequence>
      <xsd:element name="contractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="contractType" type="xsd1:DTypeContractType" minOccurs="0"/>
      <xsd:element name="productType" type="xsd1:DTypeTypeProduit" minOccurs="0"/>
      <xsd:element name="productSubType" type="xsd1:DTypeSousTypeProduit" minOccurs="0"/>
      <xsd:element name="companyContractType" type="xsd1:DTypeCodeCieContrat" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersionProduit" minOccurs="0"/>
      <xsd:element name="contractStatus" type="xsd1:DTypeContractStatus" minOccurs="0"/>
      <xsd:element name="validityStartDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="validityEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="tierLevel" type="xsd1:DTypeTierLevel" minOccurs="0"/>
      <xsd:element name="productFamilly" type="xsd1:DTypeFamilleProduit" minOccurs="0"/>
      <xsd:element name="iata" type="xsd1:DTypeIata" minOccurs="0"/>
      <xsd:element name="originCompany" type="xsd1:DTypeOrganismeOrigine" minOccurs="0"/>
      <xsd:element name="adhesionSource" type="xsd1:DTypeSourceAdhesion" minOccurs="0"/>
      <xsd:element name="bonusPermission" type="xsd1:DTypeBonusPermission" minOccurs="0"/>
      <xsd:element name="milesBalance" type="xsd1:DTypeSoldeMiles" minOccurs="0"/>
      <xsd:element name="qualifyingMiles" type="xsd1:DTypeMilesQualifiant" minOccurs="0"/>
      <xsd:element name="qualifyingHistMiles" type="xsd1:DTypeMilesQualifiantHist" minOccurs="0"/>
      <xsd:element name="qualifyingFlights" type="xsd1:DTypeSegmentsQualifiant" minOccurs="0"/>
      <xsd:element name="qualifyingHistFlights" type="xsd1:DTypeSegmentsQualifiantHist" minOccurs="0"/>
      <xsd:element name="memberType" type="xsd5:DTypeMemberType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractData">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypeKey"/>
      <xsd:element name="value" type="xsd1:DTypeValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractV2">
    <xsd:sequence>
      <xsd:element name="contractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="contractType" type="xsd1:DTypeContractType" minOccurs="0"/>
      <xsd:element name="productType" type="xsd1:DTypeTypeProduit"/>
      <xsd:element name="productSubType" type="xsd1:DTypeSousTypeProduit" minOccurs="0"/>
      <xsd:element name="companyCode" type="xsd1:DTypeCodeCieContrat" minOccurs="0"/>
      <xsd:element name="contractStatus" type="xsd1:DTypeContractStatus"/>
      <xsd:element name="validityStartDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="validityEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="iataCode" type="xsd1:DTypeIata" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Delegate">
    <xsd:sequence>
      <xsd:element name="telecom" type="tns:Telecom" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="signature" type="xsd4:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="delegationIndividualData" type="tns:DelegationIndividualData" minOccurs="0"/>
      <xsd:element name="delegationStatusData" type="tns:DelegationStatusData" minOccurs="0"/>
      <xsd:element name="complementaryInformation" type="tns:ComplementaryInformation" minOccurs="0" maxOccurs="10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelegationActionData">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="delegationAction" type="xsd1:DTypeDelegationAction" minOccurs="0"/>
      <xsd:element name="delegationType" type="xsd1:DTypeDelegationType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelegationIndividualData">
    <xsd:sequence>
      <xsd:element name="fBIdentifier" type="xsd1:DTypeFbIdentifier12" minOccurs="0"/>
      <xsd:element name="accountIdentifier" type="xsd1:DTypeAccountID" minOccurs="0"/>
      <xsd:element name="emailIdentifier" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:DTypeCivility" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="firstNameSC" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="lastName" type="xsd1:DTypeLastName" minOccurs="0"/>
      <xsd:element name="lastNameSC" type="xsd1:DTypeLastName" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelegationStatusData">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="delegationStatus" type="xsd1:DTypeDelegationStatus" minOccurs="0"/>
      <xsd:element name="delegationType" type="xsd1:DTypeDelegationType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Delegator">
    <xsd:sequence>
      <xsd:element name="signature" type="xsd4:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecom" type="tns:Telecom" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="delegationIndividualData" type="tns:DelegationIndividualData" minOccurs="0"/>
      <xsd:element name="delegationStatusData" type="tns:DelegationStatusData" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Habilitation">
    <xsd:sequence>
      <xsd:element name="userId" type="xsd1:DTypeUserId" minOccurs="0"/>
      <xsd:element name="pwd" type="xsd1:DTypePwd" minOccurs="0"/>
      <xsd:element name="qalPwd" type="xsd1:DTypeQalPwd" minOccurs="0"/>
      <xsd:element name="keyCrypt" type="xsd1:DTypeKeyCrypt" minOccurs="0"/>
      <xsd:element name="newPwd" type="xsd1:DTypePwd" minOccurs="0"/>
      <xsd:element name="role" type="xsd1:DTypeRole" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Email">
    <xsd:sequence>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="emailOptin" type="xsd1:DTypeMailOptin" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailType">
  </xsd:complexType>
  <xsd:complexType name="Individual">
    <xsd:sequence>
      <xsd:element name="civilian" type="tns:Civilian" minOccurs="0"/>
      <xsd:element name="individualInformations" type="tns:IndividualInformations"/>
      <xsd:element name="alias" type="tns:Alias" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="clientUses" type="tns:UsageClient" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="signature" type="tns:Signature" minOccurs="0" maxOccurs="4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifier">
    <xsd:sequence>
      <xsd:element name="identifier" type="xsd1:DTypeExternalIdentifier" minOccurs="0"/>
      <xsd:element name="type" type="xsd1:DTypeExternalIdentifierType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierData">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypeExternalIdentifierDataKey" minOccurs="0"/>
      <xsd:element name="value" type="xsd1:DTypeExternalIdentifierDataValue" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformationException">
    <xsd:sequence>
      <xsd:element name="noErr" type="xsd:string" minOccurs="0"/>
      <xsd:element name="libErr" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformations">
    <xsd:sequence>
      <xsd:element name="identifier" type="xsd1:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="gender" type="xsd1:DTypeGender" minOccurs="0"/>
      <xsd:element name="personalIdentifier" type="xsd1:DTypePersonalIdent" minOccurs="0"/>
      <xsd:element name="birthDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd1:DTypeNationality" minOccurs="0"/>
      <xsd:element name="secondNationality" type="xsd1:DTypeNationality" minOccurs="0"/>
      <xsd:element name="secondFirstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="flagNoFusion" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="status" type="xsd1:DTypeStatus" minOccurs="0"/>
      <xsd:element name="flagThirdTrap" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:DTypeCivility" minOccurs="0"/>
      <xsd:element name="lastNamePseudonym" type="xsd1:DTypeSurnameAlias" minOccurs="0"/>
      <xsd:element name="firstNamePseudonym" type="xsd1:DTypeFirstNameAlias" minOccurs="0"/>
      <xsd:element name="lastNameSC" type="xsd1:DTypeSurname" minOccurs="0"/>
      <xsd:element name="firstNameSC" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="populationType" type="xsd1:DTypePopulationTargeted" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformationsV2">
    <xsd:sequence>
      <xsd:element name="identifier" type="xsd1:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="gender" type="xsd1:DTypeGender" minOccurs="0"/>
      <xsd:element name="personalIdentifier" type="xsd1:DTypePersonalIdent" minOccurs="0"/>
      <xsd:element name="birthDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="secondFirstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="flagNoFusion" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="status" type="xsd1:DTypeStatus" minOccurs="0"/>
      <xsd:element name="flagThirdTrap" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:DTypeCivility" minOccurs="0"/>
      <xsd:element name="lastNamePseudonym" type="xsd1:DTypeSurnameAlias" minOccurs="0"/>
      <xsd:element name="firstNamePseudonym" type="xsd1:DTypeFirstNameAlias" minOccurs="0"/>
      <xsd:element name="lastNameSC" type="xsd1:DTypeSurname" minOccurs="0"/>
      <xsd:element name="firstNameSC" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="populationType" type="xsd1:DTypePopulationTargeted" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformationsV3">
    <xsd:sequence>
      <xsd:element name="identifier" type="xsd1:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="gender" type="xsd1:DTypeGender" minOccurs="0"/>
      <xsd:element name="personalIdentifier" type="xsd1:DTypePersonalIdent" minOccurs="0"/>
      <xsd:element name="birthDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd1:DTypeNationality" minOccurs="0"/>
      <xsd:element name="secondNationality" type="xsd1:DTypeNationality" minOccurs="0"/>
      <xsd:element name="secondFirstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="flagNoFusion" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="status" type="xsd1:DTypeStatus" minOccurs="0"/>
      <xsd:element name="flagThirdTrap" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:DTypeCivility" minOccurs="0"/>
      <xsd:element name="lastNamePseudonym" type="xsd1:DTypeSurnameAlias" minOccurs="0"/>
      <xsd:element name="firstNamePseudonym" type="xsd1:DTypeFirstNameAlias" minOccurs="0"/>
      <xsd:element name="lastNameSC" type="xsd1:DTypeSurname" minOccurs="0"/>
      <xsd:element name="firstNameSC" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="middleNameSC" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="populationType" type="xsd1:DTypePopulationTargeted" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualProfil">
    <xsd:sequence>
      <xsd:element name="emailOptin" type="xsd1:DTypeMailOptin" minOccurs="0"/>
      <xsd:element name="proAreaCode" type="xsd1:DTypeDomainProCode" minOccurs="0"/>
      <xsd:element name="proAreaWording" type="xsd1:DTypeLabelDomainPro" minOccurs="0"/>
      <xsd:element name="civilianCode" type="xsd1:DTypeMaritalCode" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="proFunctionCode" type="xsd1:DTypeProFunctionCode" minOccurs="0"/>
      <xsd:element name="proFunctionWording" type="xsd1:DTypeLabelFunctionPro" minOccurs="0"/>
      <xsd:element name="childrenNumber" type="xsd1:DTypeChildrenNb" minOccurs="0"/>
      <xsd:element name="customerSegment" type="xsd1:DTypeCustomerSegment" minOccurs="0"/>
      <xsd:element name="studentCode" type="xsd1:DTypeStudentCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualProfilV2">
    <xsd:sequence>
      <xsd:element name="emailOptin" type="xsd1:DTypeMailOptin" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualProfilV3">
    <xsd:sequence>
      <xsd:element name="emailOptin" type="xsd1:DTypeMailOptin" minOccurs="0"/>
      <xsd:element name="proAreaCode" type="xsd1:DTypeDomainProCode" minOccurs="0"/>
      <xsd:element name="proAreaWording" type="xsd1:DTypeLabelDomainPro" minOccurs="0"/>
      <xsd:element name="civilianCode" type="xsd1:DTypeMaritalCode" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="carrierCode" type="xsd3:DTypeCarrier" minOccurs="0"/>
      <xsd:element name="proFunctionCode" type="xsd1:DTypeProFunctionCode" minOccurs="0"/>
      <xsd:element name="proFunctionWording" type="xsd1:DTypeLabelFunctionPro" minOccurs="0"/>
      <xsd:element name="childrenNumber" type="xsd1:DTypeChildrenNb" minOccurs="0"/>
      <xsd:element name="customerSegment" type="xsd1:DTypeCustomerSegment" minOccurs="0"/>
      <xsd:element name="studentCode" type="xsd1:DTypeStudentCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarketLanguage">
    <xsd:sequence>
      <xsd:element name="market" type="xsd3:DTypeMarket" minOccurs="0"/>
      <xsd:element name="language" type="xsd2:LanguageCodesEnum" minOccurs="0"/>
      <xsd:element name="optIn" type="xsd3:DTypeOptIn" minOccurs="0"/>
      <xsd:element name="dateOfConsent" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="media" type="tns:Media" minOccurs="0"/>
      <xsd:element name="signature" type="xsd4:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Media">
    <xsd:sequence>
      <xsd:element name="media1" type="xsd1:DTypeMedia" minOccurs="0"/>
      <xsd:element name="media2" type="xsd1:DTypeMedia" minOccurs="0"/>
      <xsd:element name="media3" type="xsd1:DTypeMedia" minOccurs="0"/>
      <xsd:element name="media4" type="xsd1:DTypeMedia" minOccurs="0"/>
      <xsd:element name="media5" type="xsd1:DTypeMedia" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MediumUsage">
    <xsd:sequence>
      <xsd:element name="workCode" type="xsd1:DTypeCodeAppliMetier" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NormalizedName">
    <xsd:sequence>
      <xsd:element name="lastName" type="xsd1:DTypeLastName" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrefilledNumbers">
    <xsd:sequence>
      <xsd:element name="contractType" type="xsd1:DTypeContractType" minOccurs="0"/>
      <xsd:element name="contractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrefilledNumbersData">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypeKey" minOccurs="0"/>
      <xsd:element name="value" type="xsd1:DTypeValue" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Preference">
    <xsd:sequence>
      <xsd:element name="typePreference" type="xsd1:DTypePreferenceType" minOccurs="0"/>
      <xsd:element name="preferenceData" type="tns:PreferenceData" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreferenceV2">
    <xsd:sequence>
      <xsd:element name="id" type="xsd1:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="type" type="xsd1:DTypePreferenceType"/>
      <xsd:element name="link" type="xsd1:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="preferenceDatas" type="tns:PreferenceDatasV2" minOccurs="0"/>
      <xsd:element name="signature" type="xsd4:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreferenceData">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypePreferenceDataKey" minOccurs="0"/>
      <xsd:element name="value" type="xsd1:DTypePreferenceDataValue" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreferenceDatasV2">
    <xsd:sequence>
      <xsd:element name="preferenceData" type="tns:PreferenceDataV2" minOccurs="0" maxOccurs="50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreferenceDataV2">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypePreferenceDataKey" minOccurs="0"/>
      <xsd:element name="value" type="xsd1:DTypePreferenceValueV2" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddress">
    <xsd:sequence>
      <xsd:element name="postalAddressProperties" type="tns:PostalAddressProperties"/>
      <xsd:element name="adrPostContent" type="tns:PostalAddressContent"/>
      <xsd:element name="softComputingResponse" type="xsd6:SoftComputingResponse" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressSIC">
    <xsd:sequence>
      <xsd:element name="indicAdrNorm" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="adresseKey" type="xsd1:DTypeAddressKey" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeUsageNumber" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLocality" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeProvinceCode" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressContent">
    <xsd:sequence>
      <xsd:element name="corporateName" type="xsd1:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLocality" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeProvinceCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressProperties">
    <xsd:sequence>
      <xsd:element name="indicAdrNorm" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressSICResponse">
    <xsd:sequence>
      <xsd:element name="indicAdrNorm" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="adresseKey" type="xsd1:DTypeAddressKey" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeUsageNumber" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLocality" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeProvinceCode" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="softComputingResponse" type="xsd6:SoftComputingResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressType">
    <xsd:sequence>
      <xsd:element name="addressKey" type="xsd1:DTypeCleAdresse" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeCodeMedium" minOccurs="0"/>
      <xsd:element name="flagNormAddress" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeStatutMedium" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeRaisonSociale" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeVille" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeNumeroRue" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeCodePostal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
      <xsd:element name="cityLineFormat" type="xsd1:DTypeCityLineFormat" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:sequence>
      <xsd:element name="signatureType" type="xsd1:DTypeTypeSignature" minOccurs="0"/>
      <xsd:element name="site" type="xsd1:DTypeSite" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature" minOccurs="0"/>
      <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="hour" type="xsd1:DTypeHour" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignatureLight">
    <xsd:sequence>
      <xsd:element name="site" type="xsd1:DTypeSite"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature"/>
      <xsd:element name="ipAddress" type="xsd1:DTypeIpAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkType">
    <xsd:sequence>
      <xsd:element name="socialNetworkId" type="xsd1:DTypeSocialNetworkId"/>
      <xsd:element name="socialNetworkUsed" type="xsd1:DTypeLastSocialNetworkUsed" minOccurs="0"/>
      <xsd:element name="socialNetworkIdUsed" type="xsd1:DTypeLastSocialNetworkId" minOccurs="0"/>
      <xsd:element name="socialNetworkData" type="tns:SocialNetworkData" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkData">
    <xsd:sequence>
      <xsd:element name="socialNetworkDataKey" type="xsd1:DTypeSocialNetworkKey" minOccurs="0"/>
      <xsd:element name="socialNetworkDataValue" type="xsd1:DTypeSocialNetworkValue" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkTypeLight">
    <xsd:sequence>
      <xsd:element name="socialNetworkId" type="xsd1:DTypeSocialNetworkId" minOccurs="0"/>
      <xsd:element name="socialNetworkData" type="tns:SocialNetworkData" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomFlags">
    <xsd:sequence>
      <xsd:element name="flagInvalidFixTelecom" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="flagInvalidMobileTelecom" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="flagNoValidNormalizedTelecom" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomNormalization">
    <xsd:sequence>
      <xsd:element name="internationalPhoneNumber" type="xsd1:DTypePhoneNumber" minOccurs="0"/>
      <xsd:element name="isoCountryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telecom">
    <xsd:sequence>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd1:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd1:DTypePhoneNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomType">
  </xsd:complexType>
  <xsd:complexType name="UsageAddress">
    <xsd:sequence>
      <xsd:element name="applicationCode" type="xsd1:DTypeApplicationCode" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeUsageNumber" minOccurs="0"/>
      <xsd:element name="addressRoleCode" type="xsd1:DTypeAddressRoleCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsageClient">
    <xsd:sequence>
      <xsd:element name="srin" type="xsd1:DTypeSrin" minOccurs="0"/>
      <xsd:element name="applicationCode" type="xsd1:DTypeApplicationCode" minOccurs="0"/>
      <xsd:element name="authorizedModification" type="xsd1:DTypeModifAutorisee" minOccurs="0"/>
      <xsd:element name="lastModificationDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Warning">
    <xsd:sequence>
      <xsd:element name="warningCode" type="xsd1:DTypeWarningCode" minOccurs="0"/>
      <xsd:element name="warningDetails" type="xsd1:DTypeWarningDetails" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Localization">
    <xsd:sequence>
      <xsd:element name="postalAddress" type="xsd3:DTypePostalAddress" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd3:DTypeStateCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd3:DTypeMediumStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd3:DTypeMediumCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignatureV2">
    <xsd:sequence>
      <xsd:element name="creationSignature" type="xsd1:DTypeSignature" minOccurs="0"/>
      <xsd:element name="creationSite" type="xsd1:DTypeSignatureSite" minOccurs="0"/>
      <xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="modificationSignature" type="xsd1:DTypeSignature" minOccurs="0"/>
      <xsd:element name="modificationSite" type="xsd1:DTypeSignatureSite" minOccurs="0"/>
      <xsd:element name="modificationDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Traveler">
    <xsd:sequence>
      <xsd:element name="lastRecognitionDate" type="xsd:dateTime"/>
      <xsd:element name="matchingRecognition" type="xsd1:DTypeOption" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Corporate">
    <xsd:sequence>
      <xsd:element name="corporateEnvironmentID" type="xsd1:DTypeCorporateEnvironmentID" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractV2_light">
    <xsd:sequence>
      <xsd:element name="roleContractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="roleContractType" type="xsd1:DTypeTypeProduit" minOccurs="0"/>
      <xsd:element name="roleContractSubType" type="xsd1:DTypeSousTypeProduit" minOccurs="0"/>
      <xsd:element name="roleContractData" type="tns:ContractData" minOccurs="0" maxOccurs="50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InternalIdentifier">
    <xsd:sequence>
      <xsd:element name="identifierKey" type="xsd1:DTypeKeyIdentifier" minOccurs="0"/>
      <xsd:element name="identifierValue" type="xsd1:DTypeValueIdentifier" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkIdentifier">
    <xsd:sequence>
      <xsd:element name="socialNetworkId" type="xsd1:DTypeSocialNetworkId"/>
      <xsd:element name="socialNetworkUsed" type="xsd1:DTypeLastSocialNetworkUsed"/>
      <xsd:element name="socialNetworkIdUsed" type="xsd1:DTypeLastSocialNetworkId"/>
      <xsd:element name="usedBy" type="xsd1:DTypeUsedBy" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerIdentifier">
    <xsd:annotation>
      <xsd:documentation>Used to identify customer using id, type of identifier and password</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="customerId" type="xsd1:DTypeUserIdentifier"/>
      <xsd:element name="identifierType" type="xsd1:DTypeMyActIdentifier" minOccurs="0"/>
      <xsd:element name="password" type="xsd1:DTypePassword"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utf">
    <xsd:sequence>
      <xsd:element name="id" type="xsd1:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="type" type="xsd1:DTypeUtfType"/>
      <xsd:element name="utfDatas" type="tns:UtfDatas" minOccurs="0"/>
      <xsd:element name="signature" type="xsd4:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtfData">
    <xsd:sequence>
      <xsd:element name="key" type="xsd1:DTypeKey" minOccurs="0"/>
      <xsd:element name="value" type="xsd1:DTypeValue" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtfDatas">
    <xsd:sequence>
      <xsd:element name="utfData" type="tns:UtfData" minOccurs="0" maxOccurs="20"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Permission">
    <xsd:sequence>
      <xsd:element name="permissionID" type="xsd1:DTypeCustomerNumber"/>
      <xsd:element name="permissionAnswer" type="xsd:boolean"/>
      <xsd:element name="market" type="xsd1:DTypeMarketCode" minOccurs="0"/>
      <xsd:element name="language" type="xsd2:LanguageCodesEnum" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(individuType.SicIndividuTypeV3.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
