azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/createOrUpdateComPrefBasedOnPermission/V1/passenger_request-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/request-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/request-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v3/xsd" schemaLocation="passenger_SicIndividuType-v3.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="PermissionRequestElement" type="tns:PermissionRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="PermissionRequest">
    <xsd:sequence>
      <xsd:element name="permission" type="xsd1:Permission" maxOccurs="25"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.requestV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
