azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/createOrUpdateComPrefBasedOnPermission/V1/passenger_CreateOrUpdateComPrefBasedOnPermission-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<wsdl:definitions name="CreateOrUpdateComPrefBasedOnPermission-v1"

targetNamespace="http://www.af-klm.com/services/passenger/CreateOrUpdateComPrefBasedOnPermission-v1/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/CreateOrUpdateComPrefBasedOnPermission-v1/wsdl"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/data-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/response-v1/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/data-v1/xsd" schemaLocation="passenger_data-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="passenger_response-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgCreateOrUpdateComPrefBasedOnPermissionRequest">
    <wsdl:part name="request" element="xsd1:CreateOrUpdateComPrefBasedOnPermissionRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgCreateOrUpdateComPrefBasedOnPermissionResponse">
    <wsdl:part name="response" element="xsd1:CreateOrUpdateComPrefBasedOnPermissionResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessErrorBlocBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd2:BusinessErrorBlocElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="CreateOrUpdateComPrefBasedOnPermission-v1">
    <wsdl:operation name="createOrUpdateComPrefBasedOnPermission">
      <wsdl:input message="tns:msgCreateOrUpdateComPrefBasedOnPermissionRequest"/>
      <wsdl:output message="tns:msgCreateOrUpdateComPrefBasedOnPermissionResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessErrorBlocBusinessFault" message="tns:msgBusinessErrorBlocBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CreateOrUpdateComPrefBasedOnPermission-v1-soap11http" type="tns:CreateOrUpdateComPrefBasedOnPermission-v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createOrUpdateComPrefBasedOnPermission">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateOrUpdateComPrefBasedOnPermission-v1/createOrUpdateComPrefBasedOnPermission" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessErrorBlocBusinessFault">
        <soap:fault name="BusinessErrorBlocBusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CreateOrUpdateComPrefBasedOnPermissionService-v1">
    <wsdl:port name="CreateOrUpdateComPrefBasedOnPermission-v1-soap11http" binding="tns:CreateOrUpdateComPrefBasedOnPermission-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(CreateOrUpdateComPrefBasedOnPermissionV1.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
