azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/resources/META-INF/wsdl/w000413/V2/marketingdata_common-v2.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2013-11-18 15:54:14.195--><!--SOA repository reference: W000413-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/marketingdata/common-v2/xsd" xmlns:xsd1="http://www.af-klm.com/services/bdm/types-v2/xsd" targetNamespace="http://www.af-klm.com/services/marketingdata/common-v2/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value bdm_types-v2.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/bdm/types-v2/xsd" schemaLocation="bdm_types-v2.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="MarketingDataV2Element" type="tns:MarketingDataV2"/>
  <xsd:element name="PersonalInformationElement" type="tns:PersonalInformation"/>
  <xsd:element name="TravelCompanionV2Element" type="tns:TravelCompanionV2"/>
  <xsd:element name="TravelPreferencesElement" type="tns:TravelPreferences"/>
  <xsd:element name="TravelDocumentElement" type="tns:TravelDocument"/>
  <xsd:element name="ApisDataV2Element" type="tns:ApisDataV2"/>
  <xsd:element name="EmergencyContactElement" type="tns:EmergencyContact"/>
  <xsd:element name="TutorUMElement" type="tns:TutorUM"/>  
  <xsd:element name="HandicapElement" type="tns:Handicap"/>  
  <xsd:element name="MarketingDataBusinessFaultElement" type="tns:MarketingDataBusinessFault"/>

  <!-- types declarations -->
  <xsd:complexType name="MarketingDataV2">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="myAccountId" type="xsd:string"/>
      <xsd:element name="GIN" type="xsd1:GinType">
        <xsd:annotation>
          <xsd:documentation>Individual identification number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="travelPreferences" type="tns:TravelPreferences"/>
      <xsd:element minOccurs="0" name="apisDataV2" type="tns:ApisDataV2"/>
      <xsd:element minOccurs="0" name="personalInformation" type="tns:PersonalInformation"/>
      <xsd:element minOccurs="0" name="handicap" type="tns:Handicap"/>
      <xsd:element maxOccurs="8" minOccurs="0" name="travelCompanionV2List" type="tns:TravelCompanionV2"/>
      <xsd:element maxOccurs="2" minOccurs="0" name="tutorUMList" type="tns:TutorUM"/>
      <xsd:element maxOccurs="5" minOccurs="0" name="emergencyContactList" type="tns:EmergencyContact"/>
      <xsd:element maxOccurs="15" minOccurs="0" name="travelDocumentList" type="tns:TravelDocument"/>
    </xsd:sequence>
  </xsd:complexType>  
  <xsd:complexType name="PersonalInformation">
    <xsd:annotation>
      <xsd:documentation>information about airline partner Frequent Flyer programs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="blueBizNumber" type="xsd1:BlueBizNumber">
        <xsd:annotation>
          <xsd:documentation>BlueBiz number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FFPNumber" type="xsd1:FFPnumberType">
        <xsd:annotation>
          <xsd:documentation>Contract number except for BlueBiz</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FFPProgram" type="xsd1:FFProgramType">
        <xsd:annotation>
          <xsd:documentation>Frequent Flyer Program on other airline partner (code)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TravelPreferences">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="departureCity" type="xsd1:AirportCodeType">
        <xsd:annotation>
          <xsd:documentation>Usual departure city entered by the customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="departureAirport" type="xsd1:AirportCodeType">
        <xsd:annotation>
          <xsd:documentation>Usual departure airport entered by the customer </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arrivalCity" type="xsd1:AirportCodeType">
        <xsd:annotation>
          <xsd:documentation>Usual arrival city entered by the customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arrivalAirport" type="xsd1:AirportCodeType">
        <xsd:annotation>
          <xsd:documentation>Usual arrival airport entered by the customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="meal" type="xsd1:MealCodeType">
        <xsd:annotation>
          <xsd:documentation>Preferred meal</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="seat" type="xsd1:SeatType">
        <xsd:annotation>
          <xsd:documentation>Preferred seat </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="travelClass" type="xsd1:TravelClassType">
        <xsd:annotation>
          <xsd:documentation>Preferred travel class. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="boardingPass" type="xsd1:BoardingPassType">
        <xsd:annotation>
          <xsd:documentation>Preferred delivery option of boarding pass</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="customerLeisure" type="xsd1:LeisureCodeType">
        <xsd:annotation>
          <xsd:documentation>Customer leisure preferences</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TravelDocument">
    <xsd:annotation>
      <xsd:documentation>Nationality</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="xsd1:DocumentCodeType">
        <xsd:annotation>
          <xsd:documentation>Could be :&#xD;
- Passport&#xD;
- ID card&#xD;
- Driver’s license&#xD;
- Other&#xD;
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="number" type="xsd1:DocumentNumberType">
        <xsd:annotation>
          <xsd:documentation>Document number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Expiration date of the document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="nationality" type="xsd1:NationalityCodeType">
        <xsd:annotation>
          <xsd:documentation>nationality</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="issueDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="countryIssued" type="xsd1:CountryCodeType">
        <xsd:annotation>
          <xsd:documentation>Country that issued document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmergencyContact">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="email" type="xsd1:EmailType"/>
      <xsd:element minOccurs="0" name="phoneNumber" type="xsd1:PhoneType"/>
      <xsd:element minOccurs="0" name="lastName" type="xsd1:NameType"/>
      <xsd:element minOccurs="0" name="firstName" type="xsd1:NameType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ApisDataV2">
    <xsd:annotation>
      <xsd:documentation>Required information that must be provided when travelling to certain countries as a security measure. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="lastName" type="xsd1:NameType">
        <xsd:annotation>
          <xsd:documentation>Last name (as it appears on the passport)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="firstName" type="xsd1:NameType">
        <xsd:annotation>
          <xsd:documentation>First name and middle name (as they appear on the passport)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dateOfBirth" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Date of birth</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gender" type="xsd1:GenderType">
        <xsd:annotation>
          <xsd:documentation>Gender (Deduced from customer civility)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="greenCardNumber" type="xsd1:GreenCardNumberType">
        <xsd:annotation>
          <xsd:documentation>Green card number (Alien Registration Number)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="greenCardExpiryDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Green card expiry date</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="countryOfResidence" type="xsd1:CountryCodeType">
        <xsd:annotation>
          <xsd:documentation>Country of residence</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="addressUS" type="xsd1:AdressType">
        <xsd:annotation>
          <xsd:documentation>Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="postCodeUS" type="xsd1:PostCodeType">
        <xsd:annotation>
          <xsd:documentation>Postcode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="cityUS" type="xsd1:CityType">
        <xsd:annotation>
          <xsd:documentation>City</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stateUS" type="xsd1:StateType">
        <xsd:annotation>
          <xsd:documentation>State</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="redressControlNumber" type="xsd1:RedressControlType">
        <xsd:annotation>
          <xsd:documentation>Number given to passengers whose names are/have been confused with names of suspects on terrorist watch list</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TutorUM">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="civilityTutor" type="xsd1:CivilityType"/>
      <xsd:element minOccurs="0" name="lastnameTutor" type="xsd1:NameType"/>
      <xsd:element minOccurs="0" name="firstnameTutor" type="xsd1:NameType"/>
      <xsd:element minOccurs="0" name="addressTutor" type="xsd1:AdressUMType"/>
      <xsd:element minOccurs="0" name="postCodeTutor" type="xsd1:PostCodeTutorType"/>
      <xsd:element minOccurs="0" name="cityTutor" type="xsd1:CityTutorType"/>
      <xsd:element minOccurs="0" name="codeProvinceTutor" type="xsd1:CodeProvinceTutorType"/>
      <xsd:element minOccurs="0" name="countryCodeTutor" type="xsd1:CountryCodeTutorType"/>
      <xsd:element minOccurs="0" name="phoneNumberTutor" type="xsd1:Phone2Type"/>
      <xsd:element minOccurs="0" name="dialingCodePhoneTutor" type="xsd1:DialingCodeType"/>
      <xsd:element minOccurs="0" name="mobilePhoneTutor" type="xsd1:Phone2Type"/>
      <xsd:element minOccurs="0" name="dialingCodeMobileTutor" type="xsd1:DialingCodeType"/>
      <xsd:element minOccurs="0" name="orderTutor" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Handicap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codeHCP1" type="xsd1:CodeHcpMatType"/>      
      <xsd:element minOccurs="0" name="codeHCP2" type="xsd1:CodeHcpMatType"/>
      <xsd:element minOccurs="0" name="codeHCP3" type="xsd1:CodeHcpMatType"/>
      <xsd:element minOccurs="0" name="medaCCFlag" type="xsd1:FlagType"/>
      <xsd:element minOccurs="0" name="medaCCDateStart" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="medaCCDateEnd" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="medaCCAccomp" type="xsd1:FlagType"/>
      <xsd:element minOccurs="0" name="medaCCTxt" type="xsd1:MedaTxtType"/>
      <xsd:element minOccurs="0" name="medaMCFlag" type="xsd1:FlagType"/>
      <xsd:element minOccurs="0" name="medaMCDateStart" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="medaMCDateEnd" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="medaMCAccomp" type="xsd1:FlagType"/>
      <xsd:element minOccurs="0" name="medaMCTxt" type="xsd1:MedaTxtType"/>
      <xsd:element minOccurs="0" name="medaLCFlag" type="xsd1:FlagType"/>
      <xsd:element minOccurs="0" name="medaLCDateStart" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="medaLCDateEnd" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="medaLCAccomp" type="xsd1:FlagType"/>
      <xsd:element minOccurs="0" name="medaLCTxt" type="xsd1:MedaTxtType"/>
      <xsd:element minOccurs="0" name="codeMat1" type="xsd1:CodeHcpMatType"/>
      <xsd:element minOccurs="0" name="length1" type="xsd:int"/>
      <xsd:element minOccurs="0" name="width1" type="xsd:int"/>
      <xsd:element minOccurs="0" name="height1" type="xsd:int"/>
      <xsd:element minOccurs="0" name="lengthPlie1" type="xsd:int"/>
      <xsd:element minOccurs="0" name="widthPlie1" type="xsd:int"/>
      <xsd:element minOccurs="0" name="heightPlie1" type="xsd:int"/>
      <xsd:element minOccurs="0" name="weight1" type="xsd:int"/>
      <xsd:element minOccurs="0" name="codeMat2" type="xsd1:CodeHcpMatType"/>
      <xsd:element minOccurs="0" name="length2" type="xsd:int"/>
      <xsd:element minOccurs="0" name="width2" type="xsd:int"/>
      <xsd:element minOccurs="0" name="height2" type="xsd:int"/>
      <xsd:element minOccurs="0" name="lengthPlie2" type="xsd:int"/>
      <xsd:element minOccurs="0" name="widthPlie2" type="xsd:int"/>
      <xsd:element minOccurs="0" name="heightPlie2" type="xsd:int"/>
      <xsd:element minOccurs="0" name="weight2" type="xsd:int"/>
      <xsd:element minOccurs="0" name="otherMat" type="xsd1:OtherMatType"/>
      <xsd:element minOccurs="0" name="dogGuideFlag" type="xsd1:FlagType"/>
      <xsd:element minOccurs="0" name="dogGuideBreed" type="xsd1:DogBreedType"/>
      <xsd:element minOccurs="0" name="dogGuideWeight" type="xsd:int"/>
      <xsd:element minOccurs="0" name="oxygFlag" type="xsd1:FlagType"/>
      <xsd:element minOccurs="0" name="oxygOutput" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TravelCompanionV2">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="civility" type="xsd1:CivilityType">
        <xsd:annotation>
          <xsd:documentation>Civility of the customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="firstName" type="xsd1:NameType">
        <xsd:annotation>
          <xsd:documentation>First name </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="lastName" type="xsd1:NameType">
        <xsd:annotation>
          <xsd:documentation>Last name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="dateOfBirth" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Date of birth</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="email" type="xsd1:EmailType">
        <xsd:annotation>
          <xsd:documentation>Email address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TCPersonalInformation" type="tns:PersonalInformation"/>      
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarketingDataBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:MarketingDataError"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="MarketingDataError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BAD_INPUT_FORMAT">
        <xsd:annotation>
          <xsd:documentation>Bad input parameter format</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MISSING_MANDATORY_INPUT">
        <xsd:annotation>
          <xsd:documentation>Missing mandatory input parameters.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RETURN_ERROR">
        <xsd:annotation>
          <xsd:documentation>a technical error occurred during the execution of service.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GIN_NOT_FOUND">
        <xsd:annotation>
          <xsd:documentation>GIN not found in the BDM</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PASSPORT_MAX_ERROR">
        <xsd:annotation>
          <xsd:documentation>2 passport max are authorized in the BDM</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ID_CARD_MAX_ERROR">
        <xsd:annotation>
          <xsd:documentation>identity card max reached</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>      
      <xsd:enumeration value="TUTOR_UM_MAX_ERROR">
        <xsd:annotation>
          <xsd:documentation>2 tutors um max are authorized in the BDM</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>            
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.commonV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>