repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/tokenize/PAY_TokenizeCreditCardReply_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/MTKNCR_13_2_1A" xmlns="http://xml.amadeus.com/MTKNCR_13_2_1A" elementFormDefault="qualified">
  <xs:element name="PAY_TokenizeCreditCardReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Create Credit Card Token</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactionResult" type="ResponseAnalysisDetailsType" />
        <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Convey the error code and description.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ccnTokenCVVToken" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="ItemNumberType" />
              <xs:element name="errorGroup" minOccurs="0" type="ErrorGroupType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Convey the error code and description.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="token" minOccurs="0" maxOccurs="2" type="ItemReferencesAndVersionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the token associated to the credit card number</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition. In our instance it will be set to 710 (Freetext Error)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Subject Qualifier of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of information in the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">status of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">company id of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Language used for the canned message text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">source of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding used for the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Characteristics of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="99" type="ItemNumberIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="uniqueReference" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">the unique ID of the credit card stored in Fort Knox.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseAnalysisDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of query and the processing status associated with this response.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusCode" type="AlphaString_Length1To6" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A0A61971D863876976140001DDC24CD862D6991BA87010102C56212A1B2E4897251AFE8BB8FB29DB53B0CDB2E8644C924F5FD3F978BF56293178BF9EE7A2D2ED26C324A2F4659C68B0650C996679369F6619A4EF87255BC4BD3699AB27C9587B606BCD206ACAC40506077295197450C278FA8D85E22ACE90C6B59823885504FC7E3C7CA24B2920A1A4C4A578DD9BEB1CAC05C7B31460841DB238E952E91952728EF6FE95B49117C03AC740AE80A0AEB6CDC551558DA0D67552D6D1BCB09DB184381BAF5FA780AE24DDE97E337DED55E4390BEE5D22A3E73F6A015E5D0D2F0CFF6E07C25837676CA1B2B9B70725EFF00C51B84EEBAD2581A878D078EC1EB329896D33F7BAD2847C2895BCA47FC5C0C139960DC1BC337B10FE41BEADE3F804ADE300507D998B0F475C4A5C4411A04A65CB337700BDF1BB025DCC8509E8613B097FF0413ECCB9DA728D0F3EEE9013CD2AB68E5C100A5A1953C5285F6991D48BE4D6388998B4A76FB4ECEEEE7B8FA4B02E34A6906E4C61D15C9389F6E3F2DF2F976A1F44196A170CEE07651ECE61A83B461464A917EA4DC7625FD3D44C5FB3BD8698DDBAFEE48B9ECB16B44AB6B6B5A56813FC200A35B5F69300A6F9D0FBFF0D1C391FACA3132FD3D3627D5B5199C63FF0B51EDB40D6B08BD1C9DD9BC73E115A16E1F0D9CB0FE099128C6414AC76936C4F0CAF9DC68CA3D38367A419780737212D52653F614B1923EC4BC7756973AB4C3438297164DE74FE22388358E87CC45BE1A3F29309A9E21C940CF099DB2D89E7A3D3E6496D97966FA9C14E9507593AC6DC91ED184EB26D44DB87246811731C0D868B4EA31BE45AE5FE66434623D2491E5EC557D91DFE4BB9BFCDB2E9B64E4E94A6A2B8A2F6B068F35C9B593B89B2F96A2D8DC2DCEF270E94112B08FE78058D10FB30DAB6920349E48E21E7CAF8EB8A0D5838E9289AC27233B8822562DDC3D589ADC9907A5C34C7AC5CE52FDE17C0335596C3081C8DEB39F3D61A1D011050000
-->

