repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/tokenize/ServiceSchemaContent-1136366.xml

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2014-06-27 09:44:36.282--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xml.amadeus.com/MTKNGR_13_2_1A" elementFormDefault="qualified" targetNamespace="http://xml.amadeus.com/MTKNGR_13_2_1A">
  <xs:element name="PAY_DetokenizeTokenReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Get Credit Card Number From Token</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactionResult" type="ResponseAnalysisDetailsType"/>
        <xs:element minOccurs="0" name="errorGroup" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys the error code and the description.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="99" minOccurs="0" name="ccNumberCVV">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="ItemNumberType"/>
              <xs:element minOccurs="0" name="errorGroup" type="ErrorGroupType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys the error code and the description.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="creditCardData" type="CreditCardDataType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition. In our instance it will be set to 710 (Freetext Error)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="errorCategory" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="errorCodeOwner" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditCardDataType">
    <xs:annotation>
      <xs:documentation xml:lang="en">specify credit card data for credit card authorization - USED IN CCVRQT</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ccInfo" type="CreditCardInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditCardInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">credit card info</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="cardNumber" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Card number  Card number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="securityId" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys the security ID of the Credit Card (CVV,CVV2), 3-4 digits stored on the back of the card</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expiryDate" type="NumericInteger_Length4To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Expiry date :  format    MMYY</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="startDate" type="NumericInteger_Length4To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">This field indicates the date the Credit Card was issued. This data is present in case of (UK) maestro cards.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ccHolderName" type="AlphaNumericString_Length1To99">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conveys Credit card holder's name, as written on the card</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="errorWarningDescription" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Subject Qualifier of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="informationType" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of information in the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="status" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">status of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="companyId" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">company id of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="language" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Language used for the canned message text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">source of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding used for the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the free text</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Characteristics of the free text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="number" type="AlphaNumericString_Length1To35"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="99" name="itemNumberDetails" type="ItemNumberIdentificationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseAnalysisDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of query and the processing status associated with this response.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusCode" type="AlphaString_Length1To6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="199"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length4To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{4,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="99"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema><!-- SchemaRules="2010/01"--><!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.--><!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."--><!--Build Key:
1F8B08000000000000009593516BDB3010C7DFF529C45EF630E2D85DC720A007B749B3B1250DA9FB300804C5BA24A2B2E4E9E412AFF4BBEF643B6B07836D2FB67492EEA4DFFF7FF3D972B6CE8BD9747BBB14176976394A2F4659C68B0650C996679793ECC324BDE0F345F12E4D2769CAF2451EDA1AF0461BB0B2024181ED95445D16319C9C50B19D4458D21AD6B204710CA19E8CC7A7CA24B2920A1A4C4A578DD9AEB1CAC0547B31460841DB038E952E919547281FEEE85B49117C03AC740A680B0AEB6C9C5515589A0D6B552D6D1BCB09DB184381BAF5FA700CE24DDE97E32BEF6AAF2148DF726915BF7676AF15E5D0D2F0CF76EF7C25837676C21B2B9B70745EFF00C51B846EBBD2581A878D078EC1EB329896D3999D569423E1C42DE5237E2E86894C30CE8DE1EB780FE46BBABD7F0495BC610AF6B23161EEEB884B89BD34084CB96667E00EBE37604B58C9501E8715B057FF0413ECCB9EA728D0F3F6E9113CD2AB68E4C100A5A1913C5085F699ED49BE756388998B4A76F34ECEEE701CFD258171A5340372E30E8A649C4E369F66F97433537A2FCB50386770332BB6538D41DA704D4A917EA4DC6621FD0344C5FB3DD8698D9BAFEE40B9ECA1BB8856B7D6B4AC027F80014637BED16014DE391F7EE1A38723DD2BC7C8F4F7D89454D766708EFD2F44B5D3362C21F4727466F3CE855784BA793470C2FA2744A2181B291DA7D910C31BE773A329F7E0D8E8055D024EC949549B4CD953C44AFA10F3DE5B5DEAD00E0F095E5A349D3F898F20D6381E3217F962FCA4C0687A8624033D27B4CAE2F5D4EBF621B35C9F7BA6CF49910E55D7C9DA96EC8426DC36A16EC28D330ABC8801C646A3458FF12D72FDD227A311EB21892C67AFEA8B7C956F57F9B76D769991A72BA9AD28BE2C199C6A926B2B713B9DCD45B1BE9F9DE5E1D28324601FCF01B1A003F335ABA921341E49E21E7CAF8EB8A0D1A38E9289AC27233B88225625ADDD0358EADD22FED959A73F2DAEA126730DF28BEC3DFB095B4ED9D50B050000
-->