repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/notifyeventindividual/V1/passenger_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/individual-v5/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/individual-v5/xsd" schemaLocation="passenger_individual-v5.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="IndividualInformationDataElement" type="tns:IndividualInformationData"/>
  <xsd:element name="NotifyEventIndividualMsgElement" type="tns:NotifyEventIndividualMsg"/>
  <xsd:element name="BlockElement" type="tns:Block"/>

  <!-- types declarations -->
  <xsd:complexType name="IndividualInformationData">
    <xsd:sequence>
      <xsd:element name="telecomBlock" type="xsd1:TelecomBlock" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="emailBlock" type="xsd1:EmailBlock" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="postalAddressBlock" type="xsd1:PostalAddressBlock" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="individualBlock" type="xsd1:IndividualBlock" minOccurs="0"/>
      <xsd:element name="contractBlock" type="xsd1:ContractBlock" minOccurs="0" maxOccurs="25"/>
      <xsd:element name="externalIdentifierBlock" type="xsd1:ExternalIdentifierBlock" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="accountDataBlock" type="xsd1:AccountDataBlock" minOccurs="0"/>
      <xsd:element name="prefilledNumbersBlock" type="xsd1:PrefilledNumbersBlock" minOccurs="0" maxOccurs="50"/>
      <xsd:element name="socialNetworkDataBlock" type="xsd1:SocialNetworkDataBlock" minOccurs="0"/>
      <xsd:element name="communicationPreferencesBlock" type="xsd1:CommunicationPreferencesBlock" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegationDataBlock" type="xsd1:DelegationDataBlock" minOccurs="0"/>
      <xsd:element name="preferencesBlock" type="xsd1:PreferencesBlock" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotifyEventIndividualMsg">
    <xsd:sequence>
      <xsd:element name="changedBlocks" type="tns:Block" maxOccurs="100"/>
      <xsd:element name="individualInformationData" type="tns:IndividualInformationData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Block">
    <xsd:sequence>
      <xsd:element name="name" type="tns:DTypeBlockName"/>
      <xsd:element name="identifier" type="tns:DTypeBlockIdentifier"/>
      <xsd:element name="notificationType" type="tns:DTypeNotificationType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DTypeNotificationType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBlockName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBlockIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v01.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
