repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/notifyeventindividual/V1/passenger_individual-v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/individual-v5/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/individual-v5/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicIndividuType-v2/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="5.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v2/xsd" schemaLocation="passenger_SicIndividuType-v2.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="TelecomBlockElement" type="tns:TelecomBlock"/>
  <xsd:element name="EmailBlockElement" type="tns:EmailBlock"/>
  <xsd:element name="PostalAddressBlockElement" type="tns:PostalAddressBlock"/>
  <xsd:element name="IndividualBlockElement" type="tns:IndividualBlock"/>
  <xsd:element name="ContractBlockElement" type="tns:ContractBlock"/>
  <xsd:element name="ExternalIdentifierBlockElement" type="tns:ExternalIdentifierBlock"/>
  <xsd:element name="AccountDataBlockElement" type="tns:AccountDataBlock"/>
  <xsd:element name="PrefilledNumbersBlockElement" type="tns:PrefilledNumbersBlock"/>
  <xsd:element name="SocialNetworkDataBlockElement" type="tns:SocialNetworkDataBlock"/>
  <xsd:element name="CommunicationPreferencesBlockElement" type="tns:CommunicationPreferencesBlock"/>
  <xsd:element name="DelegationDataBlockElement" type="tns:DelegationDataBlock"/>
  <xsd:element name="ExternalIdentifierDataBlockElement" type="tns:ExternalIdentifierDataBlock"/>
  <xsd:element name="PreferencesBlockElement" type="tns:PreferencesBlock"/>

  <!-- types declarations -->
  <xsd:complexType name="TelecomBlock">
    <xsd:sequence>
      <xsd:element name="telecom" type="xsd1:Telecom" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecomFlags" type="xsd1:TelecomFlags" minOccurs="0"/>
      <xsd:element name="telecomNormalization" type="xsd1:TelecomNormalization" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailBlock">
    <xsd:sequence>
      <xsd:element name="email" type="xsd1:Email" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressBlock">
    <xsd:sequence>
      <xsd:element name="postalAddressProperties" type="xsd1:PostalAddressProperties" minOccurs="0"/>
      <xsd:element name="postalAddressContent" type="xsd1:PostalAddressContent" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="usageAddress" type="xsd1:UsageAddress" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualBlock">
    <xsd:sequence>
      <xsd:element name="individualInformations" type="xsd1:IndividualInformationsV2" minOccurs="0"/>
      <xsd:element name="individualProfil" type="xsd1:IndividualProfilV2" minOccurs="0"/>
      <xsd:element name="normalizedName" type="xsd1:NormalizedName" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="airFranceProfil" type="xsd1:AirFranceProfilV2" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="civilian" type="xsd1:Civilian" minOccurs="0"/>
      <xsd:element name="usageClient" type="xsd1:UsageClient" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractBlock">
    <xsd:sequence>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="contract" type="xsd1:ContractV2" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierBlock">
    <xsd:sequence>
      <xsd:element name="externalIdentifier" type="xsd1:ExternalIdentifier" minOccurs="0"/>
      <xsd:element name="externalIdentifierData" type="tns:ExternalIdentifierDataBlock" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountDataBlock">
    <xsd:sequence>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="accountData" type="xsd1:AccountDataV2" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrefilledNumbersBlock">
    <xsd:sequence>
      <xsd:element name="prefilledNumbers" type="xsd1:PrefilledNumbers" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="prefilledNumbersData" type="xsd1:PrefilledNumbersData" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkDataBlock">
    <xsd:sequence>
      <xsd:element name="socialNetworkTypeLight" type="xsd1:SocialNetworkTypeLight" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationPreferencesBlock">
    <xsd:sequence>
      <xsd:element name="communicationPreferences" type="xsd1:CommunicationPreferences" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelegationDataBlock">
    <xsd:sequence>
      <xsd:element name="delegator" type="xsd1:Delegator" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegate" type="xsd1:Delegate" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifierDataBlock">
    <xsd:sequence>
      <xsd:element name="externalIdentifierData" type="xsd1:ExternalIdentifierData" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreferencesBlock">
    <xsd:sequence>
      <xsd:element name="preference" type="xsd1:Preference" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.individualV5.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
