azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/V6/passenger_data-v6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v6/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v6/xsd" 
	xmlns:xsd7="http://www.af-klm.com/services/passenger/response-v6/xsd"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="6.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v6/xsd" schemaLocation="passenger_response-v6.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideIndividualInformationResponseElement" type="tns:ProvideIndividualInformationResponse"/>
  <xsd:element name="ProvideIndividualInformationRequestElement" type="tns:ProvideIndividualInformationRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideIndividualInformationResponse">
    <xsd:sequence>
      <xsd:element name="telecomResponse" type="xsd7:TelecomResponse" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="emailResponse" type="xsd7:EmailResponse" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="postalAddressResponse" type="xsd7:PostalAddressResponse" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="individualResponse" type="xsd7:IndividualResponse" minOccurs="0"/>
      <xsd:element name="contractResponse" type="xsd7:ContractResponse" minOccurs="0" maxOccurs="25"/>
      <xsd:element name="externalIdentifierResponse" type="xsd7:ExternalIdentifierResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="accountDataResponse" type="xsd7:AccountDataResponse" minOccurs="0"/>
      <xsd:element name="prefilledNumbersResponse" type="xsd7:PrefilledNumbersResponse" minOccurs="0" maxOccurs="50"/>
      <xsd:element name="marketingDataResponse" type="xsd7:MarketingDataResponse" minOccurs="0"/>
      <xsd:element name="flyingBlueContractDataResponse" type="xsd7:FlyingBlueContractDataResponse" minOccurs="0"/>
      <xsd:element name="socialNetworkDataResponse" type="xsd7:SocialNetworkDataResponse" minOccurs="0"/>
      <xsd:element name="communicationPreferencesResponse" type="xsd7:CommunicationPreferencesResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegationDataResponse" type="xsd7:DelegationDataResponse" minOccurs="0"/>
      <xsd:element name="warningResponse" type="xsd7:WarningResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="preferencesResponse" type="xsd7:PreferencesResponse" minOccurs="0"/>
      <xsd:element name="localizationResponse" type="xsd7:LocalizationResponse" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="alertResponse" type="xsd7:AlertResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideIndividualInformationRequest">
    <xsd:sequence>
      <xsd:element name="identificationNumber" type="xsd1:DTypeGenericIdentifierV2"/>
      <xsd:element name="option" type="xsd1:DTypeOption"/>
      <xsd:element name="scopeToProvide" type="xsd1:DTypeScope" minOccurs="0" maxOccurs="17"/>
      <xsd:element name="requestor" type="xsd2:RequestorV2"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v06.dataV6.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
