azure/repind-ri-ws/src/webservices/Individu/EnrollMyAccountCustomerWS/src/main/webapp/WEB-INF/wsdl/V3/passenger_EnrollMyAccountCustomerService-v3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201410130840 -->
<wsdl:definitions name="EnrollMyAccountCustomerService-v3"

targetNamespace="http://www.af-klm.com/services/passenger/EnrollMyAccountCustomerService-v3/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/EnrollMyAccountCustomerService-v3/wsdl"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/data-v3/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/data-v3/xsd" schemaLocation="passenger_data-v3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgEnrollMyAccountCustomerRequest">
    <wsdl:part name="request" element="xsd2:EnrollMyAccountCustomerRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgEnrollMyAccountCustomerResponse">
    <wsdl:part name="response" element="xsd2:EnrollMyAccountCustomerResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd2:BusinessErrorElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="EnrollMyAccountCustomerService-v3">
    <wsdl:operation name="enrollMyAccountCustomer">
      <wsdl:input message="tns:msgEnrollMyAccountCustomerRequest"/>
      <wsdl:output message="tns:msgEnrollMyAccountCustomerResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="EnrollMyAccountCustomerService-v3-soap11http" type="tns:EnrollMyAccountCustomerService-v3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enrollMyAccountCustomer">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/EnrollMyAccountCustomerService-v3/enrollMyAccountCustomer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="EnrollMyAccountCustomerServiceService-v3">
    <wsdl:port name="EnrollMyAccountCustomerService-v3-soap11http" binding="tns:EnrollMyAccountCustomerService-v3-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(EnrollMyAccountCustomerServiceV3.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
