azure/repind-ri-ws/src/webservices/Individu/EnrollMyAccountCustomerWS/src/main/webapp/WEB-INF/wsdl/V3/passenger_SicCommonType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201410130840 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd" schemaLocation="passenger_SicCommonEnum-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="InternalBusinessErrorElement" type="tns:InternalBusinessError"/>
  <xsd:element name="RequestorElement" type="tns:Requestor"/>
  <xsd:element name="RequestorV2Element" type="tns:RequestorV2"/>
  <xsd:element name="BusinessErrorCommonElement" type="tns:BusinessErrorCommon"/>
  <xsd:element name="WarningElement" type="tns:Warning"/>
  <xsd:element name="SignatureElement" type="tns:Signature"/>
  <xsd:element name="InformationElement" type="tns:Information"/>

  <!-- types declarations -->
  <xsd:complexType name="InternalBusinessError">
    <xsd:complexContent>
      <xsd:extension base="tns:BusinessErrorCommon">
        <xsd:sequence>
      <xsd:element name="errorType" type="xsd1:BusinessErrorTypeEnum" minOccurs="0"/>
      <xsd:element name="errorCode" type="xsd2:DTypeErrorCode" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Requestor">
    <xsd:sequence>
      <xsd:element name="channel" type="xsd2:DTypeChannel">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Values :&lt;/p>&lt;p>B2C, &lt;/p>&lt;p>DS (Direct Sales), &lt;/p>&lt;p>FBC (Flying Blue Call Center),&lt;/p>&lt;p>MOB (Mobile),&lt;/p>&lt;p>APPS (Mobile apps)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="matricule" type="xsd2:DTypeMatricule" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Id of the caller if  known (FBC)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="managingCompany" type="xsd2:DTypeManagingCompany" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Values:&lt;/p>&lt;p>AF (Air France)&lt;/p>&lt;p>KL (KLM)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="officeId" type="xsd2:DTypeOfficeId" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>OfficeId associated to the caller if known.&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="scope" type="xsd2:DTypeScope" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>&lt;b>Request scope&lt;/b>&lt;/p>&lt;p>This parameter is aimed to precise the scope of the request in order to improve the technical performances.&lt;/p>&lt;p>&lt;b>Scopes:&lt;/b>&lt;/p>&lt;p>&#x201c;IDENTIFICATION_DATA&#x201d; (RI data only)&lt;/p>&lt;p>&#x201c;MARKETING_DATA&#x201d; &lt;/p>&lt;p>&#x201c;FB_CONTRACT_DATA&#x201d;&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="context" type="xsd2:DTypeContext" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>&lt;b>Request context&lt;/b>&lt;/p>&lt;p>This parameter is aimed to ask for a specific processing that will be useful in the future.&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="token" type="xsd2:DTypeToken" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Token provided after a call to AuthenticateAnIndividual&lt;/p>&lt;p>Used only when an active session is required (B2C, mobile applications)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ipAddress" type="xsd2:DTypeIpAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>IPAdress if known&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicationCode" type="xsd2:DTypeApplicationCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>ISI, OSC, etc.&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="site" type="xsd2:DTypeSite">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Values:&lt;/p>&lt;p>QVI (Valbonne)&lt;/p>&lt;p>TLS (Toulouse)&lt;/p>&lt;p>AMS (Amsterdam)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="signature" type="xsd2:DTypeSignature">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Free text&lt;/p>&lt;p>Name of the process used&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestorV2">
    <xsd:sequence>
      <xsd:element name="channel" type="xsd2:DTypeChannel">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Values :&lt;/p>&lt;p>B2C, &lt;/p>&lt;p>DS (Direct Sales), &lt;/p>&lt;p>FBC (Flying Blue Call Center),&lt;/p>&lt;p>MOB (Mobile),&lt;/p>&lt;p>APPS (Mobile apps)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="matricule" type="xsd2:DTypeMatricule" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Id of the caller if  known (FBC)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="managingCompany" type="xsd2:DTypeManagingCompany" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Values:&lt;/p>&lt;p>AF (Air France)&lt;/p>&lt;p>KL (KLM)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="officeId" type="xsd2:DTypeOfficeId" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>OfficeId associated to the caller if known.&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="context" type="xsd2:DTypeContext" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>&lt;b>Request context&lt;/b>&lt;/p>&lt;p>This parameter is aimed to ask for a specific processing that will be useful in the future.&lt;/p>&lt;br/>&#xD;
&lt;p>&lt;b> Mandatory &lt;/b> for a prospect usage &lt;/p>&lt;br/>&#xD;
&lt;p> B2C_HOME_PAGE or B2C_BOOKING_PROCESS or B2C_HOME_PAGE_RECONCILIATION &lt;/p>&#xD;
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="loggedGin" type="xsd2:DTypeCustomerNumber" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p> [0-9]{1,12} GIN of authenticated customer &lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reconciliationDataCIN" type="xsd2:DTypeCustomerNumber" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>[0-9]{1,12} FB number &lt;/p>&#xD;
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="token" type="xsd2:DTypeToken" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Token provided after a call to AuthenticateAnIndividual&lt;/p>&lt;p>Used only when an active session is required (B2C, mobile applications)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ipAddress" type="xsd2:DTypeIpAddress" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>IPAdress if known&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicationCode" type="xsd2:DTypeApplicationCode" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>ISI, OSC, etc.&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="site" type="xsd2:DTypeSite">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Values:&lt;/p>&lt;p>QVI (Valbonne)&lt;/p>&lt;p>TLS (Toulouse)&lt;/p>&lt;p>AMS (Amsterdam)&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="signature" type="xsd2:DTypeSignature">
        <xsd:annotation>
          <xsd:documentation>&lt;p>Free text&lt;/p>&lt;p>Name of the process used&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessErrorCommon">
    <xsd:sequence>
      <xsd:element name="errorLabel" type="xsd2:DTypeErrorLabel" minOccurs="0"/>
      <xsd:element name="errorDetail" type="xsd2:DTypeErrorDetail" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Warning">
    <xsd:sequence>
      <xsd:element name="warningLabel" type="xsd2:DTypeWarningCode" minOccurs="0"/>
      <xsd:element name="warningDetail" type="xsd2:DTypeWarningDetails" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:sequence>
      <xsd:element name="signatureType" type="xsd2:DTypeSignatureType" minOccurs="0"/>
      <xsd:element name="signatureSite" type="xsd2:DTypeSignatureSite" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:DTypeSignature" minOccurs="0"/>
      <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Information">
    <xsd:sequence>
      <xsd:element name="informationCode" type="xsd2:DTypeWarningCode" minOccurs="0"/>
      <xsd:element name="informationDetails" type="xsd2:DTypeWarningDetails" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sicCommonType.SicCommonTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
