azure/repind-ri-ws/src/commons/repind-commons/src/main/resources/META-INF/wsdl/crmpush/Marketing_create-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.5.0, Build 201001071402 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/Marketing/create-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/Marketing/create-v1/xsd" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->
  <xsd:element name="HandleCommunicationRequestElement" type="tns:HandleCommunicationRequest"/>
  <xsd:element name="HandleCommunicationResponseElement" type="tns:HandleCommunicationResponse"/>
  <xsd:element name="CampaignParameterElement" type="tns:CampaignParameter"/>
  <xsd:element name="handleCommunicationBusinessFaultElement" type="tns:handleCommunicationBusinessFault"/>

  <!-- types declarations -->
  <xsd:complexType name="HandleCommunicationRequest">
    <xsd:sequence>
      <xsd:element name="clientId" type="xsd:string"/>
      <xsd:element name="campaignId" type="xsd:string"/>
      <xsd:element name="isRealTime" type="xsd:boolean"/>
      <xsd:element name="campaignScheduleTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="campaignValidityDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="checkContract" type="xsd:boolean"/>
      <xsd:element name="contractVersion" type="xsd:string"/>
      <xsd:element name="campaignParameters" type="tns:CampaignParameter" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HandleCommunicationResponse">
    <xsd:sequence>
      <xsd:element name="success" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampaignParameter">
    <xsd:sequence>
      <xsd:element name="key" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="handleCommunicationBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:handleCommunicationError"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="handleCommunicationError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MISSING_MANDATORY_INPUT"/>
      <xsd:enumeration value="BAD_INPUT_FORMAT"/>
      <xsd:enumeration value="INVALID_CAMPAIGN_ID"/>
      <xsd:enumeration value="INVALID_CAMPAIGN_VALIDITY_DATE"/>
      <xsd:enumeration value="INVALID_CAMPAIGN_SCHEDULE_TIME"/>
      <xsd:enumeration value="INVALID_CAMPAIGN_PARAMETER"/>
      <xsd:enumeration value="INVALID_CONTACT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(handleCommunicationRequest.createV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
