azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/V2/passenger_SicIndividuType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd" schemaLocation="passenger_SicCommonEnum-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd" schemaLocation="passenger_SoftComputingType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="TelecomNormalizationElement" type="tns:TelecomNormalization"/>
  <xsd:element name="TelecomFlagsElement" type="tns:TelecomFlags"/>
  <xsd:element name="UsageAddressElement" type="tns:UsageAddress"/>
  <xsd:element name="PrefilledNumbersElement" type="tns:PrefilledNumbers"/>
  <xsd:element name="NormalizedNameElement" type="tns:NormalizedName"/>
  <xsd:element name="HabilitationElement" type="tns:Habilitation"/>
  <xsd:element name="IndividualInformationExceptionElement" type="tns:IndividualInformationException"/>
  <xsd:element name="IndividualElement" type="tns:Individual"/>
  <xsd:element name="IndividualInformationsElement" type="tns:IndividualInformations"/>
  <xsd:element name="AliasElement" type="tns:Alias"/>
  <xsd:element name="CivilianElement" type="tns:Civilian"/>
  <xsd:element name="UsageClientElement" type="tns:UsageClient"/>
  <xsd:element name="AirFranceProfilElement" type="tns:AirFranceProfil"/>
  <xsd:element name="IndividualProfilElement" type="tns:IndividualProfil"/>
  <xsd:element name="SignatureElement" type="tns:Signature"/>
  <xsd:element name="PostalAddressTypeElement" type="tns:PostalAddressType"/>
  <xsd:element name="MediumUsageElement" type="tns:MediumUsage"/>
  <xsd:element name="AddressRoleElement" type="tns:AddressRole"/>
  <xsd:element name="TelecomTypeElement" type="tns:TelecomType"/>
  <xsd:element name="EmailTypeElement" type="tns:EmailType"/>
  <xsd:element name="ContractElement" type="tns:Contract"/>
  <xsd:element name="PostalAddressSICElement" type="tns:PostalAddressSIC"/>
  <xsd:element name="SignatureLightElement" type="tns:SignatureLight"/>
  <xsd:element name="PostalAddressSICResponseElement" type="tns:PostalAddressSICResponse"/>
  <xsd:element name="SocialNetworkTypeElement" type="tns:SocialNetworkType"/>
  <xsd:element name="WarningElement" type="tns:Warning"/>
  <xsd:element name="SocialNetworkDataElement" type="tns:SocialNetworkData"/>
  <xsd:element name="SocialNetworkTypeLightElement" type="tns:SocialNetworkTypeLight"/>
  <xsd:element name="TelecomElement" type="tns:Telecom"/>
  <xsd:element name="EmailElement" type="tns:Email"/>
  <xsd:element name="PostalAddressElement" type="tns:PostalAddress"/>
  <xsd:element name="PostalAddressPropertiesElement" type="tns:PostalAddressProperties"/>
  <xsd:element name="PostalAddressContentElement" type="tns:PostalAddressContent"/>

  <!-- types declarations -->
  <xsd:complexType name="TelecomNormalization">
    <xsd:sequence>
      <xsd:element name="internationalPhoneNumber" type="xsd1:DTypePhoneNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomFlags">
    <xsd:sequence>
      <xsd:element name="flagInvalidFixTelecom" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="flagInvalidMobileTelecom" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="flagNoValidNormalizedTelecom" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsageAddress">
    <xsd:sequence>
      <xsd:element name="applicationCode" type="xsd1:DTypeApplicationCode" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeUsageNumber" minOccurs="0"/>
      <xsd:element name="addressRoleCode" type="xsd1:DTypeAddressRoleCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrefilledNumbers">
    <xsd:sequence>
      <xsd:element name="contractType" type="xsd1:DTypeContractType" minOccurs="0"/>
      <xsd:element name="contractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NormalizedName">
    <xsd:sequence>
      <xsd:element name="lastName" type="xsd1:DTypeLastName" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Habilitation">
    <xsd:sequence>
      <xsd:element name="userId" type="xsd1:DTypeUserId" minOccurs="0"/>
      <xsd:element name="pwd" type="xsd1:DTypePwd" minOccurs="0"/>
      <xsd:element name="qalPwd" type="xsd1:DTypeQalPwd" minOccurs="0"/>
      <xsd:element name="keyCrypt" type="xsd1:DTypeKeyCrypt" minOccurs="0"/>
      <xsd:element name="newPwd" type="xsd1:DTypePwd" minOccurs="0"/>
      <xsd:element name="role" type="xsd1:DTypeRole" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformationException">
    <xsd:sequence>
      <xsd:element name="noErr" type="xsd:string" minOccurs="0"/>
      <xsd:element name="libErr" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Individual">
    <xsd:sequence>
      <xsd:element name="civilian" type="tns:Civilian" minOccurs="0"/>
      <xsd:element name="individualInformations" type="tns:IndividualInformations"/>
      <xsd:element name="alias" type="tns:Alias" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="clientUses" type="tns:UsageClient" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="signature" type="tns:Signature" minOccurs="0" maxOccurs="4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformations">
    <xsd:sequence>
      <xsd:element name="identifier" type="xsd1:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="gender" type="xsd1:DTypeGender" minOccurs="0"/>
      <xsd:element name="personalIdentifier" type="xsd1:DTypePersonalIdent" minOccurs="0"/>
      <xsd:element name="birthDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd1:DTypeNationality" minOccurs="0"/>
      <xsd:element name="secondNationality" type="xsd1:DTypeNationality" minOccurs="0"/>
      <xsd:element name="secondFirstName" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="flagNoFusion" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="status" type="xsd1:DTypeStatus" minOccurs="0"/>
      <xsd:element name="flagThirdTrap" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:DTypeCivility" minOccurs="0"/>
      <xsd:element name="lastNamePseudonym" type="xsd1:DTypeSurnameAlias" minOccurs="0"/>
      <xsd:element name="firstNamePseudonym" type="xsd1:DTypeFirstNameAlias" minOccurs="0"/>
      <xsd:element name="lastNameSC" type="xsd1:DTypeSurname" minOccurs="0"/>
      <xsd:element name="firstNameSC" type="xsd1:DTypeFirstName" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Alias">
    <xsd:sequence>
      <xsd:element name="lastName" type="xsd1:DTypeNom" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypePrenom" minOccurs="0"/>
      <xsd:element name="civility" type="xsd2:CivilityEnum" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Civilian">
    <xsd:sequence>
      <xsd:element name="titleCode" type="xsd1:DTypeTitleCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsageClient">
    <xsd:sequence>
      <xsd:element name="srin" type="xsd1:DTypeSrin" minOccurs="0"/>
      <xsd:element name="applicationCode" type="xsd1:DTypeApplicationCode" minOccurs="0"/>
      <xsd:element name="authorizedModification" type="xsd1:DTypeModifAutorisee" minOccurs="0"/>
      <xsd:element name="lastModificationDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AirFranceProfil">
    <xsd:sequence>
      <xsd:element name="regimental" type="xsd1:DTypeMatricule" minOccurs="0"/>
      <xsd:element name="rank" type="xsd1:DTypeRang" minOccurs="0"/>
      <xsd:element name="notesAddress" type="xsd1:DTypeAdresseNotes" minOccurs="0"/>
      <xsd:element name="password" type="xsd1:DTypeMotDePasse" minOccurs="0"/>
      <xsd:element name="function" type="xsd1:DTypeFonction" minOccurs="0"/>
      <xsd:element name="rReference" type="xsd1:DTypeReferenceR" minOccurs="0"/>
      <xsd:element name="typology" type="xsd1:DTypeTypologie" minOccurs="0"/>
      <xsd:element name="originCode" type="xsd1:DTypeCodeOrigine" minOccurs="0"/>
      <xsd:element name="compagnyCode" type="xsd1:DTypeCodeCompagnie" minOccurs="0"/>
      <xsd:element name="statusCode" type="xsd1:DTypeCodeStatut" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualProfil">
    <xsd:sequence>
      <xsd:element name="emailOptin" type="xsd1:DTypeMailOptin" minOccurs="0"/>
      <xsd:element name="proAreaCode" type="xsd1:DTypeDomainProCode" minOccurs="0"/>
      <xsd:element name="proAreaWording" type="xsd1:DTypeLabelDomainPro" minOccurs="0"/>
      <xsd:element name="civilianCode" type="xsd1:DTypeMaritalCode" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="proFunctionCode" type="xsd1:DTypeProFunctionCode" minOccurs="0"/>
      <xsd:element name="proFunctionWording" type="xsd1:DTypeLabelFunctionPro" minOccurs="0"/>
      <xsd:element name="childrenNumber" type="xsd1:DTypeChildrenNb" minOccurs="0"/>
      <xsd:element name="customerSegment" type="xsd1:DTypeCustomerSegment" minOccurs="0"/>
      <xsd:element name="studentCode" type="xsd1:DTypeStudentCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:sequence>
      <xsd:element name="signatureType" type="xsd1:DTypeTypeSignature" minOccurs="0"/>
      <xsd:element name="site" type="xsd1:DTypeSite" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature" minOccurs="0"/>
      <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="hour" type="xsd1:DTypeHour" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressType">
    <xsd:sequence>
      <xsd:element name="addressKey" type="xsd1:DTypeCleAdresse" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeCodeMedium" minOccurs="0"/>
      <xsd:element name="flagNormAddress" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeStatutMedium" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeRaisonSociale" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeVille" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeNumeroRue" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeCodePostal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
      <xsd:element name="cityLineFormat" type="xsd1:DTypeCityLineFormat" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MediumUsage">
    <xsd:sequence>
      <xsd:element name="workCode" type="xsd1:DTypeCodeAppliMetier" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressRole">
    <xsd:sequence>
      <xsd:element name="addressRoleCode" type="xsd1:DTypeCodeRoleAddress" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomType">
  </xsd:complexType>
  <xsd:complexType name="EmailType">
  </xsd:complexType>
  <xsd:complexType name="Contract">
    <xsd:sequence>
      <xsd:element name="contractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="contractType" type="xsd1:DTypeContractType" minOccurs="0"/>
      <xsd:element name="productType" type="xsd1:DTypeTypeProduit" minOccurs="0"/>
      <xsd:element name="productSubType" type="xsd1:DTypeSousTypeProduit" minOccurs="0"/>
      <xsd:element name="companyContractType" type="xsd1:DTypeCodeCieContrat" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersionProduit" minOccurs="0"/>
      <xsd:element name="contractStatus" type="xsd1:DTypeContractStatus" minOccurs="0"/>
      <xsd:element name="validityStartDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="validityEndDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="tierLevel" type="xsd1:DTypeTierLevel" minOccurs="0"/>
      <xsd:element name="productFamilly" type="xsd1:DTypeFamilleProduit" minOccurs="0"/>
      <xsd:element name="iata" type="xsd1:DTypeIata" minOccurs="0"/>
      <xsd:element name="originCompany" type="xsd1:DTypeOrganismeOrigine" minOccurs="0"/>
      <xsd:element name="adhesionSource" type="xsd1:DTypeSourceAdhesion" minOccurs="0"/>
      <xsd:element name="bonusPermission" type="xsd1:DTypeBonusPermission" minOccurs="0"/>
      <xsd:element name="milesBalance" type="xsd1:DTypeSoldeMiles" minOccurs="0"/>
      <xsd:element name="qualifyingMiles" type="xsd1:DTypeMilesQualifiant" minOccurs="0"/>
      <xsd:element name="qualifyingHistMiles" type="xsd1:DTypeMilesQualifiantHist" minOccurs="0"/>
      <xsd:element name="qualifyingFlights" type="xsd1:DTypeSegmentsQualifiant" minOccurs="0"/>
      <xsd:element name="qualifyingHistFlights" type="xsd1:DTypeSegmentsQualifiantHist" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressSIC">
    <xsd:sequence>
      <xsd:element name="indicAdrNorm" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="adresseKey" type="xsd1:DTypeAddressKey" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeUsageNumber" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLocality" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeProvinceCode" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignatureLight">
    <xsd:sequence>
      <xsd:element name="site" type="xsd1:DTypeSite"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature"/>
      <xsd:element name="ipAddress" type="xsd1:DTypeIpAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressSICResponse">
    <xsd:sequence>
      <xsd:element name="indicAdrNorm" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="adresseKey" type="xsd1:DTypeAddressKey" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeUsageNumber" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLocality" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeProvinceCode" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="softComputingResponse" type="xsd3:SoftComputingResponse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkType">
    <xsd:sequence>
      <xsd:element name="socialNetworkId" type="xsd1:DTypeSocialNetworkId"/>
      <xsd:element name="socialNetworkUsed" type="xsd1:DTypeLastSocialNetworkUsed" minOccurs="0"/>
      <xsd:element name="socialNetworkIdUsed" type="xsd1:DTypeLastSocialNetworkId" minOccurs="0"/>
      <xsd:element name="socialNetworkData" type="tns:SocialNetworkData" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Warning">
    <xsd:sequence>
      <xsd:element name="warningCode" type="xsd1:DTypeWarningCode"/>
      <xsd:element name="warningDetails" type="xsd1:DTypeWarningDetails" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkData">
    <xsd:sequence>
      <xsd:element name="socialNetworkDataKey" type="xsd1:DTypeSocialNetworkKey" minOccurs="0"/>
      <xsd:element name="socialNetworkDataValue" type="xsd1:DTypeSocialNetworkValue" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SocialNetworkTypeLight">
    <xsd:sequence>
      <xsd:element name="socialNetworkId" type="xsd1:DTypeSocialNetworkId" minOccurs="0"/>
      <xsd:element name="socialNetworkData" type="tns:SocialNetworkData" minOccurs="0" maxOccurs="255"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telecom">
    <xsd:sequence>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd1:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd1:DTypePhoneNumber" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Email">
    <xsd:sequence>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediaStatus" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="emailOptin" type="xsd1:DTypeMailOptin" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddress">
    <xsd:sequence>
      <xsd:element name="postalAddressProperties" type="tns:PostalAddressProperties"/>
      <xsd:element name="adrPostContent" type="tns:PostalAddressContent"/>
      <xsd:element name="softComputingResponse" type="xsd3:SoftComputingResponse" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressProperties">
    <xsd:sequence>
      <xsd:element name="indicAdrNorm" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeMediumCode" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeMediumStatus" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressContent">
    <xsd:sequence>
      <xsd:element name="corporateName" type="xsd1:DTypeBusinessName" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeStreetNumber" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLocality" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeCity" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeZipCode" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeProvinceCode" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCountryCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(individuType.SicIndividuTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
