azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/META-INF/wsdl/w000469/V1/passenger_ProvidePaymentPreferences-v01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Uploaded in SOA repository on 2011-08-08 14:28:54.41-->
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.af-klm.com/services/passenger/ProvidePaymentPreferences-v1/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.af-klm.com/services/passenger/ProvideDecryptedPaymentPreferencesSchema-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/ProvidePaymentPreferencesSchema-v1/xsd" name="ProvidePaymentPreferences-v1" targetNamespace="http://www.af-klm.com/services/passenger/ProvidePaymentPreferences-v1/wsdl">
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UNTWSPortBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema>
      <!--previous value passenger_ProvideDecryptedPaymentPreferencesSchema-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/passenger/ProvideDecryptedPaymentPreferencesSchema-v1/xsd" schemaLocation="passenger_ProvideDecryptedPaymentPreferencesSchema-v1.xsd" />
    </xsd:schema>
    <xsd:schema>
      <!--previous value passenger_ProvidePaymentPreferencesSchema-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/passenger/ProvidePaymentPreferencesSchema-v1/xsd" schemaLocation="passenger_ProvidePaymentPreferencesSchema-v1.xsd" />
    </xsd:schema>
    <xsd:schema>
      <!--previous value SystemFault-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="msgProvidePaymentPreferencesRequest">
    <wsdl:part element="xsd1:ProvidePaymentPreferencesRequestElement" name="Request" />
  </wsdl:message>
  <wsdl:message name="msgProvidePaymentPreferencesResponse">
    <wsdl:part element="xsd1:ProvidePaymentPreferencesResponseElement" name="Response" />
  </wsdl:message>
  <wsdl:message name="msgProvideMaskedPaymentPreferencesRequest">
    <wsdl:part element="xsd2:ProvideMaskedPaymentPreferencesRequestElement" name="Request" />
  </wsdl:message>
  <wsdl:message name="msgProvideMaskedPaymentPreferencesResponse">
    <wsdl:part element="xsd2:ProvideMaskedPaymentPreferencesResponseElement" name="Response" />
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
    <wsdl:part element="xsd2:BusinessErrorElement" name="faultInfo" />
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part element="sft:SystemFault" name="faultInfo" />
  </wsdl:message>
  <wsdl:portType name="ProvidePaymentPreferences-v1">
    <wsdl:operation name="providePaymentPreferences">
      <wsdl:input message="tns:msgProvidePaymentPreferencesRequest" />
      <wsdl:output message="tns:msgProvidePaymentPreferencesResponse" />
      <wsdl:fault message="tns:systemFault" name="SystemFault" />
      <wsdl:fault message="tns:msgBusinessFault" name="BusinessFault" />
    </wsdl:operation>
    <wsdl:operation name="provideMaskedPaymentPreferences">
      <wsdl:input message="tns:msgProvideMaskedPaymentPreferencesRequest" />
      <wsdl:output message="tns:msgProvideMaskedPaymentPreferencesResponse" />
      <wsdl:fault message="tns:systemFault" name="SystemFault" />
      <wsdl:fault message="tns:msgBusinessFault" name="BusinessFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvidePaymentPreferences-v1-soap11http" type="tns:ProvidePaymentPreferences-v1">
  <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UNTWSPortBindingPolicy" />
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="providePaymentPreferences">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvidePaymentPreferences-v1/providePaymentPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideMaskedPaymentPreferences">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvidePaymentPreferences-v1/provideMaskedPaymentPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvidePaymentPreferencesService-v1">
    <wsdl:port binding="tns:ProvidePaymentPreferences-v1-soap11http" name="ProvidePaymentPreferences-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <!-- ENV-WS-W000469-LOCATION -->
      <soap:address location="https://ws-qvi-rct.airfrance.fr/passenger/marketing/000469v01" />
    </wsdl:port>
  </wsdl:service>
  <!--PROTECTED REGION ID(ProvidePaymentPreferencesV1.0) ENABLED START-->
  <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>

