azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/META-INF/wsdl/w000469/V1/passenger_RepindPPDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2011-06-16 14:55:03.441--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.6.1, Build 201101210958 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.af-klm.com/services/passenger/RepindPPDataType-v1/xsd" version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->

  <!-- types declarations -->
  <xsd:simpleType name="DTypeGin">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePGroupType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePMethod">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePointOfSale">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePFCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePFPreferences">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAirlinePPref">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePFEncryptedPreferences">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="128"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCreationStatus">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ON]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDeletionStatus">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ON]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSignature">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSignatureSite">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIpAdresse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(REPINDPPPType.RepindPPDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
