azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/META-INF/wsdl/w000469/V1/passenger_ProvidePaymentPreferencesSchema-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2011-08-08 14:28:54.331--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/passenger/ProvidePaymentPreferencesSchema-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/RepindPPDataType-v1/xsd" targetNamespace="http://www.af-klm.com/services/passenger/ProvidePaymentPreferencesSchema-v1/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value passenger_RepindPPDataType-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/RepindPPDataType-v1/xsd" schemaLocation="passenger_RepindPPDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideMaskedPaymentPreferencesResponseElement" type="tns:ProvideMaskedPaymentPreferencesResponse"/>
  <xsd:element name="ProvideMaskedPaymentPreferencesRequestElement" type="tns:ProvideMaskedPaymentPreferencesRequest"/>
  <xsd:element name="ProvideMaskedFieldsElement" type="tns:ProvideMaskedFields"/>
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideMaskedPaymentPreferencesResponse">
    <xsd:sequence>
      <xsd:element name="pointOfSale" type="xsd1:DTypePointOfSale"/>
      <xsd:element name="airlinePaymentPref" type="xsd1:DTypeAirlinePPref"/>
      <xsd:element name="paymentGroupType" type="xsd1:DTypePGroupType"/>
      <xsd:element name="paymentMethod" type="xsd1:DTypePMethod"/>
      <xsd:element maxOccurs="255" minOccurs="0" name="providemaskedfields" type="tns:ProvideMaskedFields"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideMaskedPaymentPreferencesRequest">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideMaskedFields">
    <xsd:sequence>
      <xsd:element name="paymentFieldCode" type="xsd1:DTypePFCode"/>
      <xsd:element name="paymentFieldPreferences" type="xsd1:DTypePFPreferences"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessError">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="missingParameter" type="xsd:string"/>
      <xsd:element name="faultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERR_905"/>
      <xsd:enumeration value="ERR_133"/>
      <xsd:enumeration value="ERR_001"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(paymentpreferencesprovidewsv2uml.ProvidePaymentPreferencesSchemaV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>