repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/provideCityInformation/passenger_geographyOperationData-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2011-02-14 09:35:13.912--><!--SOA repository reference: W000309-v1.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.5.0, Build 201001071402 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/passenger/geographyOperationData-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/commonsBusinessData-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/geographyBusinessData-v1/xsd" targetNamespace="http://www.af-klm.com/services/passenger/geographyOperationData-v1/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value passenger_geographyBusinessData-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/geographyBusinessData-v1/xsd" schemaLocation="passenger_geographyBusinessData-v1.xsd"/>
  <!--previous value passenger_commonsBusinessData-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/commonsBusinessData-v1/xsd" schemaLocation="passenger_commonsBusinessData-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CountryRequestElement" type="tns:CountryRequest"/>
  <xsd:element name="CityRequestElement" type="tns:CityRequest"/>
  <xsd:element name="CityResponseElement" type="tns:CityResponse"/>
  <xsd:element name="CountryResponseElement" type="tns:CountryResponse"/>
  <xsd:element name="StationCityNamesRequestElement" type="tns:StationCityNamesRequest"/>
  <xsd:element name="StationCityNamesResponseElement" type="tns:StationCityNamesResponse"/>
  <xsd:element name="StationCityNamesOutputElement" type="tns:StationCityNamesOutput"/>
  <xsd:element name="StationRequestElement" type="tns:StationRequest"/>
  <xsd:element name="StationResponseElement" type="tns:StationResponse"/>
  <xsd:element name="StateProvinceRequestElement" type="tns:StateProvinceRequest"/>
  <xsd:element name="StateProvinceResponseElement" type="tns:StateProvinceResponse"/>
  <xsd:element name="Period2DatesRequestElement" type="tns:Period2DatesRequest"/>
  <xsd:element name="DatesOutputElement" type="tns:DatesOutput"/>
  <xsd:element name="Period2DatesResponseElement" type="tns:Period2DatesResponse"/>
  <xsd:element name="TimeConverterRequestElement" type="tns:TimeConverterRequest"/>
  <xsd:element name="TimeConverterPointElement" type="tns:TimeConverterPoint"/>
  <xsd:element name="TimeConverterResponseElement" type="tns:TimeConverterResponse"/>
  <xsd:element name="TimeConverterOutputElement" type="tns:TimeConverterOutput"/>
  <xsd:element name="GeographicInfoRequestElement" type="tns:GeographicInfoRequest"/>
  <xsd:element name="GeographicInfoResponseElement" type="tns:GeographicInfoResponse"/>
  <xsd:element name="TerminalRequestElement" type="tns:TerminalRequest"/>
  <xsd:element name="TerminalResponseElement" type="tns:TerminalResponse"/>
  <xsd:element name="GreatCircleDistanceRequestElement" type="tns:GreatCircleDistanceRequest"/>
  <xsd:element name="GreatCircleDistanceResponseElement" type="tns:GreatCircleDistanceResponse"/>
  <xsd:element name="FlightDurationAtNightRequestElement" type="tns:FlightDurationAtNightRequest"/>
  <xsd:element name="FlightDurationAtNightResponseElement" type="tns:FlightDurationAtNightResponse"/>
  <xsd:element name="CityCountryInfoResponseElement" type="tns:CityCountryInfoResponse"/>
  <xsd:element name="CityCountryStationsInfoResponseElement" type="tns:CityCountryStationsInfoResponse"/>
  <xsd:element name="GeographicPointElement" type="tns:GeographicPoint"/>
  <xsd:element name="CityCountryInfoRequestElement" type="tns:CityCountryInfoRequest"/>
  <xsd:element name="CityCountryStationsInfoRequestElement" type="tns:CityCountryStationsInfoRequest"/>
  <xsd:element name="StationCityNamesInputElement" type="tns:StationCityNamesInput"/>
  <xsd:element name="CityDetailedRequestElement" type="tns:CityDetailedRequest"/>
  <xsd:element name="CityDetailedResponseElement" type="tns:CityDetailedResponse"/>
  <xsd:element name="BirdWSTimeConverterBusinessFaultElement" type="tns:BirdWSTimeConverterBusinessFault"/>
  <xsd:element name="BirdWSStationCityNamesBusinessFaultElement" type="tns:BirdWSStationCityNamesBusinessFault"/>
  <xsd:element name="BirdWSGeographicInfosBusinessFaultElement" type="tns:BirdWSGeographicInfosBusinessFault"/>
  <xsd:element name="BirdWSGreatCircleDistanceBusinessFaultElement" type="tns:BirdWSGreatCircleDistanceBusinessFault"/>
  <xsd:element name="BirdWSCityBusinessFaultElement" type="tns:BirdWSCityBusinessFault"/>
  <xsd:element name="BirdWSCityDetailedBusinessFaultElement" type="tns:BirdWSCityDetailedBusinessFault"/>
  <xsd:element name="BirdWSCountryBusinessFaultElement" type="tns:BirdWSCountryBusinessFault"/>
  <xsd:element name="BirdWSFlightDurationAtNightBusinessFaultElement" type="tns:BirdWSFlightDurationAtNightBusinessFault"/>
  <xsd:element name="BirdWSPeriod2DatesBusinessFaultElement" type="tns:BirdWSPeriod2DatesBusinessFault"/>
  <xsd:element name="BirdWSStateProvinceBusinessFaultElement" type="tns:BirdWSStateProvinceBusinessFault"/>
  <xsd:element name="BirdWSStationBusinessFaultElement" type="tns:BirdWSStationBusinessFault"/>
  <xsd:element name="BirdWSTerminalBusinessFaultElement" type="tns:BirdWSTerminalBusinessFault"/>

  <!-- types declarations -->
  <xsd:complexType name="CountryRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="countryCriteria" type="xsd1:CountryCriteriaWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CityRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="cityCriteria" type="xsd1:CityCriteriaWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CityResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCities" type="xsd1:CityWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CountryResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCountries" type="xsd1:CountryWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StationCityNamesRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="criteria" type="tns:StationCityNamesInput"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StationCityNamesResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="response" type="tns:StationCityNamesOutput"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StationCityNamesOutput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="stationName" type="xsd2:CDT_Name"/>
      <xsd:element minOccurs="0" name="cityName" type="xsd2:CDT_Name"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StationRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="stationCriteria" type="xsd1:StationCriteriaWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StationResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundStations" type="xsd1:StationWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StateProvinceRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="stateProvinceCriteria" type="xsd1:StateProvinceCriteriaWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StateProvinceResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundStatesProvinces" type="xsd1:StateProvinceWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Period2DatesRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="frequency" type="xsd1:DT_Frequency"/>
      <xsd:element minOccurs="0" name="workingDays" type="xsd1:DT_WorkingDays"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatesOutput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="day" type="xsd1:DT_WorkingDay"/>
      <xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Period2DatesResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="output" type="tns:DatesOutput"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeConverterRequest">
    <xsd:sequence>
      <xsd:element name="typeConv" type="xsd1:DT_TimeConversionType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="points" type="tns:TimeConverterPoint"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeConverterPoint">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="xsd1:DT_TimeConversionPointCode"/>
      <xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="hour" type="xsd2:CDT_Time"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeConverterResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="results" type="tns:TimeConverterOutput"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeConverterOutput">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="code" type="xsd1:DT_TimeConversionPointCode"/>
      <xsd:element name="date" type="xsd:dateTime"/>
      <xsd:element name="hour" type="xsd2:CDT_Time"/>
      <xsd:element name="jetLag" type="xsd1:DT_TimeZoneVariation"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicInfoRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="iataCode" type="xsd1:DT_IATAStationCode"/>
      <xsd:element minOccurs="0" name="icaoCode" type="xsd1:DT_ICAOStationCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicInfoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="currentTimeVariation" type="xsd1:DT_TimeZoneVariation"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundStations" type="xsd1:StationWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCities" type="xsd1:CityWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCountries" type="xsd1:CountryWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundIATAAreas" type="xsd1:IATAAreaWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundTimeZoneExceptions" type="xsd1:TimeZoneExceptionWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundStateProvinces" type="xsd1:StateProvinceWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundTimeZones" type="xsd1:TimeZoneWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundAFAreas" type="xsd1:AFAreaWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TerminalRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="terminalCriteria" type="xsd1:TerminalCriteriaWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TerminalResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundTerminals" type="xsd1:TerminalWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GreatCircleDistanceRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="departurePoint" type="tns:GeographicPoint"/>
      <xsd:element minOccurs="0" name="arrivalPoint" type="tns:GeographicPoint"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GreatCircleDistanceResponse">
    <xsd:sequence>
      <xsd:element name="distanceKM" type="xsd:int"/>
      <xsd:element name="distanceSM" type="xsd:int"/>
      <xsd:element name="distanceNM" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FlightDurationAtNightRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="departureTime" type="xsd2:CDT_Time"/>
      <xsd:element minOccurs="0" name="arrivalTime" type="xsd2:CDT_Time"/>
      <xsd:element minOccurs="0" name="departure_point" type="tns:GeographicPoint"/>
      <xsd:element minOccurs="0" name="arrivalpoint" type="tns:GeographicPoint"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FlightDurationAtNightResponse">
    <xsd:sequence>
      <xsd:element name="flightDurationAtNight" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CityCountryInfoResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCities" type="xsd1:CityWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCountries" type="xsd1:CountryWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CityCountryStationsInfoResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundStations" type="xsd1:StationWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCities" type="xsd1:CityWSDTO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCountries" type="xsd1:CountryWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicPoint">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="xsd1:DT_TimeConversionPointCode"/>
      <xsd:element minOccurs="0" name="type" type="xsd:string"/>
      <xsd:element minOccurs="0" name="latitude" type="xsd1:CDT_latitude"/>
      <xsd:element minOccurs="0" name="longitude" type="xsd1:CDT_longitude"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CityCountryInfoRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="iataCode" type="xsd1:DT_IATAStationCode"/>
      <xsd:element minOccurs="0" name="icaoCode" type="xsd1:DT_ICAOStationCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CityCountryStationsInfoRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="iataCode" type="xsd1:DT_IATAStationCode"/>
      <xsd:element minOccurs="0" name="icaoCode" type="xsd1:DT_ICAOStationCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StationCityNamesInput">
    <xsd:sequence>
      <xsd:element name="iataStationCode" type="xsd1:DT_IATAStationCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CityDetailedRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dateCriteria" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="cityCriteria" type="xsd1:CityDetailedCriteriaWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CityDetailedResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="foundCities" type="xsd1:CityDetailedWSDTO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSTimeConverterBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSTimeConverter"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSStationCityNamesBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSStationCityNames"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSGeographicInfosBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSGeographicInfos"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSGreatCircleDistanceBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSGreatCircleDistance"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSCityBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSCity"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSCityDetailedBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSCityDetailed"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSCountryBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSCountry"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSFlightDurationAtNightBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSFlightDurationAtNight"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSPeriod2DatesBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSPeriod2Dates"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSStateProvinceBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSStateProvince"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSStationBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSStation"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BirdWSTerminalBusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BirdWSTerminal"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BirdWSCity">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="051"/>
      <xsd:enumeration value="110"/>
      <xsd:enumeration value="111"/>
      <xsd:enumeration value="112"/>
      <xsd:enumeration value="113"/>
      <xsd:enumeration value="114"/>
      <xsd:enumeration value="115"/>
      <xsd:enumeration value="116"/>
      <xsd:enumeration value="117"/>
      <xsd:enumeration value="118"/>
      <xsd:enumeration value="119"/>
      <xsd:enumeration value="120"/>
      <xsd:enumeration value="122"/>
      <xsd:enumeration value="186"/>
      <xsd:enumeration value="189"/>
      <xsd:enumeration value="194"/>
      <xsd:enumeration value="506"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSCountry">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="052"/>
      <xsd:enumeration value="118"/>
      <xsd:enumeration value="119"/>
      <xsd:enumeration value="120"/>
      <xsd:enumeration value="122"/>
      <xsd:enumeration value="123"/>
      <xsd:enumeration value="124"/>
      <xsd:enumeration value="125"/>
      <xsd:enumeration value="126"/>
      <xsd:enumeration value="128"/>
      <xsd:enumeration value="130"/>
      <xsd:enumeration value="190"/>
      <xsd:enumeration value="191"/>
      <xsd:enumeration value="192"/>
      <xsd:enumeration value="193"/>
      <xsd:enumeration value="194"/>
      <xsd:enumeration value="510"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSStationCityNames">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="055"/>
      <xsd:enumeration value="501"/>
      <xsd:enumeration value="505"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSStation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="050"/>
      <xsd:enumeration value="118"/>
      <xsd:enumeration value="119"/>
      <xsd:enumeration value="120"/>
      <xsd:enumeration value="142"/>
      <xsd:enumeration value="143"/>
      <xsd:enumeration value="144"/>
      <xsd:enumeration value="145"/>
      <xsd:enumeration value="146"/>
      <xsd:enumeration value="501"/>
      <xsd:enumeration value="110"/>
      <xsd:enumeration value="195"/>
      <xsd:enumeration value="196"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSStateProvince">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="072"/>
      <xsd:enumeration value="118"/>
      <xsd:enumeration value="119"/>
      <xsd:enumeration value="120"/>
      <xsd:enumeration value="510"/>
      <xsd:enumeration value="562"/>
      <xsd:enumeration value="122"/>
      <xsd:enumeration value="124"/>
      <xsd:enumeration value="186"/>
      <xsd:enumeration value="195"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSPeriod2Dates">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="003"/>
      <xsd:enumeration value="004"/>
      <xsd:enumeration value="005"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSTimeConverter">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="001"/>
      <xsd:enumeration value="501"/>
      <xsd:enumeration value="506"/>
      <xsd:enumeration value="514"/>
      <xsd:enumeration value="516"/>
      <xsd:enumeration value="002"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSGeographicInfos">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="050"/>
      <xsd:enumeration value="052"/>
      <xsd:enumeration value="054"/>
      <xsd:enumeration value="105"/>
      <xsd:enumeration value="106"/>
      <xsd:enumeration value="500"/>
      <xsd:enumeration value="506"/>
      <xsd:enumeration value="510"/>
      <xsd:enumeration value="514"/>
      <xsd:enumeration value="516"/>
      <xsd:enumeration value="566"/>
      <xsd:enumeration value="568"/>
      <xsd:enumeration value="562"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSTerminal">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="057"/>
      <xsd:enumeration value="535"/>
      <xsd:enumeration value="118"/>
      <xsd:enumeration value="119"/>
      <xsd:enumeration value="120"/>
      <xsd:enumeration value="142"/>
      <xsd:enumeration value="195"/>
      <xsd:enumeration value="196"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSFlightDurationAtNight">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="001"/>
      <xsd:enumeration value="002"/>
      <xsd:enumeration value="003"/>
      <xsd:enumeration value="004"/>
      <xsd:enumeration value="005"/>
      <xsd:enumeration value="006"/>
      <xsd:enumeration value="007"/>
      <xsd:enumeration value="008"/>
      <xsd:enumeration value="009"/>
      <xsd:enumeration value="010"/>
      <xsd:enumeration value="011"/>
      <xsd:enumeration value="012"/>
      <xsd:enumeration value="013"/>
      <xsd:enumeration value="014"/>
      <xsd:enumeration value="015"/>
      <xsd:enumeration value="501"/>
      <xsd:enumeration value="505"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSGreatCircleDistance">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="001"/>
      <xsd:enumeration value="002"/>
      <xsd:enumeration value="003"/>
      <xsd:enumeration value="004"/>
      <xsd:enumeration value="005"/>
      <xsd:enumeration value="006"/>
      <xsd:enumeration value="007"/>
      <xsd:enumeration value="008"/>
      <xsd:enumeration value="009"/>
      <xsd:enumeration value="010"/>
      <xsd:enumeration value="011"/>
      <xsd:enumeration value="501"/>
      <xsd:enumeration value="505"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BirdWSCityDetailed">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="051"/>
      <xsd:enumeration value="110"/>
      <xsd:enumeration value="111"/>
      <xsd:enumeration value="112"/>
      <xsd:enumeration value="113"/>
      <xsd:enumeration value="114"/>
      <xsd:enumeration value="115"/>
      <xsd:enumeration value="116"/>
      <xsd:enumeration value="117"/>
      <xsd:enumeration value="118"/>
      <xsd:enumeration value="119"/>
      <xsd:enumeration value="120"/>
      <xsd:enumeration value="122"/>
      <xsd:enumeration value="124"/>
      <xsd:enumeration value="186"/>
      <xsd:enumeration value="189"/>
      <xsd:enumeration value="194"/>
      <xsd:enumeration value="195"/>
      <xsd:enumeration value="506"/>
      <xsd:enumeration value="510"/>
      <xsd:enumeration value="562"/>
      <xsd:enumeration value="052"/>
      <xsd:enumeration value="072"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(geography.geographyOperationDataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>