repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/provideCityInformation/passenger_commonsBusinessData-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2010-11-16 13:56:22.152--><!--SOA repository reference: W000309-v1.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.5.0, Build 201001071402 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/passenger/commonsBusinessData-v1/xsd" targetNamespace="http://www.af-klm.com/services/passenger/commonsBusinessData-v1/xsd" version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->
  <xsd:element name="CommonsBIRDEntityWSDTOElement" type="tns:CommonsBIRDEntityWSDTO"/>
  <xsd:element name="CommonsBIRDEntityCriteriaWSDTOElement" type="tns:CommonsBIRDEntityCriteriaWSDTO"/>

  <!-- types declarations -->
  <xsd:complexType name="CommonsBIRDEntityWSDTO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="modificationDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommonsBIRDEntityCriteriaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="tns:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="startDateOperator" type="tns:CDT_BasicOperator"/>
      <xsd:element minOccurs="0" name="endDateOperator" type="tns:CDT_BasicOperator"/>
      <xsd:element minOccurs="0" name="modificationDateOperator" type="tns:CDT_BasicOperator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="CDT_HaulIndicator">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[LM]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CDT_Indicator">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[NY]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CDT_Name">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CDT_Time">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CDT_StringOperator">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CDT_WordingOperator">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CDT_BasicOperator">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(services.commonsBusinessDataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>