repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/provideCityInformation/passenger_geographyBusinessData-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2010-11-16 14:05:43.603--><!--SOA repository reference: W000309-v1.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.5.0, Build 201001071402 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/passenger/geographyBusinessData-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/commonsBusinessData-v1/xsd" targetNamespace="http://www.af-klm.com/services/passenger/geographyBusinessData-v1/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value passenger_commonsBusinessData-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/commonsBusinessData-v1/xsd" schemaLocation="passenger_commonsBusinessData-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="TimeZoneExceptionWSDTOElement" type="tns:TimeZoneExceptionWSDTO"/>
  <xsd:element name="TimeZoneWSDTOElement" type="tns:TimeZoneWSDTO"/>
  <xsd:element name="StateProvinceWSDTOElement" type="tns:StateProvinceWSDTO"/>
  <xsd:element name="IATAAreaWSDTOElement" type="tns:IATAAreaWSDTO"/>
  <xsd:element name="CountryWSDTOElement" type="tns:CountryWSDTO"/>
  <xsd:element name="CityWSDTOElement" type="tns:CityWSDTO"/>
  <xsd:element name="AFAreaWSDTOElement" type="tns:AFAreaWSDTO"/>
  <xsd:element name="StationWSDTOElement" type="tns:StationWSDTO"/>
  <xsd:element name="FictitiousGeographyWSDTOElement" type="tns:FictitiousGeographyWSDTO"/>
  <xsd:element name="TerminalWSDTOElement" type="tns:TerminalWSDTO"/>
  <xsd:element name="CityCriteriaWSDTOElement" type="tns:CityCriteriaWSDTO"/>
  <xsd:element name="CountryCriteriaWSDTOElement" type="tns:CountryCriteriaWSDTO"/>
  <xsd:element name="StationCriteriaWSDTOElement" type="tns:StationCriteriaWSDTO"/>
  <xsd:element name="StateProvinceCriteriaWSDTOElement" type="tns:StateProvinceCriteriaWSDTO"/>
  <xsd:element name="TerminalCriteriaWSDTOElement" type="tns:TerminalCriteriaWSDTO"/>
  <xsd:element name="CityDetailedCriteriaWSDTOElement" type="tns:CityDetailedCriteriaWSDTO"/>
  <xsd:element name="CityDetailedWSDTOElement" type="tns:CityDetailedWSDTO"/>

  <!-- types declarations -->
  <xsd:complexType name="TimeZoneExceptionWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="startTime" type="xsd1:CDT_Time"/>
      <xsd:element minOccurs="0" name="timeZoneCode" type="tns:DT_TimeZoneCode"/>
      <xsd:element minOccurs="0" name="endTime" type="xsd1:CDT_Time"/>
      <xsd:element minOccurs="0" name="dstAdjust" type="tns:DT_TimeZoneVariation"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeZoneWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="tns:DT_TimeZoneCode"/>
      <xsd:element minOccurs="0" name="name" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="standardVariation" type="tns:DT_TimeZoneVariation"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StateProvinceWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="isoCountryCode" type="tns:DT_ISOCountryCode"/>
      <xsd:element minOccurs="0" name="iataStateProvinceCode" type="tns:DT_StateProvinceCode"/>
      <xsd:element minOccurs="0" name="stateProvinceName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="countryName" type="xsd1:CDT_Name"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IATAAreaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="tns:DT_IATAAreaCode"/>
      <xsd:element minOccurs="0" name="name" type="xsd1:CDT_Name"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CountryWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="isoCountryCode" type="tns:DT_ISOCountryCode"/>
      <xsd:element minOccurs="0" name="countryName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="iataCountryNumber" type="tns:DT_IATACountryNumber"/>
      <xsd:element minOccurs="0" name="iataIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="iataCountryNumberIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="overflightRequestIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="ueIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="schengenIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="euroIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="currency" type="tns:DT_Currency"/>
      <xsd:element minOccurs="0" name="nationality" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="iataArea" type="tns:DT_IATAAreaCode"/>
      <xsd:element minOccurs="0" name="afArea" type="tns:DT_AFArea"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CityWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="iataCityCode" type="tns:DT_IATACityCode"/>
      <xsd:element minOccurs="0" name="iataCityCodeIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="cityName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="stateProvinceCode" type="tns:DT_StateProvinceCode"/>
      <xsd:element minOccurs="0" name="isoCountryCode" type="tns:DT_ISOCountryCode"/>
      <xsd:element minOccurs="0" name="iataCityNumber" type="tns:DT_IATACityNumber"/>
      <xsd:element minOccurs="0" name="iataCityNumberIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="icaoCityCode" type="tns:DT_ICAOCityCode"/>
      <xsd:element minOccurs="0" name="icaoCityCodeIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="timeZoneCode" type="tns:DT_TimeZoneCode"/>
      <xsd:element minOccurs="0" name="latitude" type="tns:CDT_latitude"/>
      <xsd:element minOccurs="0" name="longitude" type="tns:CDT_longitude"/>
      <xsd:element minOccurs="0" name="euIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="cityCategory" type="tns:DT_CityCategory"/>
      <xsd:element minOccurs="0" name="crewAreaTravelCode" type="tns:DT_CrewAreaTravelCode"/>
      <xsd:element minOccurs="0" name="dgpgCode" type="tns:DT_DGPGCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AFAreaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="tns:DT_AFArea"/>
      <xsd:element minOccurs="0" name="name" type="xsd1:CDT_Name"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StationWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="iataStationCode" type="tns:DT_IATAStationCode"/>
      <xsd:element minOccurs="0" name="iataStationCodeIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="stationName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="icaoStationCode" type="tns:DT_ICAOStationCode"/>
      <xsd:element minOccurs="0" name="icaoStationCodeIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="iataCityCode" type="tns:DT_IATACityCode"/>
      <xsd:element minOccurs="0" name="locationType" type="tns:DT_LocationType"/>
      <xsd:element minOccurs="0" name="latitude" type="tns:CDT_latitude"/>
      <xsd:element minOccurs="0" name="longitude" type="tns:CDT_longitude"/>
      <xsd:element minOccurs="0" name="crewAreaTravelCode" type="tns:DT_CrewAreaTravelCode"/>
      <xsd:element minOccurs="0" name="airportArea" type="tns:DT_AirportArea"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FictitiousGeographyWSDTO">
    <xsd:annotation>
      <xsd:documentation>cf. http://wiki-soa.airfrance.fr/xwiki/bin/view/SOADesign/UML2XML_Plugin : bug 39 -UML inheritance from other UML package does not generate the xsd:import corresponding. Create a Dummy class that references the inherited clas through an association</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TerminalWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="tns:DT_TimeZoneCode"/>
      <xsd:element minOccurs="0" name="name" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="iataStationCode" type="tns:DT_IATAStationCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CityCriteriaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityCriteriaWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="iataCityCode" type="tns:DT_IATACityCode"/>
      <xsd:element minOccurs="0" name="iataCityCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="iataCityCodeIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="icaoCityCode" type="tns:DT_ICAOCityCode"/>
      <xsd:element minOccurs="0" name="icaoCityCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="icaoCityCodeIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="cityName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="cityNameOperator" type="xsd1:CDT_WordingOperator"/>
      <xsd:element minOccurs="0" name="iataCityNumber" type="tns:DT_IATACityNumber"/>
      <xsd:element minOccurs="0" name="iataCityNumberOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="iataCityNumberIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="euIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="cityCategory" type="tns:DT_CityCategory"/>
      <xsd:element minOccurs="0" name="cityCategoryOperator" type="xsd1:CDT_BasicOperator"/>
      <xsd:element minOccurs="0" name="stateProvinceCode" type="tns:DT_StateProvinceCode"/>
      <xsd:element minOccurs="0" name="stateProvinceCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="isoCountryCode" type="tns:DT_ISOCountryCode"/>
      <xsd:element minOccurs="0" name="isoCountryCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="timeZoneCode" type="tns:DT_TimeZoneCode"/>
      <xsd:element minOccurs="0" name="timeZoneCodeOperator" type="xsd1:CDT_StringOperator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CountryCriteriaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityCriteriaWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="isoCountryCode" type="tns:DT_ISOCountryCode"/>
      <xsd:element minOccurs="0" name="isoCountryCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="iataIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="countryName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="countryNameOperator" type="xsd1:CDT_WordingOperator"/>
      <xsd:element minOccurs="0" name="iataCountryNumber" type="tns:DT_IATACountryNumber"/>
      <xsd:element minOccurs="0" name="iataCountryNumberOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="iataCountryNumberIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="nationality" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="nationalityOperator" type="xsd1:CDT_WordingOperator"/>
      <xsd:element minOccurs="0" name="currency" type="tns:DT_Currency"/>
      <xsd:element minOccurs="0" name="currencyOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="iataArea" type="tns:DT_IATAAreaCode"/>
      <xsd:element minOccurs="0" name="iataAreaOperator" type="xsd1:CDT_BasicOperator"/>
      <xsd:element minOccurs="0" name="afArea" type="tns:DT_AFArea"/>
      <xsd:element minOccurs="0" name="afAreaOperator" type="xsd1:CDT_BasicOperator"/>
      <xsd:element minOccurs="0" name="ueIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="schengenIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="euroIndicator" type="xsd1:CDT_Indicator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StationCriteriaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityCriteriaWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="iataStationCode" type="tns:DT_IATAStationCode"/>
      <xsd:element minOccurs="0" name="iataStationCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="iataStationCodeIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="icaoStationCode" type="tns:DT_ICAOStationCode"/>
      <xsd:element minOccurs="0" name="icaoCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="icaoStationCodeIndicator" type="xsd1:CDT_Indicator"/>
      <xsd:element minOccurs="0" name="stationName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="stationNameOperator" type="xsd1:CDT_WordingOperator"/>
      <xsd:element minOccurs="0" name="iataCityCode" type="tns:DT_IATACityCode"/>
      <xsd:element minOccurs="0" name="iataCityCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="locationType" type="tns:DT_LocationType"/>
      <xsd:element minOccurs="0" name="locationTypeOperator" type="xsd1:CDT_BasicOperator"/>
      <xsd:element minOccurs="0" name="airportArea" type="tns:DT_AirportArea"/>
      <xsd:element minOccurs="0" name="airportAreaOperator" type="xsd1:CDT_BasicOperator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StateProvinceCriteriaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityCriteriaWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="isoCountryCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="iataStateProvinceCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="stateProvinceNameOperator" type="xsd1:CDT_WordingOperator"/>
      <xsd:element minOccurs="0" name="isoCountryCode" type="tns:DT_ISOCountryCode"/>
      <xsd:element minOccurs="0" name="iataStateProvinceCode" type="tns:DT_StateProvinceCode"/>
      <xsd:element minOccurs="0" name="stateProvinceName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="countryName" type="xsd1:CDT_Name"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TerminalCriteriaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="xsd1:CommonsBIRDEntityCriteriaWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="codeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="nameOperator" type="xsd1:CDT_WordingOperator"/>
      <xsd:element minOccurs="0" name="iataStationCodeOperator" type="xsd1:CDT_StringOperator"/>
      <xsd:element minOccurs="0" name="code" type="tns:DT_TimeZoneCode"/>
      <xsd:element minOccurs="0" name="name" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="iataStationCode" type="tns:DT_IATAStationCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CityDetailedCriteriaWSDTO">
    <xsd:complexContent>
      <xsd:extension base="tns:CityCriteriaWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="countryName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="stateProvinceName" type="xsd1:CDT_Name"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CityDetailedWSDTO">
    <xsd:complexContent>
      <xsd:extension base="tns:CityWSDTO">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="stateProvinceName" type="xsd1:CDT_Name"/>
      <xsd:element minOccurs="0" name="countryName" type="xsd1:CDT_Name"/>
      <xsd:element name="iataCountryNumber" type="tns:DT_IATACountryNumber"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="CDT_latitude">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CDT_longitude">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_TimeZoneCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_TimeZoneVariation">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_StateProvinceCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_IATAAreaCode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_Currency">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_IATACountryNumber">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="99999"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_ISOCountryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_CityCategory">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[123]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_CrewAreaTravelCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_DGPGCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_IATACityCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_IATACityNumber">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="99999"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_ICAOCityCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_AFArea">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_IATAStationCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_ICAOStationCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_LocationType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A|B|C|F|H|L|M|O|P|R|S|V]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_AirportArea">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[E|I|N]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_TimeConversionType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="U|L"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_TimeConversionPointCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_Frequency">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-4]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_WorkingDay">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-7.\-]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DT_WorkingDays">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[.1\-][.2\-][.3\-][.4\-][.5\-][.6\-][.7\-]"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(geography.geographyBusinessDataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>