azure/repind-ri-ws/src/webservices/Individu/EnrollMyAccountCustomerWS/src/main/webapp/WEB-INF/wsdl/passenger_EnrollMyAccountCustomerType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/EnrollMyAccountCustomerType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/EnrollMyAccountCustomerType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd" schemaLocation="passenger_SicDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" schemaLocation="passenger_SicIndividuType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="EnrollMyAccountCustomerResponseElement" type="tns:EnrollMyAccountCustomerResponse"/>
  <xsd:element name="EnrollMyAccountCustomerRequestElement" type="tns:EnrollMyAccountCustomerRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="BusinessError">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="missingParameter" type="xsd:string" minOccurs="0"/>
      <xsd:element name="faultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnrollMyAccountCustomerResponse">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin">
        <xsd:annotation>
          <xsd:documentation>General Identification Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountID" type="xsd1:DTypeAccountID">
        <xsd:annotation>
          <xsd:documentation>Identification number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnrollMyAccountCustomerRequest">
    <xsd:sequence>
      <xsd:element name="civility" type="xsd1:CiviliteEnum"/>
      <xsd:element name="firstName" type="xsd1:DTypePrenom"/>
      <xsd:element name="lastName" type="xsd1:DTypeNom"/>
      <xsd:element name="emailIdentifier" type="xsd1:DTypeEmail"/>
      <xsd:element name="password" type="xsd1:DTypePassword"/>
      <xsd:element name="languageCode" type="xsd1:LanguageCodesEnum"/>
      <xsd:element name="website" type="tns:WebSiteEnum">
        <xsd:annotation>
          <xsd:documentation>Should be Air France or KLM</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pointOfSale" type="xsd1:DTypePointOfSell">
        <xsd:annotation>
          <xsd:documentation>Market from which the customer requested newsletter subscription for the first time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="optIn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Local Newsletter subscription authorization</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="directFBEnroll" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:SignatureLight"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERR_903"/>
      <xsd:enumeration value="ERR_932"/>
      <xsd:enumeration value="ERR_384"/>
      <xsd:enumeration value="ERR_134"/>
      <xsd:enumeration value="ERR_111"/>
      <xsd:enumeration value="ERR_133"/>
      <xsd:enumeration value="ERR_905"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="WebSiteEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="KL"/>
      <xsd:enumeration value="AF"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sicwsenrollmyaccountcustomeruml.EnrollMyAccountCustomerTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
