azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V6/passenger_data-v6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v6/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v6/xsd" 
	xmlns:xsd4="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd5="http://www.af-klm.com/services/passenger/response-v6/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd6="http://www.af-klm.com/services/passenger/request-v6/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="6.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v6/xsd" schemaLocation="passenger_response-v6.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/request-v6/xsd" schemaLocation="passenger_request-v6.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CreateUpdateIndividualResponseElement" type="tns:CreateUpdateIndividualResponse"/>
  <xsd:element name="CreateUpdateIndividualRequestElement" type="tns:CreateUpdateIndividualRequest"/>

  <!-- types declarations -->
  <xsd:complexType name="CreateUpdateIndividualResponse">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd4:DTypeCustomerNumber" minOccurs="0"/>
      <xsd:element name="success" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="postalAddressResponse" type="xsd5:PostalAddressResponse" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateUpdateIndividualRequest">
    <xsd:sequence>
      <xsd:element name="newsletterMediaSending" type="xsd4:DTypeNewsletterMediaSending" minOccurs="0"/>
      <xsd:element name="status" type="xsd4:DTypeStatus" minOccurs="0"/>
      <xsd:element name="updateCommunicationPrefMode" type="xsd4:DTypeUpdateMode" minOccurs="0"/>
      <xsd:element name="updatePrefilledNumbersMode" type="xsd4:DTypeUpdateMode" minOccurs="0"/>
      <xsd:element name="requestor" type="xsd2:Requestor"/>
      <xsd:element name="emailRequest" type="xsd6:EmailRequest" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecomRequest" type="xsd6:TelecomRequest" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="postalAddressRequest" type="xsd6:PostalAddressRequest" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="individualRequest" type="xsd6:IndividualRequest" minOccurs="0"/>
      <xsd:element name="externalIdentifierRequest" type="xsd6:ExternalIdentifierRequest" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="marketingDataRequest" type="xsd6:MarketingDataRequest" minOccurs="0"/>
      <xsd:element name="comunicationPreferencesRequest" type="xsd6:ComunicationPreferencesRequest" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="prefilledNumbersRequest" type="xsd6:PrefilledNumbersRequest" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="accountDelegationDataRequest" type="xsd6:AccountDelegationDataRequest" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v06.dataV6.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
