azure/repind-ri-ws/src/webservices/Individu/CreateOrUpdateIndividualWS/src/main/webapp/WEB-INF/wsdl/V6/passenger_SoftComputingType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SoftComputingType-v1/xsd" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->
  <xsd:element name="SoftComputingResponseElement" type="tns:SoftComputingResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="SoftComputingResponse">
    <xsd:sequence>
      <xsd:element name="errorNumber" type="tns:DTypeNumError" minOccurs="0"/>
      <xsd:element name="errorLabel" type="tns:DTypeLabelError" minOccurs="0"/>
      <xsd:element name="errorNumberNormail" type="tns:DTypeNErrNormail" minOccurs="0"/>
      <xsd:element name="adrMailingL1" type="tns:DTypeMailingAdress" minOccurs="0"/>
      <xsd:element name="adrMailingL2" type="tns:DTypeMailingAdress" minOccurs="0"/>
      <xsd:element name="adrMailingL3" type="tns:DTypeMailingAdress" minOccurs="0"/>
      <xsd:element name="adrMailingL4" type="tns:DTypeMailingAdress" minOccurs="0"/>
      <xsd:element name="adrMailingL5" type="tns:DTypeMailingAdress" minOccurs="0"/>
      <xsd:element name="adrMailingL6" type="tns:DTypeMailingAdress" minOccurs="0"/>
      <xsd:element name="adrMailingL7" type="tns:DTypeMailingAdress" minOccurs="0"/>
      <xsd:element name="adrMailingL8" type="tns:DTypeMailingAdress" minOccurs="0"/>
      <xsd:element name="adrMailingL9" type="tns:DTypeMailingAdress" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DTypeNumError">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNErrNormail">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWarning">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLabelError">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMailingAdress">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sicwscreateupdateindividualuml.SoftComputingTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
