azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/passenger_ProvideIndividualDataService-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.6.1, Build 201101210958 -->
<wsdl:definitions name="ProvideIndividualDataService-v1"

targetNamespace="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/wsdl"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/ProvideIndividualDataType-v1/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/ProvideIndividualDataType-v1/xsd" schemaLocation="passenger_ProvideIndividualDataType-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgProvideIndividualTelecomDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualTelecomDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualTelecomDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualTelecomDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualLightDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualLightDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualLightDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualLightDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualFBDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualFBDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualFBDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualFBDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualEmailDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualEmailDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualEmailDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualEmailDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualContractDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualContractDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualContractDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualContractDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualContactDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualContactDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualContactDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualContactDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualAdhDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualAdhDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualAdhDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualAdhDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualAddressDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualAddressDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualAddressDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualAddressDataByIdentifierResponseElement"/>
  </wsdl:message>

  <wsdl:message name="msgProvideIndividualPartnerDataByIdentifierRequest">
    <wsdl:part name="IndividualInformationRequest" element="xsd1:IndividualPartnerDataByIdentifierRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgProvideIndividualPartnerDataByIdentifierResponse">
    <wsdl:part name="IndividualInformationResponse" element="xsd1:IndividualPartnerDataByIdentifierResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd1:BusinessFaultElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="ProvideIndividualDataService-v1">
    <wsdl:operation name="provideIndividualTelecomDataByIdentifier">
      <wsdl:documentation>Get all individual and telecom datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualTelecomDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualTelecomDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualLightDataByIdentifier">
      <wsdl:documentation>Get only some individual datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualLightDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualLightDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualFBDataByIdentifier">
      <wsdl:documentation>Get all individual and Flying Blue datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualFBDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualFBDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualEmailDataByIdentifier">
      <wsdl:documentation>Get all individual and email datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualEmailDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualEmailDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualDataByIdentifier">
      <wsdl:documentation>Get all datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualContractDataByIdentifier">
      <wsdl:documentation>Get all individual and contract datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualContractDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualContractDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualContactDataByIdentifier">
      <wsdl:documentation>Get all individual and contact datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualContactDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualContactDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualAdhDataByIdentifier">
      <wsdl:documentation>Get all datas from adhesion.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualAdhDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualAdhDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualAddressDataByIdentifier">
      <wsdl:documentation>Get all individual and address datas.</wsdl:documentation>
      <wsdl:input message="tns:msgProvideIndividualAddressDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualAddressDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualPartnerDataByIdentifier">
      <wsdl:input message="tns:msgProvideIndividualPartnerDataByIdentifierRequest"/>
      <wsdl:output message="tns:msgProvideIndividualPartnerDataByIdentifierResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ProvideIndividualDataService-v1-soap11http" type="tns:ProvideIndividualDataService-v1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="provideIndividualTelecomDataByIdentifier">
      <wsdl:documentation>Get all individual and telecom datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualTelecomDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualLightDataByIdentifier">
      <wsdl:documentation>Get only some individual datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualLightDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualFBDataByIdentifier">
      <wsdl:documentation>Get all individual and Flying Blue datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualFBDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualEmailDataByIdentifier">
      <wsdl:documentation>Get all individual and email datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualEmailDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualDataByIdentifier">
      <wsdl:documentation>Get all datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualContractDataByIdentifier">
      <wsdl:documentation>Get all individual and contract datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualContractDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualContactDataByIdentifier">
      <wsdl:documentation>Get all individual and contact datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualContactDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualAdhDataByIdentifier">
      <wsdl:documentation>Get all datas from adhesion.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualAdhDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualAddressDataByIdentifier">
      <wsdl:documentation>Get all individual and address datas.</wsdl:documentation>
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualAddressDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="provideIndividualPartnerDataByIdentifier">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideIndividualDataService-v1/provideIndividualPartnerDataByIdentifier" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ProvideIndividualDataServiceService-v1">
    <wsdl:port name="ProvideIndividualDataService-v1-soap11http" binding="tns:ProvideIndividualDataService-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <soap:address location="ToBeSpecified"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(ProvideIndividualDataServiceV1.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
