azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/passenger_ProvideIndividualDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.6.1, Build 201101210958 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/ProvideIndividualDataType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/ProvideIndividualDataType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd" schemaLocation="passenger_SicDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" schemaLocation="passenger_SicIndividuType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="IndividualInformationRequestElement" type="tns:IndividualInformationRequest"/>
  <xsd:element name="IndividualInformationResponseElement" type="tns:IndividualInformationResponse"/>
  <xsd:element name="PostalAddressBlocElement" type="tns:PostalAddressBloc"/>
  <xsd:element name="TelecomBlocElement" type="tns:TelecomBloc"/>
  <xsd:element name="EmailBlocElement" type="tns:EmailBloc"/>
  <xsd:element name="ContractBlocElement" type="tns:ContractBloc"/>
  <xsd:element name="IndividualAddressDataByIdentifierRequestElement" type="tns:IndividualAddressDataByIdentifierRequest"/>
  <xsd:element name="IndividualAddressDataByIdentifierResponseElement" type="tns:IndividualAddressDataByIdentifierResponse"/>
  <xsd:element name="IndividualAdhDataByIdentifierRequestElement" type="tns:IndividualAdhDataByIdentifierRequest"/>
  <xsd:element name="IndividualAdhDataByIdentifierResponseElement" type="tns:IndividualAdhDataByIdentifierResponse"/>
  <xsd:element name="IndividualContactDataByIdentifierRequestElement" type="tns:IndividualContactDataByIdentifierRequest"/>
  <xsd:element name="IndividualContactDataByIdentifierResponseElement" type="tns:IndividualContactDataByIdentifierResponse"/>
  <xsd:element name="IndividualContractDataByIdentifierRequestElement" type="tns:IndividualContractDataByIdentifierRequest"/>
  <xsd:element name="IndividualContractDataByIdentifierResponseElement" type="tns:IndividualContractDataByIdentifierResponse"/>
  <xsd:element name="IndividualDataByIdentifierRequestElement" type="tns:IndividualDataByIdentifierRequest"/>
  <xsd:element name="IndividualDataByIdentifierResponseElement" type="tns:IndividualDataByIdentifierResponse"/>
  <xsd:element name="IndividualEmailDataByIdentifierRequestElement" type="tns:IndividualEmailDataByIdentifierRequest"/>
  <xsd:element name="IndividualEmailDataByIdentifierResponseElement" type="tns:IndividualEmailDataByIdentifierResponse"/>
  <xsd:element name="IndividualFBDataByIdentifierRequestElement" type="tns:IndividualFBDataByIdentifierRequest"/>
  <xsd:element name="IndividualFBDataByIdentifierResponseElement" type="tns:IndividualFBDataByIdentifierResponse"/>
  <xsd:element name="IndividualLightDataByIdentifierRequestElement" type="tns:IndividualLightDataByIdentifierRequest"/>
  <xsd:element name="IndividualLightDataByIdentifierResponseElement" type="tns:IndividualLightDataByIdentifierResponse"/>
  <xsd:element name="IndividualPartnerDataByIdentifierRequestElement" type="tns:IndividualPartnerDataByIdentifierRequest"/>
  <xsd:element name="IndividualPartnerDataByIdentifierResponseElement" type="tns:IndividualPartnerDataByIdentifierResponse"/>
  <xsd:element name="IndividualTelecomDataByIdentifierRequestElement" type="tns:IndividualTelecomDataByIdentifierRequest"/>
  <xsd:element name="IndividualTelecomDataByIdentifierResponseElement" type="tns:IndividualTelecomDataByIdentifierResponse"/>
  <xsd:element name="BusinessFaultElement" type="tns:BusinessFault"/>

  <!-- types declarations -->
  <xsd:complexType name="IndividualInformationRequest">
    <xsd:sequence>
      <xsd:element name="identificationNumber" type="xsd1:DTypeIdentificationNumber"/>
      <xsd:element name="option" type="xsd1:IdOptionTypeEnum"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformationResponse">
    <xsd:sequence>
      <xsd:element name="postalAddressBloc" type="tns:PostalAddressBloc" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="telecomBloc" type="tns:TelecomBloc" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="contractBloc" type="tns:ContractBloc" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="bollRoleGP" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="boolFirme" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="boolAgence" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="bool4" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="bool5" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="bool6" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="bool7" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="bool8" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="bool9" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="bool10" type="xsd1:DTypeBool" minOccurs="0"/>
      <xsd:element name="emailBloc" type="tns:EmailBloc" minOccurs="0" maxOccurs="4"/>
      <xsd:element name="airFranceProfil" type="xsd2:AirFranceProfil" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="individualProfil" type="xsd2:IndividualProfil" minOccurs="0"/>
      <xsd:element name="individual" type="xsd2:Individual" minOccurs="0"/>
      <xsd:element name="exception" type="xsd2:IndividualInformationException" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressBloc">
    <xsd:sequence>
      <xsd:element name="mainPostalAddress" type="xsd1:DTypeAdressePrincipale" minOccurs="0"/>
      <xsd:element name="postalAddressType" type="xsd2:PostalAddressType" minOccurs="0"/>
      <xsd:element name="mediumUsage" type="xsd2:MediumUsage" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomBloc">
    <xsd:sequence>
      <xsd:element name="mainTelecom" type="xsd1:DTypeTelecomPrincipal" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="telecomType" type="xsd2:TelecomType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailBloc">
    <xsd:sequence>
      <xsd:element name="emailtype" type="xsd2:EmailType" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractBloc">
    <xsd:sequence>
      <xsd:element name="contractType" type="xsd2:ContractType" minOccurs="0"/>
      <xsd:element name="signature" type="xsd2:Signature" minOccurs="0" maxOccurs="2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualAddressDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualAddressDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualAdhDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualAdhDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualContactDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualContactDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualContractDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualContractDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualEmailDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualEmailDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualFBDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualFBDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualLightDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualLightDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualPartnerDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualPartnerDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualTelecomDataByIdentifierRequest">
    <xsd:sequence>
      <xsd:element name="request" type="tns:IndividualInformationRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualTelecomDataByIdentifierResponse">
    <xsd:sequence>
      <xsd:element name="response" type="tns:IndividualInformationResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessFault">
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="tns:BusinessError"/>
      <xsd:element name="FaultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERR_001"/>
      <xsd:enumeration value="ERR_133"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sic-ws-provide-individual-data-uml.ProvideIndividualDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
