azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/passenger_SicIndividuType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.6.1, Build 201101210958 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SicIndividuType-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd" schemaLocation="passenger_SicDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="HabilitationElement" type="tns:Habilitation"/>
  <xsd:element name="IndividualInformationExceptionElement" type="tns:IndividualInformationException"/>
  <xsd:element name="IndividualElement" type="tns:Individual"/>
  <xsd:element name="IndividualInformationsElement" type="tns:IndividualInformations"/>
  <xsd:element name="AliasElement" type="tns:Alias"/>
  <xsd:element name="CivilianElement" type="tns:Civilian"/>
  <xsd:element name="ClientUsesElement" type="tns:ClientUses"/>
  <xsd:element name="AirFranceProfilElement" type="tns:AirFranceProfil"/>
  <xsd:element name="IndividualProfilElement" type="tns:IndividualProfil"/>
  <xsd:element name="SignatureElement" type="tns:Signature"/>
  <xsd:element name="PostalAddressTypeElement" type="tns:PostalAddressType"/>
  <xsd:element name="MediumUsageElement" type="tns:MediumUsage"/>
  <xsd:element name="AddressRoleElement" type="tns:AddressRole"/>
  <xsd:element name="TelecomTypeElement" type="tns:TelecomType"/>
  <xsd:element name="EmailTypeElement" type="tns:EmailType"/>
  <xsd:element name="ContractTypeElement" type="tns:ContractType"/>
  <xsd:element name="PostalAddressSICElement" type="tns:PostalAddressSIC"/>
  <xsd:element name="SignatureLightElement" type="tns:SignatureLight"/>

  <!-- types declarations -->
  <xsd:complexType name="Habilitation">
    <xsd:sequence>
      <xsd:element name="userId" type="xsd1:DTypeUserId" minOccurs="0"/>
      <xsd:element name="pwd" type="xsd1:DTypePwd" minOccurs="0"/>
      <xsd:element name="qalPwd" type="xsd1:DTypeQalPwd" minOccurs="0"/>
      <xsd:element name="keyCrypt" type="xsd1:DTypeKeyCrypt" minOccurs="0"/>
      <xsd:element name="newPwd" type="xsd1:DTypePwd" minOccurs="0"/>
      <xsd:element name="role" type="xsd1:DTypeRole" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformationException">
    <xsd:sequence>
      <xsd:element name="NoErr" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LibErr" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Individual">
    <xsd:sequence>
      <xsd:element name="civilian" type="tns:Civilian" minOccurs="0"/>
      <xsd:element name="individualInformations" type="tns:IndividualInformations"/>
      <xsd:element name="alias" type="tns:Alias" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="clientUses" type="tns:ClientUses" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="signature" type="tns:Signature" minOccurs="0" maxOccurs="4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualInformations">
    <xsd:sequence>
      <xsd:element name="clientNumber" type="xsd1:DTypeNumeroClient" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="lastName" type="xsd1:DTypeNom" minOccurs="0"/>
      <xsd:element name="gender" type="xsd1:DTypeSexe" minOccurs="0"/>
      <xsd:element name="personnalIdentity" type="xsd1:DTypeIdentPerso" minOccurs="0"/>
      <xsd:element name="dateOfBirth" type="xsd1:DTypeDate" minOccurs="0"/>
      <xsd:element name="nationality" type="xsd1:DTypeNationalite" minOccurs="0"/>
      <xsd:element name="otherNationality" type="xsd1:DTypeNationalite" minOccurs="0"/>
      <xsd:element name="secondFirstName" type="xsd1:DTypePrenom" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypePrenom" minOccurs="0"/>
      <xsd:element name="flagNoFusion" type="xsd1:DTypeBoolean" minOccurs="0"/>
      <xsd:element name="status" type="xsd1:DTypeStatus" minOccurs="0"/>
      <xsd:element name="flagBankFraud" type="xsd1:DTypeBoolean" minOccurs="0"/>
      <xsd:element name="flagThirdTrap" type="xsd1:DTypeBoolean" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:CiviliteEnum" minOccurs="0"/>
      <xsd:element name="lastNamePseudonym" type="xsd1:DTypeAliasNom" minOccurs="0"/>
      <xsd:element name="firstNamePseudonym" type="xsd1:DTypeAliasPrenom" minOccurs="0"/>
      <xsd:element name="ginFusion" type="xsd1:DTypeGINFusion" minOccurs="0"/>
      <xsd:element name="dateFusion" type="xsd1:DTypeDate" minOccurs="0"/>
      <xsd:element name="password" type="xsd1:DTypeMotDePasse" minOccurs="0"/>
      <xsd:element name="managingCompany" type="xsd1:DTypeCieGestionnaire" minOccurs="0"/>
      <xsd:element name="lastNameSC" type="xsd1:DTypeNom" minOccurs="0"/>
      <xsd:element name="firstNameSC" type="xsd1:DTypePrenom" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Alias">
    <xsd:sequence>
      <xsd:element name="lastName" type="xsd1:DTypeNom" minOccurs="0"/>
      <xsd:element name="firstName" type="xsd1:DTypePrenom" minOccurs="0"/>
      <xsd:element name="civility" type="xsd1:CiviliteEnum" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Civilian">
    <xsd:sequence>
      <xsd:element name="titleCode" type="xsd1:TitleCodeEnum" minOccurs="0"/>
      <xsd:element name="frenchWording" type="xsd1:DTypeLibelleFrancais" minOccurs="0"/>
      <xsd:element name="englishWording" type="xsd1:DTypeLibelleAnglais" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClientUses">
    <xsd:sequence>
      <xsd:element name="srin" type="xsd1:DTypeSrin" minOccurs="0"/>
      <xsd:element name="work" type="xsd1:DTypeMetier" minOccurs="0"/>
      <xsd:element name="authorizedModification" type="xsd1:DTypeModifAutorisee" minOccurs="0"/>
      <xsd:element name="dateOfModification" type="xsd1:DTypeDate" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AirFranceProfil">
    <xsd:sequence>
      <xsd:element name="regimental" type="xsd1:DTypeMatricule" minOccurs="0"/>
      <xsd:element name="rank" type="xsd1:DTypeRang" minOccurs="0"/>
      <xsd:element name="notesAddress" type="xsd1:DTypeAdresseNotes" minOccurs="0"/>
      <xsd:element name="password" type="xsd1:DTypeMotDePasse" minOccurs="0"/>
      <xsd:element name="function" type="xsd1:DTypeFonction" minOccurs="0"/>
      <xsd:element name="rReference" type="xsd1:DTypeReferenceR" minOccurs="0"/>
      <xsd:element name="typology" type="xsd1:DTypeTypologie" minOccurs="0"/>
      <xsd:element name="originCode" type="xsd1:DTypeCodeOrigine" minOccurs="0"/>
      <xsd:element name="compagnyCode" type="xsd1:DTypeCodeCompagnie" minOccurs="0"/>
      <xsd:element name="statusCode" type="xsd1:DTypeCodeStatut" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualProfil">
    <xsd:sequence>
      <xsd:element name="profilKey" type="xsd1:DTypeCleProfil" minOccurs="0"/>
      <xsd:element name="fbOptin" type="xsd1:DTypeIndicMailing" minOccurs="0"/>
      <xsd:element name="flagSolvency" type="xsd1:DTypeBoolean" minOccurs="0"/>
      <xsd:element name="proAreaCode" type="xsd1:DTypeCodeDomainePro" minOccurs="0"/>
      <xsd:element name="proAreaWording" type="xsd1:DTypeLibelDomainePro" minOccurs="0"/>
      <xsd:element name="civilianCode" type="xsd1:DTypeCodeMarital" minOccurs="0"/>
      <xsd:element name="languageCode" type="xsd1:LanguageCodesEnum" minOccurs="0"/>
      <xsd:element name="proFunctionCode" type="xsd1:ProfessionalCodesEnum" minOccurs="0"/>
      <xsd:element name="proFunctionWording" type="xsd1:DTypeLibelFonctionPro" minOccurs="0"/>
      <xsd:element name="childrenNumber" type="xsd1:DTypeNbEnfants" minOccurs="0"/>
      <xsd:element name="customerSegment" type="xsd1:DTypeSegmentClient" minOccurs="0"/>
      <xsd:element name="studentCode" type="xsd1:DTypeCodeEtudiant" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:sequence>
      <xsd:element name="signatureType" type="xsd1:DTypeTypeSignature" minOccurs="0"/>
      <xsd:element name="site" type="xsd1:DTypeSite" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature" minOccurs="0"/>
      <xsd:element name="date" type="xsd1:DTypeDate" minOccurs="0"/>
      <xsd:element name="hour" type="xsd1:DTypeHeure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressType">
    <xsd:sequence>
      <xsd:element name="addressKey" type="xsd1:DTypeCleAdresse" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeCodeMedium" minOccurs="0"/>
      <xsd:element name="flagNormAddress" type="xsd1:DTypeBoolean" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeStatutMedium" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeRaisonSociale" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeVille" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeNumeroRue" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeCodePostal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
      <xsd:element name="cityLineFormat" type="xsd1:DTypeCityLineFormat" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MediumUsage">
    <xsd:sequence>
      <xsd:element name="workCode" type="xsd1:DTypeCodeAppliMetier" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressRole">
    <xsd:sequence>
      <xsd:element name="addressRoleCode" type="xsd1:DTypeCodeRoleAdresse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelecomType">
    <xsd:sequence>
      <xsd:element name="telecomKey" type="xsd1:DTypeCleTelecom" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeStatutMedium" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeCodeMedium" minOccurs="0"/>
      <xsd:element name="terminalType" type="xsd1:DTypeTerminal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeIndicatifPays" minOccurs="0"/>
      <xsd:element name="regionCode" type="xsd1:DTypeIndicatifRegion" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="xsd1:DTypeNumeroTelecom" minOccurs="0"/>
      <xsd:element name="normalizedPhoneNumber" type="xsd1:DTypeNumeroTelecom" minOccurs="0"/>
      <xsd:element name="normalizedCountryCode" type="xsd1:DTypeIndicatifPays" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailType">
    <xsd:sequence>
      <xsd:element name="emailKey" type="xsd1:DTypeCleEmail" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeStatutMedium" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeCodeMedium" minOccurs="0"/>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0"/>
      <xsd:element name="fbOptin" type="xsd1:DTypeAutoriseMailing" minOccurs="0"/>
      <xsd:element name="additionalInformations" type="xsd1:DTypeInfosCompl" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContractType">
    <xsd:sequence>
      <xsd:element name="contractNumber" type="xsd1:DTypeNumeroContrat" minOccurs="0"/>
      <xsd:element name="contractType" type="xsd1:TypeContratEnum" minOccurs="0"/>
      <xsd:element name="productType" type="xsd1:DTypeTypeProduit" minOccurs="0"/>
      <xsd:element name="productSubType" type="xsd1:DTypeSousTypeProduit" minOccurs="0"/>
      <xsd:element name="companyContractType" type="xsd1:DTypeCodeCieContrat" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersionProduit" minOccurs="0"/>
      <xsd:element name="contractStatus" type="xsd1:DTypeEtatContrat" minOccurs="0"/>
      <xsd:element name="validityStartDate" type="xsd1:DTypeDate" minOccurs="0"/>
      <xsd:element name="validityEndDate" type="xsd1:DTypeDate" minOccurs="0"/>
      <xsd:element name="tierLevel" type="xsd1:DTypeNiveauTiers" minOccurs="0"/>
      <xsd:element name="productFamilly" type="xsd1:DTypeFamilleProduit" minOccurs="0"/>
      <xsd:element name="iata" type="xsd1:DTypeIata" minOccurs="0"/>
      <xsd:element name="originCompany" type="xsd1:DTypeOrganismeOrigine" minOccurs="0"/>
      <xsd:element name="adhesionSource" type="xsd1:DTypeSourceAdhesion" minOccurs="0"/>
      <xsd:element name="primePermission" type="xsd1:DTypePermissionPriseDePrime" minOccurs="0"/>
      <xsd:element name="milesBalance" type="xsd1:DTypeSoldeMiles" minOccurs="0"/>
      <xsd:element name="qualifyingMiles" type="xsd1:DTypeMilesQualifiant" minOccurs="0"/>
      <xsd:element name="qualifyingHistMiles" type="xsd1:DTypeMilesQualifiantHist" minOccurs="0"/>
      <xsd:element name="qualifyingFlights" type="xsd1:DTypeSegmentsQualifiant" minOccurs="0"/>
      <xsd:element name="qualifyingHistFlights" type="xsd1:DTypeSegmentsQualifiantHist" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostalAddressSIC">
    <xsd:sequence>
      <xsd:element name="adresseKey" type="xsd1:DTypeCleAdresse" minOccurs="0"/>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0"/>
      <xsd:element name="usageNumber" type="xsd1:DTypeNumeroUsage" minOccurs="0"/>
      <xsd:element name="mediumCode" type="xsd1:DTypeCodeMedium" minOccurs="0"/>
      <xsd:element name="mediumStatus" type="xsd1:DTypeStatutMedium" minOccurs="0"/>
      <xsd:element name="corporateName" type="xsd1:DTypeRaisonSociale" minOccurs="0"/>
      <xsd:element name="city" type="xsd1:DTypeVille" minOccurs="0"/>
      <xsd:element name="additionalInformation" type="xsd1:DTypeComplAdr" minOccurs="0"/>
      <xsd:element name="numberAndStreet" type="xsd1:DTypeNumeroRue" minOccurs="0"/>
      <xsd:element name="district" type="xsd1:DTypeLieuDit" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd1:DTypeCodePostal" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="stateCode" type="xsd1:DTypeCodeProvince" minOccurs="0"/>
      <xsd:element name="addressRole" type="tns:AddressRole" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignatureLight">
    <xsd:sequence>
      <xsd:element name="site" type="xsd1:DTypeSite"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature"/>
      <xsd:element name="ipAddress" type="xsd1:DTypeIpAddress"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(IndividuType.SicIndividuTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
