azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/passenger_SicDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.6.1, Build 201101210958 -->
<xsd:schema

        targetNamespace="http://www.af-klm.com/services/passenger/SicDataType-v1/xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->

  <!-- types declarations -->
  <xsd:simpleType name="TypeContratEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MA"/>
      <xsd:enumeration value="FP">
        <xsd:annotation>
          <xsd:documentation>contrat Flying blue FP ( Frequence Plus)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RP">
        <xsd:annotation>
          <xsd:documentation>contrat Abonn&#xe9;</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AX">
        <xsd:annotation>
          <xsd:documentation>contrat AX AMEX</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="S">
        <xsd:annotation>
          <xsd:documentation>Saphir</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TitleCodeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ADM"/>
      <xsd:enumeration value="AMB"/>
      <xsd:enumeration value="ARC"/>
      <xsd:enumeration value="AVO"/>
      <xsd:enumeration value="BAR"/>
      <xsd:enumeration value="BRE"/>
      <xsd:enumeration value="CAP"/>
      <xsd:enumeration value="CAV"/>
      <xsd:enumeration value="CHA"/>
      <xsd:enumeration value="CJU"/>
      <xsd:enumeration value="CNT"/>
      <xsd:enumeration value="COL"/>
      <xsd:enumeration value="COM"/>
      <xsd:enumeration value="CON"/>
      <xsd:enumeration value="COT"/>
      <xsd:enumeration value="COW"/>
      <xsd:enumeration value="DAM"/>
      <xsd:enumeration value="DEA"/>
      <xsd:enumeration value="DIP"/>
      <xsd:enumeration value="DIR"/>
      <xsd:enumeration value="DOC"/>
      <xsd:enumeration value="DOE"/>
      <xsd:enumeration value="DOT"/>
      <xsd:enumeration value="DUC"/>
      <xsd:enumeration value="EVE"/>
      <xsd:enumeration value="FRE"/>
      <xsd:enumeration value="GEN"/>
      <xsd:enumeration value="GOU"/>
      <xsd:enumeration value="HAD"/>
      <xsd:enumeration value="HIN"/>
      <xsd:enumeration value="HJR"/>
      <xsd:enumeration value="HIH"/>
      <xsd:enumeration value="HKR"/>
      <xsd:enumeration value="HNR"/>
      <xsd:enumeration value="HON"/>
      <xsd:enumeration value="HRH"/>
      <xsd:enumeration value="ING"/>
      <xsd:enumeration value="JUG"/>
      <xsd:enumeration value="LAD"/>
      <xsd:enumeration value="LIE"/>
      <xsd:enumeration value="LOR"/>
      <xsd:enumeration value="MAI"/>
      <xsd:enumeration value="MAJ"/>
      <xsd:enumeration value="MAQ"/>
      <xsd:enumeration value="MAR"/>
      <xsd:enumeration value="MIN"/>
      <xsd:enumeration value="MIS"/>
      <xsd:enumeration value="MMM"/>
      <xsd:enumeration value="MOG"/>
      <xsd:enumeration value="MRR"/>
      <xsd:enumeration value="MRS"/>
      <xsd:enumeration value="MSS"/>
      <xsd:enumeration value="NDA"/>
      <xsd:enumeration value="NUO"/>
      <xsd:enumeration value="PDG"/>
      <xsd:enumeration value="PER"/>
      <xsd:enumeration value="PRE"/>
      <xsd:enumeration value="PRI"/>
      <xsd:enumeration value="PRL"/>
      <xsd:enumeration value="PRO"/>
      <xsd:enumeration value="PRS"/>
      <xsd:enumeration value="PRX"/>
      <xsd:enumeration value="RAB"/>
      <xsd:enumeration value="RAG"/>
      <xsd:enumeration value="REM"/>
      <xsd:enumeration value="REP"/>
      <xsd:enumeration value="REV"/>
      <xsd:enumeration value="SAE"/>
      <xsd:enumeration value="SAL"/>
      <xsd:enumeration value="SAP"/>
      <xsd:enumeration value="SEN"/>
      <xsd:enumeration value="SEX"/>
      <xsd:enumeration value="SHE"/>
      <xsd:enumeration value="SID"/>
      <xsd:enumeration value="SIR"/>
      <xsd:enumeration value="SOE"/>
      <xsd:enumeration value="VCP"/>
      <xsd:enumeration value="VIC"/>
      <xsd:enumeration value="VIT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LanguageCodesEnum">
    <xsd:restriction base="xsd:string">
       <xsd:enumeration value="AA"/>
      <xsd:enumeration value="AB"/>
      <xsd:enumeration value="AF"/>
      <xsd:enumeration value="DI"/>
      <xsd:enumeration value="AK"/>
      <xsd:enumeration value="SQ"/>
      <xsd:enumeration value="AM"/>
      <xsd:enumeration value="AR"/>
      <xsd:enumeration value="AN"/>
      <xsd:enumeration value="HY"/>
      <xsd:enumeration value="AS"/>
      <xsd:enumeration value="AV"/>
      <xsd:enumeration value="AE"/>
      <xsd:enumeration value="AY"/>
      <xsd:enumeration value="AZ"/>
      <xsd:enumeration value="BA"/>
      <xsd:enumeration value="BM"/>
      <xsd:enumeration value="EU"/>
      <xsd:enumeration value="BE"/>
      <xsd:enumeration value="BN"/>
      <xsd:enumeration value="BH"/>
      <xsd:enumeration value="BI"/>
      <xsd:enumeration value="BO"/>
      <xsd:enumeration value="BS"/>
      <xsd:enumeration value="BR"/>
      <xsd:enumeration value="BG"/>
      <xsd:enumeration value="MY"/>
      <xsd:enumeration value="CA"/>
      <xsd:enumeration value="CH"/>
      <xsd:enumeration value="CE"/>
      <xsd:enumeration value="ZH"/>
      <xsd:enumeration value="CU"/>
      <xsd:enumeration value="CV"/>
      <xsd:enumeration value="KW"/>
      <xsd:enumeration value="CO"/>
      <xsd:enumeration value="CR"/>
      <xsd:enumeration value="CY"/>
      <xsd:enumeration value="CS"/>
      <xsd:enumeration value="DA"/>
      <xsd:enumeration value="DE"/>
      <xsd:enumeration value="DV"/>
      <xsd:enumeration value="NL"/>
      <xsd:enumeration value="DZ"/>
      <xsd:enumeration value="EL"/>
      <xsd:enumeration value="EN"/>
      <xsd:enumeration value="EO"/>
      <xsd:enumeration value="ET"/>
      <xsd:enumeration value="EE"/>
      <xsd:enumeration value="FO"/>
      <xsd:enumeration value="FA"/>
      <xsd:enumeration value="FJ"/>
      <xsd:enumeration value="FI"/>
      <xsd:enumeration value="FR"/>
      <xsd:enumeration value="FY"/>
      <xsd:enumeration value="FF"/>
      <xsd:enumeration value="KA"/>
      <xsd:enumeration value="GD"/>
      <xsd:enumeration value="GA"/>
      <xsd:enumeration value="GL"/>
      <xsd:enumeration value="GV"/>
      <xsd:enumeration value="GN"/>
      <xsd:enumeration value="GU"/>
      <xsd:enumeration value="HT"/>
      <xsd:enumeration value="HA"/>
      <xsd:enumeration value="HE"/>
      <xsd:enumeration value="HZ"/>
      <xsd:enumeration value="HI"/>
      <xsd:enumeration value="HO"/>
      <xsd:enumeration value="HR"/>
      <xsd:enumeration value="HU"/>
      <xsd:enumeration value="IG"/>
      <xsd:enumeration value="IS"/>
      <xsd:enumeration value="IO"/>
      <xsd:enumeration value="II"/>
      <xsd:enumeration value="IU"/>
      <xsd:enumeration value="IE"/>
      <xsd:enumeration value="IA"/>
      <xsd:enumeration value="ID"/>
      <xsd:enumeration value="IK"/>
      <xsd:enumeration value="IT"/>
      <xsd:enumeration value="JV"/>
      <xsd:enumeration value="JA"/>
      <xsd:enumeration value="KL"/>
      <xsd:enumeration value="KN"/>
      <xsd:enumeration value="KS"/>
      <xsd:enumeration value="KR"/>
      <xsd:enumeration value="KK"/>
      <xsd:enumeration value="KM"/>
      <xsd:enumeration value="KI"/>
      <xsd:enumeration value="RW"/>
      <xsd:enumeration value="KY"/>
      <xsd:enumeration value="KV"/>
      <xsd:enumeration value="KG"/>
      <xsd:enumeration value="KO"/>
      <xsd:enumeration value="KJ"/>
      <xsd:enumeration value="KU"/>
      <xsd:enumeration value="LO"/>
      <xsd:enumeration value="LA"/>
      <xsd:enumeration value="LV"/>
      <xsd:enumeration value="LI"/>
      <xsd:enumeration value="LN"/>
      <xsd:enumeration value="LT"/>
      <xsd:enumeration value="LB"/>
      <xsd:enumeration value="LU"/>
      <xsd:enumeration value="LG"/>
      <xsd:enumeration value="MK"/>
      <xsd:enumeration value="MH"/>
      <xsd:enumeration value="ML"/>
      <xsd:enumeration value="MI"/>
      <xsd:enumeration value="MR"/>
      <xsd:enumeration value="MS"/>
      <xsd:enumeration value="MG"/>
      <xsd:enumeration value="MT"/>
      <xsd:enumeration value="MN"/>
      <xsd:enumeration value="NA"/>
      <xsd:enumeration value="NV"/>
      <xsd:enumeration value="NR"/>
      <xsd:enumeration value="ND"/>
      <xsd:enumeration value="NG"/>
      <xsd:enumeration value="NE"/>
      <xsd:enumeration value="NN"/>
      <xsd:enumeration value="NB"/>
      <xsd:enumeration value="NO"/>
      <xsd:enumeration value="NY"/>
      <xsd:enumeration value="OC"/>
      <xsd:enumeration value="OJ"/>
      <xsd:enumeration value="OR"/>
      <xsd:enumeration value="OM"/>
      <xsd:enumeration value="OS"/>
      <xsd:enumeration value="PA"/>
      <xsd:enumeration value="PI"/>
      <xsd:enumeration value="PL"/>
      <xsd:enumeration value="PT"/>
      <xsd:enumeration value="PS"/>
      <xsd:enumeration value="QU"/>
      <xsd:enumeration value="RM"/>
      <xsd:enumeration value="RO"/>
      <xsd:enumeration value="RN"/>
      <xsd:enumeration value="RU"/>
      <xsd:enumeration value="SG"/>
      <xsd:enumeration value="SA"/>
      <xsd:enumeration value="SI"/>
      <xsd:enumeration value="SK"/>
      <xsd:enumeration value="SL"/>
      <xsd:enumeration value="SE"/>
      <xsd:enumeration value="SM"/>
      <xsd:enumeration value="SN"/>
      <xsd:enumeration value="SD"/>
      <xsd:enumeration value="SO"/>
      <xsd:enumeration value="ST"/>
      <xsd:enumeration value="ES"/>
      <xsd:enumeration value="SC"/>
      <xsd:enumeration value="SR"/>
      <xsd:enumeration value="SS"/>
      <xsd:enumeration value="SU"/>
      <xsd:enumeration value="SW"/>
      <xsd:enumeration value="SV"/>
      <xsd:enumeration value="TY"/>
      <xsd:enumeration value="TA"/>
      <xsd:enumeration value="TT"/>
      <xsd:enumeration value="TE"/>
      <xsd:enumeration value="TG"/>
      <xsd:enumeration value="TL"/>
      <xsd:enumeration value="TH"/>
      <xsd:enumeration value="TI"/>
      <xsd:enumeration value="TO"/>
      <xsd:enumeration value="TN"/>
      <xsd:enumeration value="TS"/>
      <xsd:enumeration value="TK"/>
      <xsd:enumeration value="TR"/>
      <xsd:enumeration value="TW"/>
      <xsd:enumeration value="UG"/>
      <xsd:enumeration value="UK"/>
      <xsd:enumeration value="UR"/>
      <xsd:enumeration value="UZ"/>
      <xsd:enumeration value="VE"/>
      <xsd:enumeration value="VI"/>
      <xsd:enumeration value="VO"/>
      <xsd:enumeration value="WA"/>
      <xsd:enumeration value="WO"/>
      <xsd:enumeration value="XH"/>
      <xsd:enumeration value="YI"/>
      <xsd:enumeration value="YO"/>
      <xsd:enumeration value="ZA"/>
      <xsd:enumeration value="ZU"/>
      <xsd:enumeration value="CT"/>
      <xsd:enumeration value="MO"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProfessionalCodesEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ADC"/>
      <xsd:enumeration value="ADM"/>
      <xsd:enumeration value="ART"/>
      <xsd:enumeration value="ASC"/>
      <xsd:enumeration value="CAF"/>
      <xsd:enumeration value="CAV"/>
      <xsd:enumeration value="CDC"/>
      <xsd:enumeration value="CDV"/>
      <xsd:enumeration value="CIS"/>
      <xsd:enumeration value="CSL"/>
      <xsd:enumeration value="DAC"/>
      <xsd:enumeration value="DAV"/>
      <xsd:enumeration value="DCN"/>
      <xsd:enumeration value="DCO"/>
      <xsd:enumeration value="DEX"/>
      <xsd:enumeration value="DFI"/>
      <xsd:enumeration value="DIR"/>
      <xsd:enumeration value="DMA"/>
      <xsd:enumeration value="DVE"/>
      <xsd:enumeration value="DZO"/>
      <xsd:enumeration value="GER"/>
      <xsd:enumeration value="ING"/>
      <xsd:enumeration value="PDH"/>
      <xsd:enumeration value="PDR"/>
      <xsd:enumeration value="RDT"/>
      <xsd:enumeration value="SEC"/>
      <xsd:enumeration value="GAP"/>
      <xsd:enumeration value="SVR"/>
      <xsd:enumeration value="SIG"/>
      <xsd:enumeration value="VPR"/>
      <xsd:enumeration value="CPA"/>
      <xsd:enumeration value="TRA"/>
      <xsd:enumeration value="SAL"/>
      <xsd:enumeration value="KAM"/>
      <xsd:enumeration value="AMR"/>
      <xsd:enumeration value="RAM"/>
      <xsd:enumeration value="TAM"/>
      <xsd:enumeration value="AMT"/>
      <xsd:enumeration value="ADS"/>
      <xsd:enumeration value="CRC"/>
      <xsd:enumeration value="HOR"/>
      <xsd:enumeration value="AIR"/>
      <xsd:enumeration value="IMP"/>
      <xsd:enumeration value="IAE"/>
      <xsd:enumeration value="OFM"/>
      <xsd:enumeration value="NGV"/>
      <xsd:enumeration value="FIC"/>
      <xsd:enumeration value="PDG"/>
      <xsd:enumeration value="PDT"/>
      <xsd:enumeration value="MAS"/>
      <xsd:enumeration value="BUY"/>
      <xsd:enumeration value="PCO"/>
      <xsd:enumeration value="CRE"/>
      <xsd:enumeration value="REX"/>
      <xsd:enumeration value="SGL"/>
      <xsd:enumeration value="VRP"/>
      <xsd:enumeration value="CVD"/>
      <xsd:enumeration value="DRH"/>
      <xsd:enumeration value="LIB"/>
      <xsd:enumeration value="MED"/>
      <xsd:enumeration value="OWN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CiviliteEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MR"/>
      <xsd:enumeration value="MRS"/>
      <xsd:enumeration value="MISS"/>
      <xsd:enumeration value="MS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PasswordReturnCodeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="000">
        <xsd:annotation>
          <xsd:documentation>SUCCESS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="133"/>
      <xsd:enumeration value="533"/>
      <xsd:enumeration value="534"/>
      <xsd:enumeration value="535"/>
      <xsd:enumeration value="536"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IdentifierTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EM"/>
      <xsd:enumeration value="FP"/>
      <xsd:enumeration value="PI"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MyActIdentifierTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FP"/>
      <xsd:enumeration value="RP"/>
      <xsd:enumeration value="AX"/>
      <xsd:enumeration value="S"/>
      <xsd:enumeration value="MA"/>
      <xsd:enumeration value="EM"/>
      <xsd:enumeration value="AC"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IdOptionTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FP"/>
      <xsd:enumeration value="AC"/>
      <xsd:enumeration value="RP"/>
      <xsd:enumeration value="S"/>
      <xsd:enumeration value="AX"/>
      <xsd:enumeration value="AI"/>
      <xsd:enumeration value="GIN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePointOfSell">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePwd">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGin">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEmail">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[_a-zA-Z0-9\-]+(\.[_a-zA-Z0-9\-]+)*@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*\.[a-zA-Z]{2,6}"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}|[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{1}|[0-9]{2}[0-9]{2}[0-9]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSexe">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[MFU]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBoolean">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[YN]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStatus">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[VXDTP]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTypeSignature">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[CM]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeHeure">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{2}[0-9]{2}[0-9]{2}|[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIndicMailing">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[NAT]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeMedium">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[DP]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStatutMedium">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[VSITHX]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTerminal">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[MTF]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeVersion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentPerso">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNationalite">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{2,6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePrenom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMotDePasse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCieGestionnaire">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSrin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMetier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeModifAutorisee">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMatricule">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRang">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAdresse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFonction">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeReferenceR">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTypologie">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeOrigine">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeCompagnie">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeStatut">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCleProfil">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{0,16}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeDomainePro">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLibelDomainePro">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeMarital">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLibelFonctionPro">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNbEnfants">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{1,2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSegmentClient">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeEtudiant">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAdressePrincipale">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSite">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSignature">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCleAdresse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroUsage">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRaisonSociale">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeVille">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComplAdr">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroRue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLieuDit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodePostal">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodePays">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeProvince">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCityLineFormat">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="72"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeAppliMetier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeRoleAdresse">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTelecomPrincipal">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCleTelecom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIndicatifPays">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIndicatifRegion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroTelecom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCleEmail">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAutoriseMailing">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[NAT]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroContrat">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTypeProduit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSousTypeProduit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeCieContrat">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeVersionProduit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEtatContrat">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[CPUAS]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNiveauTiers">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ABCMRPJ]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFamilleProduit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIata">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOrganismeOrigine">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSourceAdhesion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePermissionPriseDePrime">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSoldeMiles">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMilesQualifiant">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMilesQualifiantHist">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSegmentsQualifiant">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSegmentsQualifiantHist">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBool">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOption">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentificationNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeInfosCompl">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroClient">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{1,12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAliasNom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAliasPrenom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGINFusion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLibelleFrancais">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLibelleAnglais">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAdresseNotes">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePersonnalQuestion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="260"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePersonnalAnswer">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="260"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePassword">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeReturnCodeConnaxionData">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUserIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBusinessKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUserId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeQalPwd">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyCrypt">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRole">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroTelPaysNormalise">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCleVisa">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePasswordFlag">
    <xsd:restriction base="xsd:integer">
      <xsd:pattern value="[0-9]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAccountID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{6}[a-zA-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIpAddress">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComGroupType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
      <xsd:minLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
      <xsd:minLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMedia">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNewsletterMediaSending">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[EP]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(SicDataType.SicDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
