azure/repind-ri-ws/src/webservices/Individu/EnrollMyAccountCustomerWS/src/main/webapp/WEB-INF/wsdl/V2/passenger_data-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v2/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v2/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="2.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonEnum-v1/xsd" schemaLocation="passenger_SicCommonEnum-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="EnrollMyAccountCustomerResponseElement" type="tns:EnrollMyAccountCustomerResponse"/>
  <xsd:element name="EnrollMyAccountCustomerRequestElement" type="tns:EnrollMyAccountCustomerRequest"/>
  <xsd:element name="SignatureLightElement" type="tns:SignatureLight"/>

  <!-- types declarations -->
  <xsd:complexType name="BusinessError">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="missingParameter" type="xsd:string" minOccurs="0"/>
      <xsd:element name="faultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnrollMyAccountCustomerResponse">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin">
        <xsd:annotation>
          <xsd:documentation>General Identification Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountID" type="xsd1:DTypeAccountID">
        <xsd:annotation>
          <xsd:documentation>Identification number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="email" type="xsd1:DTypeEmail" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>Email address which can be used as User id for login&lt;/span>&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contractType" type="xsd1:DTypeContractType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p class=&quot;MsoNormal&quot;>&lt;span style=&quot;font-family:;&quot;>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>&lt;/span>&lt;/span>&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contractStatus" type="xsd1:DTypeContractStatus" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p class=&quot;MsoNormal&quot;>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>&lt;img height=&quot;1&quot; src=&quot;file:///C:\Users\t490195\AppData\Local\Temp\msohtmlclip1\01\clip_image002.gif&quot; width=&quot;1&quot;>&lt;/img>&lt;img height=&quot;1&quot; src=&quot;file:///C:\Users\t490195\AppData\Local\Temp\msohtmlclip1\01\clip_image002.gif&quot; width=&quot;1&quot;>&lt;/img>Values are:&lt;/span>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>C Confirmed,&lt;/span>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>P &lt;span style=&quot;color:#000000;&quot;>Pending,&lt;/span>&lt;/span>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>U &lt;span style=&quot;color:#000000;&quot;>Used,&lt;/span>&lt;/span>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>A Cancelled,&lt;/span>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>S &lt;span style=&quot;color:#000000;&quot;>Suspended&lt;/span>&lt;/span>&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="productType" type="xsd1:DTypeTypeProduit" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>&lt;span style=&quot;font-family:;&quot;>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>MA&#xa0;: MyAccount&lt;/span>&lt;/span>&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="version" type="xsd1:DTypeVersion" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>&lt;p>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>The aim of this field (number) is to prevent simultaneous modifications on the same element.&lt;/span>&lt;span style=&quot;font-size:8pt;font-family:Tahoma;&quot;>&lt;/span>&lt;/p></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validityStartDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="validityEndDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnrollMyAccountCustomerRequest">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin" minOccurs="0"/>
      <xsd:element name="civility" type="xsd2:CivilityEnum"/>
      <xsd:element name="firstName" type="xsd1:DTypePrenom"/>
      <xsd:element name="lastName" type="xsd1:DTypeNom"/>
      <xsd:element name="emailIdentifier" type="xsd1:DTypeEmail"/>
      <xsd:element name="password" type="xsd1:DTypePassword"/>
      <xsd:element name="languageCode" type="xsd2:LanguageCodesEnum"/>
      <xsd:element name="website" type="tns:WebSiteEnum">
        <xsd:annotation>
          <xsd:documentation>Should be Air France or KLM</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pointOfSale" type="xsd1:DTypePointOfSell">
        <xsd:annotation>
          <xsd:documentation>Market from which the customer requested newsletter subscription for the first time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="optIn" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Local Newsletter subscription authorization</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="directFBEnroll" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="signatureLight" type="tns:SignatureLight"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignatureLight">
    <xsd:sequence>
      <xsd:element name="site" type="xsd1:DTypeSite"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature"/>
      <xsd:element name="ipAddress" type="xsd1:DTypeIpAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERR_903"/>
      <xsd:enumeration value="ERR_932"/>
      <xsd:enumeration value="ERR_384"/>
      <xsd:enumeration value="ERR_134"/>
      <xsd:enumeration value="ERR_111"/>
      <xsd:enumeration value="ERR_133"/>
      <xsd:enumeration value="ERR_905"/>
      <xsd:enumeration value="ERR_530"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="WebSiteEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="KL"/>
      <xsd:enumeration value="AF"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v02.dataV2.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
