azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/V3/passenger_data-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v3/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v3/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/response-v3/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="3.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v3/xsd" schemaLocation="passenger_response-v3.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideIndividualInformationRequestElement" type="tns:ProvideIndividualInformationRequest"/>
  <xsd:element name="ProvideIndividualInformationResponseElement" type="tns:ProvideIndividualInformationResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideIndividualInformationRequest">
    <xsd:sequence>
      <xsd:element name="identificationNumber" type="xsd1:DTypeGenericIdentifier"/>
      <xsd:element name="option" type="xsd1:DTypeOption"/>
      <xsd:element name="requestor" type="xsd2:Requestor"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideIndividualInformationResponse">
    <xsd:sequence>
      <xsd:element name="telecomResponse" type="xsd3:TelecomResponse" minOccurs="0" maxOccurs="4"/>
      <xsd:element name="emailResponse" type="xsd3:EmailResponse" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="postalAddressResponse" type="xsd3:PostalAddressResponse" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="individualResponse" type="xsd3:IndividualResponse" minOccurs="0"/>
      <xsd:element name="contractResponse" type="xsd3:ContractResponse" minOccurs="0" maxOccurs="25"/>
      <xsd:element name="externalIdentifierResponse" type="xsd3:ExternalIdentifierResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="accountDataResponse" type="xsd3:AccountDataResponse" minOccurs="0"/>
      <xsd:element name="prefilledNumbersResponse" type="xsd3:PrefilledNumbersResponse" minOccurs="0" maxOccurs="10"/>
      <xsd:element name="marketingDataResponse" type="xsd3:MarketingDataResponse" minOccurs="0"/>
      <xsd:element name="flyingBlueContractDataResponse" type="xsd3:FlyingBlueContractDataResponse" minOccurs="0"/>
      <xsd:element name="socialNetworkDataResponse" type="xsd3:SocialNetworkDataResponse" minOccurs="0"/>
      <xsd:element name="communicationPreferencesResponse" type="xsd3:CommunicationPreferencesResponse" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="delegationDataResponse" type="xsd3:DelegationDataResponse" minOccurs="0"/>
      <xsd:element name="warningResponse" type="xsd3:WarningResponse" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v03.dataV3.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
