azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/V3/passenger_SicMarketingType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/SicMarketingType-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/SicMarketingType-v1/xsd" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->
  <xsd:element name="MarketingInformationElement" type="tns:MarketingInformation"/>
  <xsd:element name="MaccTutorUMElement" type="tns:MaccTutorUM"/>
  <xsd:element name="MaccTravelPreferencesElement" type="tns:MaccTravelPreferences"/>
  <xsd:element name="MaccTravelDocumentElement" type="tns:MaccTravelDocument"/>
  <xsd:element name="MaccTravelCompanionElement" type="tns:MaccTravelCompanion"/>
  <xsd:element name="MaccPersonalInformationElement" type="tns:MaccPersonalInformation"/>
  <xsd:element name="MaccHandicapElement" type="tns:MaccHandicap"/>
  <xsd:element name="MaccEmergencyContactsElement" type="tns:MaccEmergencyContacts"/>
  <xsd:element name="MaccApisDataElement" type="tns:MaccApisData"/>

  <!-- types declarations -->
  <xsd:complexType name="MarketingInformation">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="travelDocument" type="tns:MaccTravelDocument" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="emergencyContact" type="tns:MaccEmergencyContacts" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="travelPreferences" type="tns:MaccTravelPreferences" minOccurs="0"/>
      <xsd:element name="handicap" type="tns:MaccHandicap" minOccurs="0"/>
      <xsd:element name="apisData" type="tns:MaccApisData" minOccurs="0"/>
      <xsd:element name="tutorUM" type="tns:MaccTutorUM" minOccurs="0" maxOccurs="2"/>
      <xsd:element name="travelCompanion" type="tns:MaccTravelCompanion" minOccurs="0" maxOccurs="8"/>
      <xsd:element name="personalInformation" type="tns:MaccPersonalInformation" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaccTutorUM">
    <xsd:sequence>
      <xsd:element name="civilityTutor" type="tns:CivilityType" minOccurs="0"/>
      <xsd:element name="lastnameTutor" type="tns:NameType" minOccurs="0"/>
      <xsd:element name="firstnameTutor" type="tns:NameType" minOccurs="0"/>
      <xsd:element name="addressTutor" type="tns:AddressUMType" minOccurs="0"/>
      <xsd:element name="postCodeTutor" type="tns:PostCodeTutorType" minOccurs="0"/>
      <xsd:element name="cityTutor" type="tns:CityTutorType" minOccurs="0"/>
      <xsd:element name="codeProvinceTutor" type="tns:CodeProvinceTutorType" minOccurs="0"/>
      <xsd:element name="countryCodeTutor" type="tns:CountryCodeTutorType" minOccurs="0"/>
      <xsd:element name="phoneNumberTutor" type="tns:Phone2Type" minOccurs="0"/>
      <xsd:element name="dialingCodePhoneTutor" type="tns:DialingCodeType" minOccurs="0"/>
      <xsd:element name="mobilePhoneTutor" type="tns:Phone2Type" minOccurs="0"/>
      <xsd:element name="dialingCodeMobileTutor" type="tns:DialingCodeType" minOccurs="0"/>
      <xsd:element name="orderTutor" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaccTravelPreferences">
    <xsd:sequence>
      <xsd:element name="departureCity" type="tns:AirportCodeType" minOccurs="0"/>
      <xsd:element name="departureAirport" type="tns:AirportCodeType" minOccurs="0"/>
      <xsd:element name="arrivalCity" type="tns:AirportCodeType" minOccurs="0"/>
      <xsd:element name="arrivalAirport" type="tns:AirportCodeType" minOccurs="0"/>
      <xsd:element name="meal" type="tns:MealCodeType" minOccurs="0"/>
      <xsd:element name="seat" type="tns:SeatType" minOccurs="0"/>
      <xsd:element name="travelClass" type="tns:TravelClassType" minOccurs="0"/>
      <xsd:element name="boardingPass" type="tns:BoardingPassType" minOccurs="0"/>
      <xsd:element name="customerLeisure" type="tns:LeisureCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaccTravelDocument">
    <xsd:sequence>
      <xsd:element name="type" type="tns:DocumentCodeType" minOccurs="0"/>
      <xsd:element name="number" type="tns:DocumentNumberType" minOccurs="0"/>
      <xsd:element name="expirationDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="nationality" type="tns:NationalityCodeType" minOccurs="0"/>
      <xsd:element name="issueDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="countryIssued" type="tns:CountryCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaccTravelCompanion">
    <xsd:sequence>
      <xsd:element name="civility" type="tns:CivilityType" minOccurs="0"/>
      <xsd:element name="firstName" type="tns:NameType" minOccurs="0"/>
      <xsd:element name="lastName" type="tns:NameType" minOccurs="0"/>
      <xsd:element name="dateOfBirth" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="email" type="tns:EmailType" minOccurs="0"/>
      <xsd:element name="personalInformation" type="tns:MaccPersonalInformation" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaccPersonalInformation">
    <xsd:sequence>
      <xsd:element name="blueBizNumber" type="tns:BlueBizNumber" minOccurs="0"/>
      <xsd:element name="fFPNumber" type="tns:FFPnumberType" minOccurs="0"/>
      <xsd:element name="fFPProgram" type="tns:FFProgramType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaccHandicap">
    <xsd:sequence>
      <xsd:element name="codeHCP1" type="tns:CodeHcpMatType" minOccurs="0"/>
      <xsd:element name="codeHCP2" type="tns:CodeHcpMatType" minOccurs="0"/>
      <xsd:element name="codeHCP3" type="tns:CodeHcpMatType" minOccurs="0"/>
      <xsd:element name="medaCCFlag" type="tns:FlagType" minOccurs="0"/>
      <xsd:element name="medaCCDateStart" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="medaCCDateEnd" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="medaCCAccomp" type="tns:FlagType" minOccurs="0"/>
      <xsd:element name="medaCCTxt" type="tns:MedaTxtType" minOccurs="0"/>
      <xsd:element name="medaMCFlag" type="tns:FlagType" minOccurs="0"/>
      <xsd:element name="medaMCDateStart" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="medaMCDateEnd" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="medaMCAccomp" type="tns:FlagType" minOccurs="0"/>
      <xsd:element name="medaMCTxt" type="tns:MedaTxtType" minOccurs="0"/>
      <xsd:element name="medaLCFlag" type="tns:FlagType" minOccurs="0"/>
      <xsd:element name="medaLCDateStart" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="medaLCDateEnd" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="medaLCAccomp" type="tns:FlagType" minOccurs="0"/>
      <xsd:element name="medaLCTxt" type="tns:MedaTxtType" minOccurs="0"/>
      <xsd:element name="codeMat1" type="tns:CodeHcpMatType" minOccurs="0"/>
      <xsd:element name="length1" type="xsd:int" minOccurs="0"/>
      <xsd:element name="width1" type="xsd:int" minOccurs="0"/>
      <xsd:element name="height1" type="xsd:int" minOccurs="0"/>
      <xsd:element name="lengthPlie1" type="xsd:int" minOccurs="0"/>
      <xsd:element name="widthPlie1" type="xsd:int" minOccurs="0"/>
      <xsd:element name="heightPlie1" type="xsd:int" minOccurs="0"/>
      <xsd:element name="weight1" type="xsd:int" minOccurs="0"/>
      <xsd:element name="codeMat2" type="tns:CodeHcpMatType" minOccurs="0"/>
      <xsd:element name="length2" type="xsd:int" minOccurs="0"/>
      <xsd:element name="width2" type="xsd:int" minOccurs="0"/>
      <xsd:element name="height2" type="xsd:int" minOccurs="0"/>
      <xsd:element name="lengthPlie2" type="xsd:int" minOccurs="0"/>
      <xsd:element name="widthPlie2" type="xsd:int" minOccurs="0"/>
      <xsd:element name="heightPlie2" type="xsd:int" minOccurs="0"/>
      <xsd:element name="weight2" type="xsd:int" minOccurs="0"/>
      <xsd:element name="otherMat" type="tns:OtherMatType" minOccurs="0"/>
      <xsd:element name="dogGuideFlag" type="tns:FlagType" minOccurs="0"/>
      <xsd:element name="dogGuideBreed" type="tns:DogBreedType" minOccurs="0"/>
      <xsd:element name="dogGuideWeight" type="xsd:int" minOccurs="0"/>
      <xsd:element name="oxygFlag" type="tns:FlagType" minOccurs="0"/>
      <xsd:element name="oxygOutput" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaccEmergencyContacts">
    <xsd:sequence>
      <xsd:element name="email" type="tns:EmailType" minOccurs="0"/>
      <xsd:element name="phoneNumber" type="tns:PhoneType" minOccurs="0"/>
      <xsd:element name="lastName" type="tns:NameType" minOccurs="0"/>
      <xsd:element name="firstName" type="tns:NameType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MaccApisData">
    <xsd:sequence>
      <xsd:element name="lastName" type="tns:NameType" minOccurs="0"/>
      <xsd:element name="firstName" type="tns:NameType" minOccurs="0"/>
      <xsd:element name="dateOfBirth" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="gender" type="tns:GenderType" minOccurs="0"/>
      <xsd:element name="greenCardNumber" type="tns:GreenCardNumberType" minOccurs="0"/>
      <xsd:element name="greenCardExpiryDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="countryOfResidence" type="tns:CountryCodeType" minOccurs="0"/>
      <xsd:element name="addressUS" type="tns:AdressType" minOccurs="0"/>
      <xsd:element name="postCodeUS" type="tns:PostCodeType" minOccurs="0"/>
      <xsd:element name="cityUS" type="tns:CityType" minOccurs="0"/>
      <xsd:element name="stateUS" type="tns:StateType" minOccurs="0"/>
      <xsd:element name="redressControlNumber" type="tns:RedressControlType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AdressType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "120"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AirportCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BlueBizNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BoardingPassType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CityCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CityType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CivilityType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DocumentCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DocumentNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FFPnumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FFProgramType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GenderType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GinType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[0-9]{12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GreenCardNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LeisureCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MealCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NameType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NationalityCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PhoneType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PostCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RedressControlType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SeatType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value ="[A-Z]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StateType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TravelClassType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value = "[A-Z]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CodeHcpMatType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ConfidentialType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FlagType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MedaTxtType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OtherMatType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "250"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DogBreedType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AddressUMType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PostCodeTutorType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CityTutorType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "32"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="String2Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Phone2Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "19"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="String4Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ScopeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ContextType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CodeProvinceTutorType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeTutorType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DialingCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value = "4"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(marketingType.SicMarketingTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
