repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/deletepaymentdata/passenger_DeletePaymentPreferencesSchema-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/DeletePaymentPreferencesSchema-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/DeletePaymentPreferencesSchema-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/RepindPPDataType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/RepindPPDataType-v1/xsd" schemaLocation="passenger_RepindPPDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="DeletePaymentPreferencesResponseElement" type="tns:DeletePaymentPreferencesResponse"/>
  <xsd:element name="DeletePaymentPreferencesRequestElement" type="tns:DeletePaymentPreferencesRequest"/>
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>

  <!-- types declarations -->
  <xsd:complexType name="DeletePaymentPreferencesResponse">
    <xsd:sequence>
      <xsd:element name="deletionStatus" type="xsd1:DTypeDeletionStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeletePaymentPreferencesRequest">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd1:DTypeGin"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature"/>
      <xsd:element name="signatureSite" type="xsd1:DTypeSignatureSite"/>
      <xsd:element name="ipAdress" type="xsd1:DTypeIpAdresse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessError">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="missingParameter" type="xsd:string" minOccurs="0"/>
      <xsd:element name="faultDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERR_905"/>
      <xsd:enumeration value="ERR_111"/>
      <xsd:enumeration value="ERR_001"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(paymentpreferencedeletewsv2uml.DeletePaymentPreferencesSchemaV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
