repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/deletepaymentdata/passenger_RepindPPDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<xsd:schema

        targetNamespace="http://www.af-klm.com/services/passenger/RepindPPDataType-v1/xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->

  <!-- types declarations -->
  <xsd:simpleType name="DTypeGin">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePGroupType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePMethod">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePointOfSale">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePFCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePFPreferences">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAirlinePPref">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePFEncryptedPreferences">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="128"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCreationStatus">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ON]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDeletionStatus">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ON]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSignature">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSignatureSite">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIpAdresse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(REPINDPPPType.RepindPPDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
