repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/deletepaymentdata/passenger_DeletePaymentPreferences-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<wsdl:definitions name="DeletePaymentPreferences-v1"

targetNamespace="http://www.af-klm.com/services/passenger/DeletePaymentPreferences-v1/wsdl"
	xmlns:tns="http://www.af-klm.com/services/passenger/DeletePaymentPreferences-v1/wsdl"
	xmlns:xsd1="http://www.af-klm.com/services/passenger/DeletePaymentPreferencesSchema-v1/xsd"
    xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	

  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UNTWSPortBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <!-- If not omitted then the client side expects a timestamp in the answer <sp:IncludeTimestamp /> -->
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.af-klm.com/services/passenger/DeletePaymentPreferencesSchema-v1/xsd" schemaLocation="passenger_DeletePaymentPreferencesSchema-v1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import 
        namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" 	
        schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="msgDeletePaymentPreferencesRequest">
    <wsdl:part name="Request" element="xsd1:DeletePaymentPreferencesRequestElement"/>
  </wsdl:message>
  <wsdl:message name="msgDeletePaymentPreferencesResponse">
    <wsdl:part name="Response" element="xsd1:DeletePaymentPreferencesResponseElement"/>
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
  	<wsdl:part name="faultInfo" element="xsd1:BusinessErrorElement"/>
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part name="faultInfo" element="sft:SystemFault"/>
  </wsdl:message> 

  <wsdl:portType name="DeletePaymentPreferences-v1">
    <wsdl:operation name="deletePaymentPreferences">
      <wsdl:input message="tns:msgDeletePaymentPreferencesRequest"/>
      <wsdl:output message="tns:msgDeletePaymentPreferencesResponse"/>
      <wsdl:fault name="SystemFault" message="tns:systemFault"/>
      <wsdl:fault name="BusinessFault" message="tns:msgBusinessFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DeletePaymentPreferences-v1-soap11http" type="tns:DeletePaymentPreferences-v1">
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UNTWSPortBindingPolicy" />
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deletePaymentPreferences">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/DeletePaymentPreferences-v1/deletePaymentPreferences" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DeletePaymentPreferencesService-v1">
    <wsdl:port name="DeletePaymentPreferences-v1-soap11http" binding="tns:DeletePaymentPreferences-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <!--previous value ToBeSpecified updated-->
      <!-- ENV-WS-W000471-LOCATION -->
      <soap:address location="${ENV-WS-W000471-LOCATION}"/>
    </wsdl:port>
  </wsdl:service>

  <!--PROTECTED REGION ID(DeletePaymentPreferencesV1.0) ENABLED START-->
    <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>
