azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/provideIndividualReferenceTable/V1/passenger_SicCommonDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema

        targetNamespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->

  <!-- types declarations -->
  <xsd:simpleType name="DTypeAddressKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeApplicationCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBusinessAppCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBusinessName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeChannel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeChildrenNb">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCity">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeRoleAddress">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCompanyManager">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeContext">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCountryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCountryId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCustomerNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCustomerSegment">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDomainProCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEmailKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFirstName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFirstNameAlias">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGender">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGinMerged">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeHour">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{2}[0-9]{2}[0-9]{2}|[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLabelDomainPro">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLabelFR">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLabelFunctionPro">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLabelGB">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLastSocialNetworkId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLastSocialNetworkUsed">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLocality">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMailingAuthorisation">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMaritalCode">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMediaStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMediumCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNationality">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOfficeId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOption">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePersonalIdent">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePhoneKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePhoneNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeProfileKey">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{0,16}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeProvinceCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRegionId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSocialNetworkId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="300"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSocialNetworkKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSocialNetworkValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStreetNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStudentCode">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSurname">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSurnameAlias">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTypeSignature">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[CM]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUsageNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeVisaKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWarningCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="70"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWarningDetails">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeZipCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeVille">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeVersionProduit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeVersion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUserIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUserId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTypologie">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTypeProduit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTerminal">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTelecomPrincipal">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStatutMedium">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[VSITHX]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSrin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSousTypeProduit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSourceAdhesion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSoldeMiles">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSite">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSignatureType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSignatureSite">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSignature">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSexe">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[MFU]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSegmentsQualifiantHist">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSegmentsQualifiant">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSearchType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSearchDriving">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRole">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeReferenceR">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRang">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRaisonSociale">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeQalPwd">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePwd">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePrenom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePointOfSell">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePersonnalQuestion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="260"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePersonnalAnswer">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="260"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBonusPermission">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePasswordFlag">
    <xsd:restriction base="xsd:integer">
      <xsd:pattern value="[0-9]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePassword">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeOrganismeOrigine">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroUsage">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroTelecom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroRue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroContrat">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNumeroClient">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{1,12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNom">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNiveauTiers">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ABCMRPJ]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNewValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNationalite">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{2,6}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMotDePasse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeModifAutorisee">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMilesQualifiantHist">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMilesQualifiant">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMetier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMediumStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMedia">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMatricule">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLieuDit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyCrypt">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIpAddress">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeInitialValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeInfosCompl">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentificationNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIata">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeHeure">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{2}[0-9]{2}[0-9]{2}|[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGINFusion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFonction">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFamilleProduit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEtatContrat">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[CPUAS]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEmail">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComplAdr">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCompany">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComGroupType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeStatut">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeProvince">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodePostal">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodePays">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeOrigine">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeMedium">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[DPCEFGLMNRTV]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeCompagnie">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeCieContrat">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeAppliMetier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCleEmail">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCleAdresse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCityLineFormat">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="72"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAutoriseMailing">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[NAT]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAFR">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAdressePrincipale">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAdresseNotes">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAccountID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{6}[a-zA-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeContractType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeManagingCompany">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeScope">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeToken">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeInternationalCountryCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNationalPhoneNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeErrorDetail">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeErrorLabel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="70"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAddressRoleCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAutorisationMailing">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeInternationalPhoneNumber">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNormalizedTerminalTypeDetail">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="70"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLastName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCivility">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLanguageCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeProFunctionCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTitleCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMailOptin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRegimental">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWork">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeContractStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDelegationAction">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDelegationType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCustomerType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFbIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePersonnalizedIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeSecretQuestion">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeWebsiteCarrier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUpdateMode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeNewsletterMediaSending">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTierLevel">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGenericIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeErrorCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDelegationStatus">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeFbIdentifier12">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeExternalIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeExternalIdentifierType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeExternalIdentifierDataKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeExternalIdentifierDataValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUrl">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCurrencyCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRequestor">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePopulationTargeted">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeProcessType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeRelevance">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentificationType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIdentificationValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeGenericIdentifierV2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="300"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCorporateEnvironmentID">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="300"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUserCorporateContractRoleID">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePreferenceType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePreferenceDataKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypePreferenceDataValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeIndividualType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAlertDataValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAlertDataType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAlertID">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeAlertOptIn">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMarketCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeDomainCode">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeTableName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLibelle25">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComPrefId">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComDescription">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComOptin">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComA">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComT">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeComN">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLibelle50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeContext2FA">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeKeyIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeValueIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="500"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeMyActIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeUsedBy">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeCodeRefTable">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLabelFrRefTable">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeLabelEnRefTable">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEventType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEventDetailsKey">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEventDetailsValue">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="300"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sicCommonType.SicCommonDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
