azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/provideIndividualReferenceTable/V1/passenger_response-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/response-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/response-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="RefComprefElement" type="tns:RefCompref"/>
  <xsd:element name="RefComprefCountryMarketElement" type="tns:RefComprefCountryMarket"/>
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>
  <xsd:element name="BusinessErrorBlocElement" type="tns:BusinessErrorBloc"/>
  <xsd:element name="RefGenericCodeLabelsTypeElement" type="tns:RefGenericCodeLabelsType"/>

  <!-- types declarations -->
  <xsd:complexType name="RefCompref">
    <xsd:sequence>
      <xsd:element name="refComprefId" type="xsd1:DTypeComPrefId"/>
      <xsd:element name="domain" type="xsd1:DTypeDomainCode"/>
      <xsd:element name="groupeType" type="xsd1:DTypeComGroupType"/>
      <xsd:element name="type" type="xsd1:DTypeComType"/>
      <xsd:element name="description" type="xsd1:DTypeComDescription"/>
      <xsd:element name="mandatoryOptin" type="xsd1:DTypeComOptin"/>
      <xsd:element name="market" type="xsd1:DTypeMarketCode"/>
      <xsd:element name="defaultLanguage1" type="xsd1:DTypeLanguageCode"/>
      <xsd:element name="defaultLanguage2" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="defaultLanguage3" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="defaultLanguage4" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="defaultLanguage5" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="defaultLanguage6" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="defaultLanguage7" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="defaultLanguage8" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="defaultLanguage9" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="defaultLanguage10" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="fieldA" type="xsd1:DTypeComA"/>
      <xsd:element name="fieldN" type="xsd1:DTypeComN"/>
      <xsd:element name="fieldT" type="xsd1:DTypeComT"/>
      <xsd:element name="media" type="xsd1:DTypeMedia" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RefComprefCountryMarket">
    <xsd:sequence>
      <xsd:element name="codePays" type="xsd1:DTypeCodePays"/>
      <xsd:element name="market" type="xsd1:DTypeMarketCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessError">
    <xsd:complexContent>
      <xsd:extension base="xsd2:BusinessErrorCommon">
        <xsd:sequence>
      <xsd:element name="errorCode" type="tns:BusinessErrorCodeEnum" minOccurs="0"/>
      <xsd:element name="otherErrorCode" type="xsd1:DTypeErrorCode" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessErrorBloc">
    <xsd:sequence>
      <xsd:element name="businessError" type="tns:BusinessError"/>
      <xsd:element name="internalBusinessError" type="xsd2:InternalBusinessError" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RefGenericCodeLabelsType">
    <xsd:sequence>
      <xsd:element name="code" type="xsd1:DTypeCodeRefTable"/>
      <xsd:element name="labelFr" type="xsd1:DTypeLabelFrRefTable"/>
      <xsd:element name="labelEn" type="xsd1:DTypeLabelEnRefTable"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorCodeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERROR_001"/>
      <xsd:enumeration value="ERROR_003"/>
      <xsd:enumeration value="ERROR_120"/>
      <xsd:enumeration value="ERROR_131"/>
      <xsd:enumeration value="ERROR_133"/>
      <xsd:enumeration value="ERROR_134"/>
      <xsd:enumeration value="ERROR_135"/>
      <xsd:enumeration value="ERROR_140"/>
      <xsd:enumeration value="ERROR_209"/>
      <xsd:enumeration value="ERROR_212"/>
      <xsd:enumeration value="ERROR_277"/>
      <xsd:enumeration value="ERROR_382"/>
      <xsd:enumeration value="ERROR_384"/>
      <xsd:enumeration value="ERROR_385"/>
      <xsd:enumeration value="ERROR_387"/>
      <xsd:enumeration value="ERROR_538"/>
      <xsd:enumeration value="ERROR_551"/>
      <xsd:enumeration value="ERROR_701"/>
      <xsd:enumeration value="ERROR_702"/>
      <xsd:enumeration value="ERROR_703"/>
      <xsd:enumeration value="ERROR_705"/>
      <xsd:enumeration value="ERROR_706"/>
      <xsd:enumeration value="ERROR_707"/>
      <xsd:enumeration value="ERROR_708"/>
      <xsd:enumeration value="ERROR_709"/>
      <xsd:enumeration value="ERROR_710"/>
      <xsd:enumeration value="ERROR_711"/>
      <xsd:enumeration value="ERROR_712"/>
      <xsd:enumeration value="ERROR_713"/>
      <xsd:enumeration value="ERROR_714"/>
      <xsd:enumeration value="ERROR_715"/>
      <xsd:enumeration value="ERROR_716"/>
      <xsd:enumeration value="ERROR_717"/>
      <xsd:enumeration value="ERROR_718"/>
      <xsd:enumeration value="ERROR_730"/>
      <xsd:enumeration value="ERROR_731"/>
      <xsd:enumeration value="ERROR_732"/>
      <xsd:enumeration value="ERROR_902"/>
      <xsd:enumeration value="ERROR_905"/>
      <xsd:enumeration value="ERROR_932"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(data.responseV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
