azure/repind-ri-ws/src/webservices/Individu/ProvideIndividualDataWS/src/main/webapp/WEB-INF/wsdl/provideIndividualReferenceTable/V1/passenger_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd"
	xmlns:xsd3="http://www.af-klm.com/services/passenger/response-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonType-v1/xsd" schemaLocation="passenger_SicCommonType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/response-v1/xsd" schemaLocation="passenger_response-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="ProvideIndividualReferenceTableRequestElement" type="tns:ProvideIndividualReferenceTableRequest"/>
  <xsd:element name="ProvideIndividualReferenceTableResponseElement" type="tns:ProvideIndividualReferenceTableResponse"/>

  <!-- types declarations -->
  <xsd:complexType name="ProvideIndividualReferenceTableRequest">
    <xsd:sequence>
      <xsd:element name="tableName" type="xsd1:DTypeTableName"/>
      <xsd:element name="market" type="xsd1:DTypeMarketCode" minOccurs="0"/>
      <xsd:element name="domain" type="xsd1:DTypeDomainCode" minOccurs="0"/>
      <xsd:element name="language" type="xsd1:DTypeLanguageCode" minOccurs="0"/>
      <xsd:element name="country" type="xsd1:DTypeCodePays" minOccurs="0"/>
      <xsd:element name="requestor" type="xsd2:Requestor"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvideIndividualReferenceTableResponse">
    <xsd:sequence>
      <xsd:element name="tableName" type="xsd1:DTypeTableName"/>
      <xsd:element name="refComprefMarketCountry" type="xsd3:RefComprefCountryMarket" minOccurs="0" maxOccurs="1000"/>
      <xsd:element name="refCompref" type="xsd3:RefCompref" minOccurs="0" maxOccurs="10000"/>
      <xsd:element name="refGenericCodeLabelsType" type="xsd3:RefGenericCodeLabelsType" minOccurs="0" maxOccurs="1000"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v01.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
