repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/notifyagencycompany/V1/passenger_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.0, Build 201210301038 -->
<xsd:schema 

targetNamespace="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:tns="http://www.af-klm.com/services/passenger/data-v1/xsd" 
	xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd"
	xmlns:xsd2="http://www.af-klm.com/services/passenger/SicFirmType-v1/xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	version="1.0">


  <!-- xsd imports-->
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <xsd:import namespace="http://www.af-klm.com/services/passenger/SicFirmType-v1/xsd" schemaLocation="passenger_SicFirmType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="NotifyAgencyCompanyMsgElement" type="tns:NotifyAgencyCompanyMsg"/>
  <xsd:element name="ImpactedBlockElement" type="tns:ImpactedBlock"/>

  <!-- types declarations -->
  <xsd:complexType name="NotifyAgencyCompanyMsg">
    <xsd:sequence>
      <xsd:element name="impactedBlock" type="tns:ImpactedBlock" minOccurs="0" maxOccurs="100"/>
      <xsd:element name="gin" type="xsd1:DTypeGin"/>
      <xsd:element name="hierarchyType" type="xsd2:DTypeHierarchyType" minOccurs="0"/>
      <xsd:element name="entityType" type="tns:DTypeEntityType" minOccurs="0"/>
      <xsd:element name="notificationType" type="tns:DTypeNotificationType"/>
      <xsd:element name="commercialZones" type="xsd2:CommercialZones" minOccurs="0" maxOccurs="10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ImpactedBlock">
    <xsd:sequence>
      <xsd:element name="blockName" type="tns:DTypeBlockName"/>
      <xsd:element name="blockIdentifier" type="tns:DTypeBlockIdentifier"/>
      <xsd:element name="notificationType" type="tns:DTypeNotificationType"/>
      <xsd:element name="site" type="xsd1:DTypeSite" minOccurs="0"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DTypeNotificationType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeEntityType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBlockName">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeChangeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DTypeBlockIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(v01.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>
