repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/provideStationInformation/passenger_ProvideStationInformation-v01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--SOA repository reference: W000311-v1.0.0-->
<!--Uploaded in SOA repository on 2011-02-14 13:14:40.237-->
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 1.5.0, Build 201001071402 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.af-klm.com/services/passenger/ProvideStationInformation-v1/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.af-klm.com/services/passenger/geographyOperationData-v1/xsd" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProvideStationInformation-v1" targetNamespace="http://www.af-klm.com/services/passenger/ProvideStationInformation-v1/wsdl">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UNTWSPortBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <!-- If not omitted then the client side expects a timestamp in the answer <sp:IncludeTimestamp /> -->
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema>
      <!--previous value passenger_geographyOperationData-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/passenger/geographyOperationData-v1/xsd" schemaLocation="passenger_geographyOperationData-v1.xsd" />
    </xsd:schema>
    <xsd:schema>
      <!--previous value SystemFault-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="msgProvideStationInformationRequest">
    <wsdl:part element="xsd1:StationRequestElement" name="criteria" />
  </wsdl:message>
  <wsdl:message name="msgProvideStationInformationResponse">
    <wsdl:part element="xsd1:StationResponseElement" name="results" />
  </wsdl:message>
  <wsdl:message name="msgBirdWSStationBusinessFault">
    <wsdl:part element="xsd1:BirdWSStationBusinessFaultElement" name="faultInfo" />
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part element="sft:SystemFault" name="faultInfo" />
  </wsdl:message>
  <wsdl:portType name="ProvideStationInformation-v1">
    <wsdl:operation name="provideStationInformation">
      <wsdl:input message="tns:msgProvideStationInformationRequest" />
      <wsdl:output message="tns:msgProvideStationInformationResponse" />
      <wsdl:fault message="tns:systemFault" name="SystemFault" />
      <wsdl:fault message="tns:msgBirdWSStationBusinessFault" name="BirdWSStationBusinessFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvideStationInformation-v1-soap11http" type="tns:ProvideStationInformation-v1">
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UNTWSPortBindingPolicy" />
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="provideStationInformation">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/ProvideStationInformation-v1/provideStationInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="BirdWSStationBusinessFault">
        <soap:fault name="BirdWSStationBusinessFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvideStationInformationService-v1">
    <wsdl:port binding="tns:ProvideStationInformation-v1-soap11http" name="ProvideStationInformation-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <!--previous value ToBeSpecified updated-->
      <!-- ENV-WS-W000311-LOCATION -->
      <!-- soap:address location="https://ws-qvi-rct.airfrance.fr/passenger/netopcontrol/000311v01" /-->
      <soap:address location="${ENV-WS-W000311-LOCATION}" />
    </wsdl:port>
  </wsdl:service>
  <!--PROTECTED REGION ID(ProvideStationInformationV1.0) ENABLED START-->
  <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>

