repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/createaprospect/passenger_ProspectType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2013-04-05 14:38:44.976--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/ProspectType-v1/xsd" targetNamespace="http://www.af-klm.com/services/passenger/ProspectType-v1/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value passenger_SicCommonDataType-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
  <!--previous value passenger_ProspectDataType-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/ProspectDataType-v1/xsd" schemaLocation="passenger_ProspectDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="IdentificationDataElement" type="tns:IdentificationData"/>
  <xsd:element name="ContextDataElement" type="tns:ContextData"/>
  <xsd:element name="LocalizationDataElement" type="tns:LocalizationData"/>
  <xsd:element name="TelecomsElement" type="tns:Telecoms"/>
  <xsd:element name="MediaElement" type="tns:Media"/>
  <xsd:element name="ProfileInformationElement" type="tns:ProfileInformation"/>
  <xsd:element name="MarketLanguageElement" type="tns:MarketLanguage"/>
  <xsd:element name="CommunicationPreferencesElement" type="tns:CommunicationPreferences"/>
  <xsd:element name="SignatureElement" type="tns:Signature"/>
  <xsd:element name="TimeInformationsElement" type="tns:TimeInformations"/>
  <xsd:element name="ReturnDetailsElement" type="tns:ReturnDetails"/>

  <!-- types declarations -->
  <xsd:complexType name="IdentificationData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="civilityCode" type="xsd1:CivilityEnum"/>
      <xsd:element minOccurs="0" name="lastNameSC" type="xsd1:DTypeSurname"/>
      <xsd:element minOccurs="0" name="firstNameSC" type="xsd1:DTypeFirstName"/>
      <xsd:element minOccurs="0" name="middleNameSC" type="xsd1:DTypeFirstName"/>
      <xsd:element minOccurs="0" name="dateOfBirth" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="nationality" type="xsd1:DTypeNationality"/>
      <xsd:element minOccurs="0" name="otherNationality" type="xsd1:DTypeNationality"/>
      <xsd:element name="email" type="xsd1:DTypeEmail"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContextData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="loggedGin" type="xsd1:DTypeCustomerNumber"/>
      <xsd:element minOccurs="0" name="reconciliationCin" type="xsd1:DTypeCustomerNumber"/>
      <xsd:element name="context" type="xsd2:DTypeContext"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocalizationData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="postalAddress" type="xsd2:DTypePostalAddress"/>
      <xsd:element minOccurs="0" name="zipCode" type="xsd1:DTypeZipCode"/>
      <xsd:element minOccurs="0" name="city" type="xsd1:DTypeCity"/>
      <xsd:element minOccurs="0" name="stateCode" type="xsd2:DTypeStateCode"/>
      <xsd:element minOccurs="0" name="countryCode" type="xsd1:DTypeCountryCode"/>
      <xsd:element minOccurs="0" name="mediumStatus" type="xsd2:DTypeMediumStatus"/>
      <xsd:element minOccurs="0" name="mediumCode" type="xsd2:DTypeMediumCode"/>
      <xsd:element minOccurs="0" name="preferredAirport" type="xsd2:DTypePreferedAirport"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telecoms">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mediumStatus" type="xsd2:DTypeMediumStatus"/>
      <xsd:element minOccurs="0" name="mediumCode" type="xsd2:DTypeMediumCode"/>
      <xsd:element minOccurs="0" name="terminalType" type="xsd2:DTypeTerminal"/>
      <xsd:element minOccurs="0" name="countryCode" type="xsd2:DTypeCountryCodeTelecom"/>
      <xsd:element minOccurs="0" name="normalizedCountryCode" type="xsd2:DTypeCountryCodeTelecom"/>
      <xsd:element minOccurs="0" name="regionCode" type="xsd2:DTypeRegionCodeTelecom"/>
      <xsd:element minOccurs="0" name="phoneNumber" type="xsd2:DTypePhoneNumber"/>
      <xsd:element minOccurs="0" name="normalizedPhoneNumber" type="xsd2:DTypePhoneNumber"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Media">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="media1" type="xsd1:DTypeMedia"/>
      <xsd:element minOccurs="0" name="media2" type="xsd1:DTypeMedia"/>
      <xsd:element minOccurs="0" name="media3" type="xsd1:DTypeMedia"/>
      <xsd:element minOccurs="0" name="media4" type="xsd1:DTypeMedia"/>
      <xsd:element minOccurs="0" name="media5" type="xsd1:DTypeMedia"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProfileInformation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="languageCode" type="xsd1:LanguageCodesEnum"/>
      <xsd:element minOccurs="0" name="carrierCode" type="xsd2:DTypeCarrier"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarketLanguage">
    <xsd:sequence>
      <xsd:element name="market" type="xsd2:DTypeMarket"/>
      <xsd:element name="language" type="xsd1:LanguageCodesEnum"/>
      <xsd:element name="optIn" type="xsd2:DTypeOptIn"/>
      <xsd:element minOccurs="0" name="dateOfConsent" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="media" type="tns:Media"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationPreferences">
    <xsd:sequence>
      <xsd:element name="domain" type="xsd2:DTypeDomain"/>
      <xsd:element name="communicationGroupeType" type="xsd2:DTypeCommunicationType"/>
      <xsd:element name="communicationType" type="xsd2:DTypeCommunicationType"/>
      <xsd:element name="optIn" type="xsd2:DTypeOptIn"/>
      <xsd:element minOccurs="0" name="dateOfConsent" type="xsd:dateTime"/>
      <xsd:element name="subscriptionChannel" type="xsd2:DTypeSubscriptionChannel"/>
      <xsd:element minOccurs="0" name="optInPartner" type="xsd2:DTypeOptIn"/>
      <xsd:element minOccurs="0" name="dateOfConsentPartner" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="dateOfEntry" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="media" type="tns:Media"/>
      <xsd:element minOccurs="0" name="marketLanguage" type="tns:MarketLanguage"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:sequence>
      <xsd:element name="site" type="xsd1:DTypeSite"/>
      <xsd:element name="signature" type="xsd1:DTypeSignature"/>
      <xsd:element name="ipAddress" type="xsd1:DTypeIpAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeInformations">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="creationDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="modificationDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReturnDetails">
    <xsd:sequence>
      <xsd:element name="detailedCode" type="xsd2:DTypeDetailedCode"/>
      <xsd:element name="labelCode" type="xsd2:DTypeLabelCode"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(ProspectType.ProspectTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>