repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/createaprospect/passenger_createAProspectDataType-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2013-04-15 15:41:48.563--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.af-klm.com/services/passenger/ProspectType-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" xmlns:tns="http://www.af-klm.com/services/passenger/createAProspectDataType-v1/xsd" targetNamespace="http://www.af-klm.com/services/passenger/createAProspectDataType-v1/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value passenger_ProspectType-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/ProspectType-v1/xsd" schemaLocation="passenger_ProspectType-v1.xsd"/>
  <!--previous value passenger_SicCommonDataType-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/passenger/SicCommonDataType-v1/xsd" schemaLocation="passenger_SicCommonDataType-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CreateAProspectRequestElement" type="tns:CreateAProspectRequest"/>
  <xsd:element name="CreateAProspectResponseElement" type="tns:CreateAProspectResponse"/>
  <xsd:element name="BusinessErrorElement" type="tns:BusinessError"/>

  <!-- types declarations -->
  <xsd:complexType name="CreateAProspectRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="contextData" type="xsd1:ContextData"/>
      <xsd:element minOccurs="0" name="telecoms" type="xsd1:Telecoms"/>
      <xsd:element name="identificationData" type="xsd1:IdentificationData"/>
      <xsd:element minOccurs="0" name="communicationPreferences" type="xsd1:CommunicationPreferences"/>
      <xsd:element minOccurs="0" name="profileInformation" type="xsd1:ProfileInformation"/>
      <xsd:element minOccurs="0" name="localizationData" type="xsd1:LocalizationData"/>
      <xsd:element name="signature" type="xsd1:Signature"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateAProspectResponse">
    <xsd:sequence>
      <xsd:element name="gin" type="xsd2:DTypeCustomerNumber"/>
      <xsd:element minOccurs="0" name="returnDetails" type="xsd1:ReturnDetails"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BusinessError">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="adhesionError" type="xsd:string"/>
      <xsd:element minOccurs="0" name="marketingError" type="xsd:string"/>
      <xsd:element name="returnCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BusinessErrorTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERR_133"/>
      <xsd:enumeration value="ERR_220"/>
      <xsd:enumeration value="ERR_550"/>
      <xsd:enumeration value="ERR_551"/>
      <xsd:enumeration value="ERR_905"/>
      <xsd:enumeration value="ERR_932"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(sicwscreateaprospectuml.createAProspectDataTypeV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>