repind-batchs/src/Myaccount-batch/src/main/resources/META-INF/wsdl/createaprospect/passenger_CreateAProspect-v01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--SOA repository reference: W0008421.0.0-->
<!--Uploaded in SOA repository on 2013-04-15 15:41:48.711-->
<!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 2.0.0, Build 201105250101 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sft="http://www.af-klm.com/services/common/SystemFault-v1/xsd" xmlns:xsd1="http://www.af-klm.com/services/passenger/createAProspectDataType-v1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/passenger/CreateAProspectService-v1/wsdl" name="CreateAProspectService-v1" targetNamespace="http://www.af-klm.com/services/passenger/CreateAProspectService-v1/wsdl">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UNTWSPortBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <!-- If not omitted then the client side expects a timestamp in the answer <sp:IncludeTimestamp /> -->
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema>
      <!--previous value passenger_createAProspectDataType-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/passenger/createAProspectDataType-v1/xsd" schemaLocation="passenger_createAProspectDataType-v1.xsd" />
    </xsd:schema>
    <xsd:schema>
      <!--previous value SystemFault-v1.xsd updated-->
      <xsd:import namespace="http://www.af-klm.com/services/common/SystemFault-v1/xsd" schemaLocation="SystemFault-v1.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="msgCreateAProspectRequest">
    <wsdl:part element="xsd1:CreateAProspectRequestElement" name="Request" />
  </wsdl:message>
  <wsdl:message name="msgCreateAProspectResponse">
    <wsdl:part element="xsd1:CreateAProspectResponseElement" name="Response" />
  </wsdl:message>
  <wsdl:message name="msgBusinessFault">
    <wsdl:part element="xsd1:BusinessErrorElement" name="faultInfo" />
  </wsdl:message>
  <wsdl:message name="systemFault">
    <wsdl:part element="sft:SystemFault" name="faultInfo" />
  </wsdl:message>
  <wsdl:portType name="CreateAProspectService-v1">
    <wsdl:operation name="createAProspect">
      <wsdl:input message="tns:msgCreateAProspectRequest" />
      <wsdl:output message="tns:msgCreateAProspectResponse" />
      <wsdl:fault message="tns:systemFault" name="SystemFault" />
      <wsdl:fault message="tns:msgBusinessFault" name="BusinessFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateAProspectService-v1-soap11http" type="tns:CreateAProspectService-v1">
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UNTWSPortBindingPolicy" />
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createAProspect">
      <soap:operation soapAction="http://www.af-klm.com/services/passenger/CreateAProspectService-v1/createAProspect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateAProspectServiceService-v1">
    <wsdl:port binding="tns:CreateAProspectService-v1-soap11http" name="CreateAProspectService-v1-soap11http">
      <!-- location value is computed by the SOAREPO application -->
      <!--previous value ToBeSpecified updated-->
      <!-- ENV-WS-W000842-LOCATION -->
      <soap:address location="${ENV-WS-W000842-LOCATION}" />
    </wsdl:port>
  </wsdl:service>
  <!--PROTECTED REGION ID(CreateAProspectServiceV1.0) ENABLED START-->
  <!-- include older services versions here -->
  <!--PROTECTED REGION END-->
</wsdl:definitions>

